<div class="dark-container" style="height: 100%">
	
	<ons-list-item style="border-bottom: 1px solid #535353; color: lightgray; list-style: none;" ng-click="ons.slidingMenu.toggleMenu(); ons.slidingMenu.setAbovePage('pages/kitchen_sink/flickr/navigator.html')">
		<i class="fa fa-flickr"></i> <strong class="space-left">Flickr</strong>
	</ons-list-item>

	<ons-list-item style="border-bottom: 1px solid #535353; color: lightgray; list-style: none;" ng-click="ons.slidingMenu.toggleMenu(); ons.slidingMenu.setAbovePage('pages/kitchen_sink/todo/navigator.html')">
		<i class="fa fa-check-square"></i> <strong class="space-left">Todos</strong>
	</ons-list-item>
	
</div>