<ons-page>
	<ul class="fa-ul">

		<ons-list-item 
			ng-click="ons.slidingMenu.toggleMenu(); ons.slidingMenu.setAbovePage('pages/kitchen_sink/flickr/navigator.html')">			
			<i class="fa fa-li fa-flickr fa-lg" style="top: 25%"></i> <strong>Flickr</strong>			
		</ons-list-item>

		<ons-list-item 
			ng-click="ons.slidingMenu.toggleMenu(); ons.slidingMenu.setAbovePage('pages/kitchen_sink/todo/navigator.html')">			
			<i class="fa fa-li fa-check-square" style="top: 25%"></i> <strong>Todos</strong>
		</ons-list-item>

	</ul>

</ons-page>