<ons-list theme="dark" class="absolute width100 height100 dark-container">
	
	<ons-list-item ng-click="ons.slidingMenu.toggleMenu(); ons.slidingMenu.setAbovePage('pages/kitchen_sink/flickr/navigator.html')">
		<i class="icon-flickr"></i> <strong class="space-left">Flickr</strong>
	</ons-list-item>

	<ons-list-item ng-click="ons.slidingMenu.toggleMenu(); ons.slidingMenu.setAbovePage('pages/kitchen_sink/todo/navigator.html')">
		<i class="icon-check-sign"></i> <strong class="space-left">Todos</strong>
	</ons-list-item>
	
</ons-list>