.bottom-tab-bar {
    position: fixed;
    bottom: 0;
}

.left-icon-tab-bar {
    position: relative;
}

.left-icon-tab-bar i {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
}

.left-icon-tab-bar .tab-bar-right-label {
    position: absolute;
    top: -2px;
    left: 45px;
    width: 40px;
    height: 40px;
    font-size: 12px;
}