
.tab {
  line-height: 1;
}

.tab-icon {
  font-size: 22px;
  padding: 0;
  margin: 0;
}

.tab-label {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.person-list {
  border-top: none;
}

.person {
  line-height: 1;
}

.person-list-header {
  opacity: 0.6;
}

.person-name {
  line-height: 44px;
}

.person-image {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  border-radius: 2px;
}
