.reply-notification {
  position: absolute;
  right: 18px;
  top: 28px;
  font-size: 10px;
  font-weight: 600;
  height: 13px;
  line-height: 13px;
  padding: 0 4px;
  min-width: 13px;
}

.timeline {
  margin-top: 10px;
  margin-bottom: 10px;
}

.timeline-li {
  line-height: 1;
  padding: 10px;
}

.timeline-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.timeline-date {
  float: right;
  font-size: 12px;
  opacity: 0.35;
}

.timeline-from {
  margin: 10px 0 6px 0;
}

.timeline-name {
  font-size: 15px;
  font-weight: 500;
}

.timeline-id {
  font-size: 14px;
  opacity: 0.4;
}

.timeline-message {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.15;
}
