.navi-fontsize {
  font-size: 20px;
}
.navi-rightadjust {
  padding: 0px 3px;
}
.margin-little {
  margin: 8px;
}
.font-bold {
font-weight: 500;
}
.width-full {
  width: 100%;
}
.scroll-area {
  height: 430px;
  overflow-y: scroll;
}
.list-item-container {
  line-height: 14px;
  min-height: 14px;
  font-size: 12px;
}
.border-bottom-less {
  border-bottom: none;
}
.list-item-main {
  padding: 10px 0px 26px 0px;
}
.list-item-main:after {
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}
.list-item-left {
  float:left;
  width: 15%;
}
.list-item-right {
  float:left;
  width: 85%;
}
.list-item-face {
  width: 40px;
  height: 40px;
}
.list-item-name {
  line-height: 16px;
  min-height: 16px;
}
.lucent {
  opacity: 0.4;
}
.list-item-text {
  line-height: 14px;
  min-height: 14px;
}
.list-item-text-image {
  margin-top: 5px;
}
.list-item-time {
  position: absolute;
  right: 10px;
  top: 8px; 
  line-height: 26px;
  opacity: 0.4;
}
.list-item-button1 {
  position: absolute;
  left: 60px;
  bottom: 4px;
  opacity: 0.4;
}
.list-item-button2 {
  position: absolute;
  left: 160px;
  bottom: 4px;
  opacity: 0.4;
}
.list-item-button3 {
  position: absolute;
  left: 260px;
  bottom: 4px;
  opacity: 0.4;
}
.search-area {
  height: 44px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.search-area-input {
  position: absolute;
  left: 4px;
  top: 6px;
  width: 240px;
}
.search-area-icon1 {
  position: absolute;
  right: 44px;
  top: 12px;
  opacity: 0.4;
  font-size: 24px;
}
.search-area-icon2 {
  position: absolute;
  right: 8px;
  top: 12px;
  opacity: 0.4;
  font-size: 24px;
}
.vertical-line {
  position: absolute;
  left: 28px;
  top: 55px;
  background-color: gray;
  width: 2px;
  height: 150px;
}
