.float-left {
    float: left;
}

.list-item-container {
    line-height: 14px;
    min-height: 14px;
    font-size: 12px;
}

.list-item-main {
    padding: 15px 0px 15px 5px;
}

.list-item-main:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.list-item-left {
    width: 60px;
    margin-right: -60px;
    float: left;
}

.list-item-right {
    width: 100%;
    float: right;
}

.list-item-content {
    margin-left: 60px;
    margin-right: 30px;
}

.avator {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.list-top {
    margin-top: -1px;
}

.list-item-name {
    font-weight: 500;
    line-height: 16px;
    min-height: 16px;
}

.list-item-text {
    line-height: 14px;
    min-height: 14px;
}

.list-item-action {
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -10px;
    font-size: 20px;
    line-height: 26px;
    opacity: 0.4;
}

.lucent {
    opacity: 0.4;
}

.bottom-tab-bar {
    position: fixed;
    bottom: 0;
}

.left-icon-tab-bar {
    position: relative;
}

.left-icon-tab-bar i {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
}

.left-icon-tab-bar .tab-bar-right-label {
    position: absolute;
    top: -2px;
    left: 45px;
    width: 40px;
    height: 40px;
    font-size: 12px;
}