.contact-toolbar-buttons * {
  padding-right: 6px;
}

.contact-block {
  background-color: white;
  margin: 12px 8px 12px 8px;
  border: 1px solid #ddd;
  border-top: none;
  -webkit-border-radius: 4px;
  border-radius: 2px;
  background-image: none;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.33);
}

.contact-block-li {
  padding: 0 0 0 0;
  line-height: 1;
  font-weight: 400;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.contact-block-li ons-col {
  padding: 10px 16px 10px 0px;
}

.contact-block-li ons-col.contact-block-col-left {
  padding-left: 16px;
  margin-right: 16px;
}

.contact-block-subdivision ons-col:not(.contact-block-col-left) {
  border-bottom: 1px solid #ddd;
}

.contact-block-header {
  padding: 10px 16px 10px 16px;
  border-bottom: 1px solid #ddd !important;
}

.contact-block-footer {
  border-top: 1px solid #ddd;
}

.contact-icon-container {
  text-align: center;
}

.contact-block-item-title {
  margin-top: 4px;
  font-size: 16px;
  font-weight: 500;
  padding-right: 30px;
  display: block;
  line-height: 1.15;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contact-block-item-details {
  margin-top: 4px;
  font-size: 14px;
  color: #757575;
  line-height: 1.15;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contact-extra-container {
  text-align: center;
  float: right;
}

.contact-extra {
  font-size: 30px;
  margin-top: -4px;
}

.contact-extra ons-icon {
  padding-right: 3px;
}

.contact-extra-seeall ons-icon {
  opacity: 0.4;
}

.contact-about {
  padding: 10px 16px 10px 16px;
}
