.list__item__center {
  overflow: hidden;
}

.inbox-title {
  width: 100%;
}

.inbox-message {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inbox-body {
  color: #757575;
}
