.inbox-interface {
  background-color: #D32F2F;
}

.inbox-interface:active {
  background-color: #D32F2F;
}

.inbox-interface * {
  color: #FFFFFF;
}

.inbox-li {
  line-height: 1;
  padding: 12px 16px 12px 16px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.inbox-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.inbox-clip-icon {
  vertical-align: -20%;
  font-size: 18px;
  margin-right: 4px;
}

.inbox-details {
  float: right;
  font-size: 12px;
  color: #757575;
}

.inbox-date {
  margin-left: 5px;
  font-weight: 900;
  color: #2979FF;
}

.inbox-from {
  margin-bottom: 6px;
}

.inbox-name {
  font-size: 16px;
  font-weight: 900;
  margin: 0px;
}

.inbox-subject {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 900;
  padding-right: 30px;
  display: block;
  line-height: 1.15;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.inbox-message {
  margin-top: 4px;
  font-size: 14px;
  color: #757575;
  line-height: 1.15;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.inbox-fav-star {
  margin-top: -15px;
  padding-left: 10px;
  font-size: 30px;
  float: right;
  color: rgba(0,0,0,0.50);
}

.inbox-fav-star > ons-icon {
  vertical-align: -18%;
}
