<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="../onsen-css-components-blue-basic-theme.css">
    <link rel="stylesheet" href="people.css">

    <script src="lib/onsen/js/onsenui.js"></script>
    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/angular-onsenui.js"></script>
    <script>
      ons.bootstrap();
    </script>

  </head>
  <body>

    <ons-tabbar>
      <ons-tab page="people.html" label="Messages" icon="ion-ios-chatboxes">
      </ons-tab>
      <ons-tab page="people.html" label="Friends" icon="ion-ios-people" active="true">
      </ons-tab>
      <ons-tab page="people.html" label="Me" icon="ion-person">
      </ons-tab>
    </ons-tabbar>

    <ons-template id="people.html">
      <ons-page>
        <ons-toolbar>
          <div class="center">
            Friends
          </div>
          <div class="right">
            <ons-toolbar-button>
              <ons-icon icon="ion-plus"></ons-icon>
            </ons-toolbar-button>
          </div>
        </ons-toolbar>

        <div class="navigation-bar">
          <div class="navigation-bar__center">

            <input type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search">

          </div>
        </div>

        <ons-list class="person-list" ng-repeat="char in ['A', 'B', 'C', 'D', 'E']">
          <ons-list-header class="person-list-header">{{char}}</ons-list-header>
          <ons-list-item class="person" modifier="tappable" ng-repeat="i in [1,2,3,4,5]">
            <ons-row>
              <ons-col width="40px">
              <img src="images/profile-image-0{{i}}.png" class="person-image">
              </ons-col>
              <ons-col class="person-name">
                Ann Taylor
              </ons-col>
            </ons-row>
          </ons-list-item>
        </ons-list>



      </ons-page>
    </ons-template>

  </body>
</html>
