
.plan-list {
  border-top: none;
  background-image: none !important;
}

.plan {
  line-height: 1;
  padding: 0;
}

.plan-left {
  text-align: right;
  padding: 10px 10px 10px 0;
}

.plan-center {
  background-color: #3399ff;
  opacity: 0.5;
}

.plan-right {
  padding: 10px 40px 10px 10px;
}

.plan-date {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 4px;
  font-weight: 500;
}

.plan-duration {
  font-size: 11px;
  opacity: 0.4;
}

.plan-name {
  font-size: 17px;
  margin-bottom: 8px;
}

.plan-info {
  opacity: 0.4;
  font-size: 12px;
  line-height: 1.4;
}
