.page--menu-page__background {
  background-color: #333;
  color: white;
}

.menu-close,
.menu-close > .toolbar-button {
  color: #999;
}

.menu-list,
.menu-item:first-child,
.menu-item {
  background-color: transparent;
  background-image: none !important;
  border-color: transparent;
  color: #fff;
}

.menu-item {
  padding: 0 0 0 20px;
  line-height: 52px;
  height: 52px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-item > ons-icon {
  font-size: 24px;
  margin-right: 6px;
}

.menu-notification {
  display: inline-block;
  margin: -2px 0px 0px 4px;
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  min-width: 16px;
  font-weight: 600;
}

.bottom-menu-list,
.bottom-menu-item:first-child,
.bottom-menu-item {
  border-color: #393939;
  background-color: transparent;
  background-image: none !important;
  color: #ccc;
}

.bottom-menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}
