<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="../onsen-css-components-blue-basic-theme.css">
    <link rel="stylesheet" href="sliding_menu.css">

    <script src="lib/onsen/js/onsenui.js"></script>
    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/angular-onsenui.js"></script>
    <script>
      ons.bootstrap();
      ons.ready(function() {
        menu.openMenu();
      });
    </script>

  </head>
  <body>

    <ons-sliding-menu main-page="page.html" menu-page="menu.html" max-slide-distance="260px" type="push" var="menu">
    </ons-sliding-menu>

    <ons-template id="page.html">
      <ons-page>
        <ons-toolbar>
          <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()">
              <ons-icon icon="ion-navicon"></ons-icon>
            </ons-toolbar-button>
          </div>
          <div class="center">Title</div>
        </ons-toolbar>

      </ons-page>
    </ons-template>

    <ons-template id="menu.html">
      <ons-page modifier="menu-page">
        <ons-list class="menu-list">
          <ons-list-item class="menu-item" ng-click="menu.closeMenu()">
            <ons-icon icon="fa-plus"></ons-icon>
            New Post
          </ons-list-item>

          <ons-list-item class="menu-item" ng-click="menu.closeMenu()">
            <ons-icon icon="fa-bookmark"></ons-icon>
            Bookmark
          </ons-list-item>

          <ons-list-item class="menu-item" ng-click="menu.closeMenu()">
            <ons-icon icon="fa-twitter"></ons-icon>
            Official Twitter
          </ons-list-item>
        </ons-list>

        <br>

        <ons-list class="bottom-menu-list">
          <ons-list-item class="bottom-menu-item" ng-click="menu.closeMenu()">
            Settings
            <div class="notification menu-notification">3</div>
          </ons-list-item>

          <ons-list-item class="bottom-menu-item" ng-click="menu.closeMenu()">
            Help
          </ons-list-item>

          <ons-list-item class="bottom-menu-item" ng-click="menu.closeMenu()">
            Send feedback
          </ons-list-item>
        </ons-list>



      </ons-page>
    </ons-template>

  </body>
</html>
