//base color
$gray-base:     #000;
$gray-lv1:      #403f44;
$gray-lv2:      #666;
$gray-lv3:      #999;
$gray-lv4:      #ccc;
$gray-lv5:      #ddd;
$gray-lv6:      #e6e6e6;
$gray-lv7:      #eee;

$theme-lv1:     #3E50B4;
$theme-lv2:     #7C88CC;
$theme-lv3:     #D8DCF0;

$primary-lv1:   #2196F3;
$primary-lv2:   #68B8F7;
$primary-lv3:   #D3EAFD;

$success-lv1:   #60BE29;
$success-lv2:   #93D36E;
$success-lv3:   #DFF2D4;

$warning-lv1:   #EF971C;
$warning-lv2:   #F4B865;
$warning-lv3:   #FCEAD2;

$danger-lv1:    #E24034;
$danger-lv2:    #EB7D75;
$danger-lv3:    #F9D9D6;


$brand-white:   #fff;
$brand-transparent: transparent;

$body-bg-color: #e8e9ec;
