.page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;  
}

.onsen_bottom-toolbar {
	position: absolute;
	bottom: 0;
	height: 2.5rem;
	width: 100%;
}