<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Popover | Onsen UI</title>  
  <link rel="stylesheet" href="../styles/app.css"/>
  <link rel="stylesheet" href="../../build/css/onsenui.css">
  <link rel="stylesheet" href="../../build/css/onsen-css-components.css">

  <script src="../../build/js/angular/angular.js"></script>    
  <script src="../../build/js/onsenui.js"></script>    
  <script src="../app.js"></script>  

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  
  <script>
    var pop;

    var app = angular.module('myApp');

    ons.ready(function() {
      ons.createPopover('popover.html').then(function(popover) {
        pop = popover;
      });
    });

    app.controller('MyController', function($scope) {
      $scope.toggle = function(idx) {
        if (pop.isShown()) {
          pop.hide();
        } else {
          pop.show(document.querySelectorAll('ons-button')[idx]);
        }
      };
    });
  </script>
  
</head>

<body ng-controller="MyController">    
  <ons-page>
    <ons-toolbar>
      <div class="center">Popover</div>
    </ons-toolbar>

    <div style="text-align: center">
    
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <ons-button ng-click="toggle(0)">Click me!</ons-button>
      <ons-button ng-click="toggle(1)">Click me!</ons-button>
    </div>
  </ons-page>

  <script type="text/ons-template" id="popover.html">
    <ons-popover animation="fade" cancelable>
      This is a button!
    </ons-popover>
  </script>
  
</body>
</html>
