<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Checkbox | Onsen UI</title>
  <link rel="stylesheet" href="../styles/app.css"/>
  <link rel="stylesheet" href="../../build/css/onsenui.css">
  <link rel="stylesheet" href="../../build/css/onsen-css-components.css">

  <script src="../../build/js/onsenui.js"></script>
  <script src="../../build/js/angular/angular.js"></script>
  <script src="../../build/js/angular-onsenui.js"></script>
  <script src="../app.js"></script>

  <style type="text/css">
  section {
    border-bottom: solid 1px #ccc;
  }
  </style>

</head>

<body>

  <ons-page>
    <ons-toolbar>
      <div class="center">Checkbox</div>
    </ons-toolbar>

    <ons-list>
      <ons-list-header>Checkbox</ons-list-header>
      <ons-list-item modifier="tappable">
        <label class="checkbox" style="width: 100%; padding: 10px 0; margin: 0;">
          <input type="checkbox" class="checkbox__input" ng-model="a">
          <div class="checkbox__checkmark"></div>
          {{a ? 'YES' : 'NO'}}
        </label>
      </ons-list-item>

      <ons-list-header>No border Checkbox</ons-list-header>
      <ons-list-item modifier="tappable">
        <label class="checkbox checkbox--noborder" style="width: 100%; padding: 10px 0; margin: 0;">
          <input type="checkbox" class="checkbox__input checkbox--noborder__input" ng-model="b">
          <div class="checkbox__checkmark checkbox--noborder__checkmark"></div>
          {{b ? 'YES' : 'NO'}}
        </label>
      </ons-list-item>
    </ons-list>

    <ons-list>
      <ons-list-header>Checkbox</ons-list-header>
      <ons-list-item modifier="tappable">
        <label class="checkbox checkbox--material" style="width: 100%; padding: 10px 0; margin: 0;">
          <input type="checkbox" class="checkbox__input checkbox--material__input" ng-model="c">
          <div class="checkbox__checkmark checkbox--material__checkmark"></div>
          {{c ? 'YES' : 'NO'}}
        </label>
      </ons-list-item>

      <ons-list-item modifier="tappable">
        <label class="checkbox checkbox--material" style="width: 100%; padding: 10px 0; margin: 0;">
          <input type="checkbox" class="checkbox__input checkbox--material__input" ng-model="d" disabled>
          <div class="checkbox__checkmark checkbox--material__checkmark"></div>
          {{d ? 'YES' : 'NO'}}
        </label>
      </ons-list-item>
    </ons-list>


  </ons-page>

</body>
</html>
