<ons-navigator>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="ons.slidingMenu.toggleMenu();"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center">Todos</div>
  </ons-toolbar>

  <div ng-controller="TodosController">

    <ons-list>
      <ons-list-item class="no-wrap ios7-no-active">
        <form novalidate name="todoForm" ng-submit="addTodo(newTodo.text); newTodo.text=''; ">
          <ons-row style="margin-top: 8px">
            <ons-col>
              <input type="text" class="text-input" name="todoText" ng-model="newTodo.text" placeholder="What to do?" style="width: 100%; margin-top: 2px;"></input>
            </ons-col>
            <ons-col width="80px" style="padding-left: 4px">
              <ons-button class="inline-block todo-add-button">Add</ons-button>
            </ons-col>
          </ons-row>
        </form>
      </ons-list-item>

      <ons-list-item class="no-wrap ios7-no-active" ng-repeat="todo in todos">
        <ons-row>
          <ons-col class="list__item__line-height">
            {{todo.text}}
          </ons-col>
          <ons-col size="20"  class="list__item__line-height center">
            <span class="icon-button--quiet" ng-click="removeTodo($index)">
              <i class="fa fa-times" style="font-size: 24px"></i>
            </span>
          </ons-col>
        </ons-row>
      </ons-list-item>  
    
    </ons-list>
  </div>

</ons-navigator>
