/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.zippy {
  border: 1px solid black;
  display: inline-block;
  width: 250px;
}
.zippy.opened > .title:before { content: '▼ '; }
.zippy.opened > .body { display: block; }
.zippy.closed > .title:before { content: '► '; }
.zippy.closed > .body { display: none; }
.zippy > .title {
  background-color: black;
  color: white;
  padding: .1em .3em;
  cursor: pointer;
}
.zippy > .body {
  padding: .1em .3em;
}

.red{
  background-color: darkred;
}

.blue{
  background-color: blue;
}


.animate-enter {
  -webkit-transition: 0.25s; /* Chrome */
  transition: 0.25s;
  /*opacity: 0;*/
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);

}

.animate-enter-reverse {
  -webkit-transition: 0.25s; /* Chrome */
  transition: 0.25s;
  /*opacity: 0;*/
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.animate-enter.animate-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /*opacity: 1;*/
}

.animate-enter-reverse.animate-enter-reverse-active{
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
 


.animate-leave{
  -webkit-transition: 0.25s; /* Chrome */
  transition: 0.25s;
  -webkit-transform: translate3d(0, 0, 0);  
  transform: translate3d(0, 0, 0);  
  /*opacity: 1;*/
}

.animate-leave-reverse{
  -webkit-transition: 0.25s; /* Chrome */
  transition: 0.25s;
  -webkit-transform: translate3d(0, 0, 0);  
  transform: translate3d(0, 0, 0);  
  /*opacity: 1;*/
}

.animate-leave-reverse-active{
  -webkit-transition: 0.25s; /* Chrome */
  transition: 0.25s;
  -webkit-transform: translate3d(100%, 0, 0);  
  transform: translate3d(100%, 0, 0);  
  /*opacity: 1;*/
}

.animate-leave.animate-leave-active{
  -webkit-transform: translate3d(-100%, 0, 0);  
  transform: translate3d(-100%, 0, 0);  
  /*opacity: 1;*/
}


.closed {
  background-color: gray;
}

.opened {
  background-color: lightgray;
}