#navigation {    
    border-bottom: lightgray solid 1px;
}

.content {    
    position: absolute;
    top: 64px;
    bottom: 0;        
    left:0;
    right: 0;
    /*overflow-y: auto;*/
    background-color: #E5E9E8;    
}
