.transition {
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    transition-duration: .25s;
}

.open{
    -webkit-transform: translate3d(70%, 0, 0);
    -moz-transform: translate3d(70%, 0, 0);
    transform: translate3d(70%, 0, 0);
}

.close{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.menu {
    z-index: -1;
    background-color : gray;
}

.behind {
    
}

.above {
    box-shadow: 0 0 20px 4px #000;
}

.full-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
}



