ons-page, ons-navigator,
ons-tabbar,
ons-gesture-detector {
  display: block;
  touch-action: manipulation; /* Remove click delay */
}

ons-navigator,
ons-tabbar,
ons-splitter,
ons-action-sheet,
ons-dialog,
ons-toast,
ons-alert-dialog {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  touch-action: manipulation; /* Remove click delay */
}

ons-toast {
  pointer-events: none;
}

ons-toast .toast {
  pointer-events: auto;
}

ons-tab {
  transform: translate3d(0, 0, 0);
}

ons-page, ons-navigator, ons-tabbar, ons-dialog, ons-alert-dialog, ons-action-sheet, ons-toast {
  z-index: 2;
}

ons-fab, ons-speed-dial {
  z-index: 10001;
}

ons-toolbar:not([inline]), ons-bottom-toolbar {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10000;
}

ons-toolbar:not([inline]) {
  top: 0;
}

ons-bottom-toolbar {
  bottom: 0;
}

.page, .page__content,
.page--material, .page--material__content {
  background-color: transparent !important;
  background: transparent !important;
}

.page__content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  -ms-touch-action: pan-y;
}

.page.overflow-visible,
.page.overflow-visible .page,
.page.overflow-visible .page__content,
.page.overflow-visible ons-navigator,
.page.overflow-visible ons-splitter {
  overflow: visible;
}

.page.overflow-visible .page__content.content-swiping,
.page.overflow-visible .page__content.content-swiping .page,
.page.overflow-visible .page__content.content-swiping .page__content {
  overflow: auto;
}

.page[status-bar-fill] > .page__content {
  top: 20px;
}

.page[status-bar-fill] > .toolbar {
  padding-top: 20px;
  box-sizing: content-box;
}

.page[status-bar-fill] > .toolbar:not(.toolbar--transparent) + .page__background,
.page[status-bar-fill] > .toolbar:not(.toolbar--cover-content) + .page__background + .page__content {
  top: 64px;
}

.page[status-bar-fill] > .toolbar--material:not(.toolbar-transparent) + .page__background,
.page[status-bar-fill] > .toolbar--material:not(.toolbar--cover-content) + .page__background + .page__content {
  top: 76px;
}

.page[status-bar-fill] > .toolbar.toolbar--transparent + .page__background {
  top: 0;
}

ons-tabbar[status-bar-fill] > .tabbar--top__content {
  top: 71px;
}

ons-tabbar[status-bar-fill] > .tabbar--top {
  padding-top: 22px;
}

ons-tabbar[position="top"] .page[status-bar-fill] > .page__content {
  top: 0px;
}

.toolbar + .page__background + .page__content ons-tabbar[status-bar-fill] > .tabbar--top {
  top: 0px;
}

.toolbar + .page__background + .page__content ons-tabbar[status-bar-fill] > .tabbar--top__content {
  top: 49px;
}

.page__content > .list:not(.list--material):first-child {
  margin-top: -1px; /* Avoid double border with toolbar */
}

.page--wrapper > .page__background {
  display: none;
}

ons-action-sheet[disabled],
ons-dialog[disabled],
ons-alert-dialog[disabled],
ons-popover[disabled] {
  pointer-events: none;
  opacity: 0.75;
}

ons-list-item[disabled] {
   pointer-events: none;
}

ons-range[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

ons-pull-hook {
  position: relative;
  display: block;
  margin: auto;
  text-align: center;
  z-index: 20002;
}

ons-splitter, ons-splitter-mask, ons-splitter-content, ons-splitter-side {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  z-index: 0;
}

ons-splitter-mask {
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  opacity: 0;
}

ons-splitter-content {
  z-index: 2;
}

ons-splitter-side {
  right: auto;
  z-index: 2;
}

ons-splitter-side[side="right"] {
  right: 0;
  left: auto;
}

ons-splitter-side[mode="collapse"] {
  z-index: 5;
  left: auto;
  right: 100%;
}

ons-splitter-side[side="right"][mode="collapse"] {
  right: auto;
  left: 100%;
}

ons-splitter-side[mode="split"] {
  z-index: 3;
}

ons-toolbar-button > ons-icon[icon*="ion-"] {
  font-size: 26px;
}

ons-range, ons-select {
  display: inline-block;
}

ons-range > input {
  min-width: 50px;
  width: 100%;
}

ons-select > select {
  width: 100%;
}

ons-carousel[disabled] {
  pointer-events: none;
  opacity: 0.75;
}

ons-carousel[fullscreen] {
  height: 100%;
}

.ons-status-bar-mock {
  position: absolute;
  width: 100%;
  height: 20px;
  padding: 0 16px 0 6px;
  box-sizing: border-box;
  z-index: 30000;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 20px;
  font-family: Arial, Helvetica;
}

.ons-status-bar-mock i {
  padding: 0 2px;
}

.ons-status-bar-mock.android {
  color: white;
  background-color: #222;
  font-family: Roboto, Arial, Helvetica;
}

.ons-status-bar-mock.android ~ * {
  top: 20px;
  bottom: 0;
  position: inherit;
  width: 100%;
}

.ons-ios-scroll-fix .page:not(.page--wrapper)[shown] > .page__content {
  overflow-y: hidden;
}
.ons-ios-scroll-fix ons-splitter-side > .page:not(.page--wrapper)[shown] > .page__content {
  overflow-y: auto;
}
