<div>	
	<div id="navigation" class="topcoat-navigation-bar">
	    <div class="topcoat-navigation-bar__item left quarter">
	        <span ng-click="leftButtonClicked();" id="left-button" class="topcoat-icon-button--quiet">
	          <span id="left-button-icon" ng-class="{true:'topcoat-icon topcoat-icon--back', false:'topcoat-icon topcoat-icon--menu-stack'}[canGoBack]"></span>
	        </span>
	    </div> 
	    <div id="center" class="topcoat-navigation-bar__item center half">
	        <span id="title" class="topcoat-navigation-bar__title">{{navigationItem.title}}</span>        
	    </div> 
	    <div class="topcoat-navigation-bar__item right quarter">
	        <span ng-click="rightButtonClicked();" id="right-button" class="topcoat-icon-button--quiet">
	          <span id="right-button-icon" class="topcoat-icon topcoat-icon--{{rightButtonIcon}}"></span>
	        </span>
	    </div>
	</div>    
	<ng-include id="content-region" class="content" src="navigationItem.source" ng-animate="getAnimation()"></ng-include>
</div>