body {
    font-family: 'Helvetica Neue';
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
input {
    outline:0px none black;
}
.container {
}

.header {

}

.key-visual {
    background-color: #4d1a1a;
    background-image: url('../images/bg_keyvisual.png');
    height: 579px;
    width: 100%;
}

.key-visual-contents {
    margin: 0 auto;
    position: relative;
    width: 1100px;
}

.key-visual-contents .kv-logo {
    position: absolute;
    left: 0;
    top: 62px;
}

.key-visual-contents .kv-title {
    color: #d6cece;
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
    text-shadow: 0px 1px 1px rgba(6, 0, 1, 0.75);

    position: absolute;
    left: 0;
    top: 128px;

}

.key-visual-contents .kv-description {
    color: #e48484;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;

    position: absolute;
    left: 0;
    top: 211px;
}

.key-visual-contents .kv-mag-message {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #d4aeae;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;

    position: absolute;
    left: 2px;
    top: 317px;
}

.key-visual-contents .kv-mag-form {
    width: 560px;
    position: absolute;
    left: 0;
    top: 360px;
}

.key-visual-contents .kv-mag-form-email {
    float: left;
}

.key-visual-contents .kv-mag-form-email input {
    background-color: #301111;
    border-radius: 2px;
    /* @todo ボ�?ター�?��まく半透�?にできな�?? borderでalphaはできな�?�?*/
    border-color: rgba(255, 255, 255, 0);
    color: #f9f9f9;
    height: 54px;
    line-height: 54px;
    padding: 0 20px;
    width: 340px;
}

.key-visual-contents .kv-mag-form-button {
    float: right;
}

.key-visual-contents .kv-mag-form-button input {
    background-color: rgba(255, 255, 255, 0);
    color: #f9f9f9;
    border-color: #ffffff;
    border-radius: 3px;
    float: right;
    height: 54px;
    width: 200px;
}

.key-visual-contents .kv-mag-sns {
    position: absolute;
    left: 0;
    top: 520px;
}

.key-visual-contents .kv-graphic img {
    display: none;
    position: absolute;
    right: -40px;
    top: 0;
}

.section-margin {
    margin: 40px 0;
}

.contents {
}

.contents .twitter-screen-name {
    text-align: center;
}

.contents .twitter-screen-name img {
    vertical-align: -21px;
}

.contents .twitter-message {
    color: #017fbd;
    font-family: 'Marck Script', cursive;
    font-size: 46px;
    margin-top: 20px;
    text-align: center;
    letter-spacing: -0.08em;
}

.about-onsenui {
    position: relative;
    width: 900px;
    margin: 0 auto;
    min-height: 550px;
}

.about-onsenui .about-onsenui-message {
    text-align: left;
    width: 488px;

    position: absolute;
    left: 0;
    top: 0;
}

.about-onsenui .about-onsenui-text {
    color: rgba(153, 153, 153, 100);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
}

.about-onsenui .about-onsenui-text-detail {
    color: rgba(255, 26, 51, 100);
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}

.about-onsenui .parts-iphone {
    background: url('../images/device_iphone5c_382px.png') no-repeat;
    height: 715px;
    width: 382px;

    position: absolute;
    right: -40px;
    top: 0;
}

.about-onsenui .parts-iphone .display-items img{
    display: none;
    height: 456px;
    width: 258px;

    position: absolute;
    right: 62px;
    top: 96px;
}

.footer {
    text-align: center;
}

.font-color-strong {
    color: rgba(255, 26, 51, 100);
}

.headline {
    color: rgba(85, 85, 85, 100);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 46px;
    font-weight: 700;
}

.mag-onsenui {
    background-color: #f4eee1;
    margin: 0 auto;
    padding: 80px 0;
}

.mag-onsenui-message {
    text-align: center;
}

.mag-onsenui .mag-form {
    width: 660px;
    margin: 60px auto;
}

.mag-onsenui .mag-form-email {
    float: left;
}

.mag-onsenui .mag-form-email input {
    background-color: #e4dbc9;
    border-radius: 3px;
    border-color: rgba(255, 255, 255, 0);
    color: rgba(85, 85, 85, 100);
    font-size: 24px;
    height: 67px;
    padding: 0 20px;
    width: 400px;
}

.mag-onsenui .mag-form-button {
    float: right;
}

.mag-onsenui .mag-form-button input {
    background-color: rgba(255, 255, 255, 0);
    border-color: #ff0f38;
    border-radius: 3px;
    color: #ff0f38;
    font-size: 21px;
    font-family: Helvetica;
    font-weight: 400;
    line-height: 1;
    float: right;
    height: 67px;
    width: 240px;
}

.twitter-and-github {
    color: #555555;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    font-weight: 300;
    height: 51px;
    line-height: 51px;
    margin: 60px 0 0;
    text-align: center;
}

.twitter-and-github img {
    vertical-align: -14px;
}

.twitter-and-github .twitter-tweet-count {
    display: inline-block;
    margin-right: 20px;
}

.twitter-and-github .github-star-count {
    display: inline-block;
}

/* @todo twitter, facebook, github */
.share-buttons {
}
.share-button {
    height: 25;
    float: left;
}
.share-buttons:after {
  content: "";
  clear: both;
  display: block;
}