$background-color = #f3f3f3
$material-background-color = #ffffff
$text-color = #524b57
$sub-text-color = #ccc
$highlight-color = #8962ed
$second-highlight-color = #574bdb
$border-color = #ddd
$toolbar-background-color = #fff
$toolbar-button-color = #8962ed
$toolbar-text-color = #5b2c7a
$toolbar-border-color = #ddd
$buttonbar-color = #ac62ed
$buttonbar-active-text-color = #fff
$list-background-color = #fff
$list-header-background-color = #eee
$list-tap-active-background-color = #d9d9d9
$tabbar-background-color = #fff
$tabbar-text-color = #aaa
$tabbar-highlight-text-color = #8962ed
$tabbar-border-color = #ddd
$switch-highlight-color = #574bdb
$modal-background-color = rgba(0, 0, 0, 0.7)
$modal-text-color = #fff
$alert-dialog-background-color = #f4f4f4
$alert-dialog-text-color = #1f1f21
$alert-dialog-button-color = #574bdb
$alert-dialog-separator-color = #ddd
$dialog-background-color = #f4f4f4
$popover-background-color = white
$popover-text-color = #1f1f21
$notification-background-color = #dc5236
$material-switch-active-thumb-color = #009688
$material-switch-inactive-thumb-color = #f1f1f1
$material-switch-active-background-color = #77c2bb
$material-switch-inactive-background-color = #b0afaf
$material-range-track-color = #e0e0e0
$material-range-thumb-color = #009688
$material-toolbar-background-color = #009688
$material-toolbar-text-color = #ffffff
$material-toolbar-button-color = #ffffff
$material-toolbar-button-active-color = rgba(255,255,255,0.15)
$material-button-background-color = #009688
$material-button-text-color = #ffffff
$material-checkbox-active-color = #009688
$material-checkbox-inactive-color = #717171
$material-checkbox-checkmark-color = #ffffff
$material-radio-button-active-color = #009688
$material-radio-button-inactive-color = #717171
$material-text-input-text-color = #212121
$material-text-input-active-color = #009688
$material-text-input-inactive-color = #afafaf
$material-dialog-background-color = #ffffff
$material-alert-dialog-background-color = #ffffff
$material-alert-dialog-title-color = #212121
$material-alert-dialog-content-color = #727272
$material-alert-dialog-button-color = #009688
$material-progress-bar-primary-color = #009688
$material-progress-bar-secondary-color = #80cbc4
$material-progress-bar-background-color = #e0e0e0
$material-progress-circle-primary-color = #009688
$material-progress-circle-secondary-color = #80cbc4
$material-tabbar-background-color = #009688
$material-tabbar-text-color = rgba(255, 255, 255, 0.6)
$material-tabbar-highlight-text-color = #ffffff
$material-tabbar-highlight-color = #26a69a
$fab-text-color = #ffffff
$fab-background-color = #009688

@import 'components'