@font-face {
  font-family: "Source Sans";
  src: url('../font/SourceSansPro-Regular.otf');
}
@font-face {
  font-family: "Source Sans";
  src: url('../font/SourceSansPro-Light.otf');
  font-weight: 200;
}
@font-face {
  font-family: "Source Sans";
  src: url('../font/SourceSansPro-Semibold.otf');
  font-weight: 600;
}

