body {
	margin: 0;
	padding: 0;
	background: var-background--body;
	color: #000;
	color: var-color--body;
	font: 16px var-font--body, helvetica, arial, sans-serif;
	font-weight: 200;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}
