/**
*
* Copyright 2012 Adobe Systems Inc.;
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/

// NOTE: You can't use @extend that break component independent and topdoc parsing.

// internal variables
var-list-background-color = $list-background-color
var-list-header-background-color = $list-header-background-color
var-list-header-color = $text-color
var-list-item-color = $text-color
var-list-item-active-background-color = $list-tap-active-background-color
var-list-item-separator-color = $border-color

var-list-padding = 0
var-list-header-font-size = 15px
var-list-border = 1px solid var-list-item-separator-color

var-list-item-margin = 0 0 0 0
var-list-item-padding = 6px 10px
var-list-header-padding = 0 0 0 10px
var-list-item-min-height = 44px
var-list-header-min-height = 24px
var-list-header-font-weight = var-font-weight--large
var-list-header-text-shadow = none

var-list-border-top = 1px solid var-list-item-separator-color
var-list-border-bottom = 1px solid var-list-item-separator-color


/*! topdoc
  name: List
  class: list
  markup:
    <ul class="list">
      <li class="list__item">
        Dog
      </li>
      <li class="list__item">
        Cat
      </li>
      <li class="list__item">
        Hamster
      </li>
    </ul>
*/

retina-list-item-border(color = var-list-item-separator-color)
  +retina-query()
    border-bottom none
    background-size 100% 1px
    background-repeat no-repeat
    background-position bottom
    background-image linear-gradient(0deg, color, color 50%, transparent 50%)

retina-list-border(color = var-list-item-separator-color)
  +retina-query()
    border none
    background-size 100% 1px, 100% 1px
    background-repeat no-repeat
    background-position bottom, top
    background-image linear-gradient(0deg, color, color 50%, transparent 50%), linear-gradient(180deg, color, color 50%, transparent 50%)

retina-list-header-border(color = var-tab-bar-border-color)
  +retina-query()
    border-top none
    background-size 100% 1px
    background-repeat no-repeat
    background-position top
    background-image linear-gradient(180deg, color, color 50%, transparent 50%)

list()
  reset-base()
  reset-cursor()
  reset-font()
  reset-list()
  overflow auto
  display block
  -webkit-overflow-scrolling touch

list__header()
  margin 0
  padding 0
  list-style none
  text-align left
  display block
  box-sizing border-box

list__item()
  margin 0
  padding 0
  position relative
  list-style none
  box-sizing border-box
  display flex
  flex-direction row
  justify-content flex-start
  align-items center

.list--noborder
  border-top none
  border-bottom none

.list__header
  list__header()
  padding var-list-header-padding
  font-size var-list-header-font-size
  font-weight var-list-header-font-weight
  background-color var-list-header-background-color
  color var-list-header-color
  text-shadow var-list-header-text-shadow
  border-top none
  border-bottom none
  min-height var-list-header-min-height
  line-height @min-height

.list__header:first-child
  retina-list-header-border()

.list
  list()
  padding var-list-padding
  background-color var-list-background-color
  border-top var-list-border-top
  border-bottom var-list-border-bottom
  background-color var-list-background-color
  retina-list-border()

.list + .list
  border-top 0

.list__item
  list__item()
  padding var-list-item-padding
  margin var-list-item-margin
  border-top none
  border-bottom var-list-border
  color var-list-item-color
  background-color transparent
  min-height var-list-item-min-height

.list__item_active:active
  background-color var-list-item-active-background-color
  transition none

.list__item:first-child
  border-top none
  border-bottom var-list-border

.list__item:last-child
  border-bottom none

.list__item:first-child:last-child
  border-top none
  border-bottom none

.list__item:not(:last-child)
  retina-list-item-border()

/*! topdoc
  name: Noborder List
  class: list--noborder
  use: List
  markup:
    <ul class="list list--noborder">
      <li class="list__item">
        Item
      </li>
      <li class="list__item">
        Item
      </li>
    </ul>
 */

.list--noborder
  background-color var-list-background-color
  border-top none
  border-bottom none
  background-image none

/*! topdoc
  name: Category List Header
  class: list__header
  use: List
  markup:
    <ul class="list">
      <li class="list__header">
        Header
      </li>
      <li class="list__item">
        Item
      </li>
      <li class="list__header">
        Header
      </li>
      <li class="list__item">
        Item
      </li>
    </ul>
 */

/*! topdoc
  name: Tappable List
  class: list__item--tappable
  use: List
  markup:
    <ul class="list">
      <li class="list__item list__item--tappable">
        Tappable Item
      </li>
    </ul>
 */

.list__item--tappable
  transition background-color 0.2s linear

.list__item--tappable:active
  background-color var-list-item-active-background-color
  transition none

.list__item--tappable:hover
  transition none

/*! topdoc
  name: Switch in List Item
  use: Switch, List
  markup:
    <ul class="list">
      <li class="list__item">
        <div class="list__item__center">
          Label
        </div>
        <div class="list__item__right">
          <label class="switch">
            <input type="checkbox" class="switch__input" checked>
            <div class="switch__toggle"></div>
          </label>
        </div>
      </li>
      <li class="list__item">
        <div class="list__item__center">
          Label
        </div>
        <div class="list__item__right">
          <label class="switch">
            <input type="checkbox" class="switch__input">
            <div class="switch__toggle"></div>
          </label>
        </div>
      </li>
    </ul>
*/

.list__item__left
  min-width 32px
  order 0

.list__item__center
  display flex
  flex-direction column
  flex-grow 1
  order 1
  margin-right auto

.list__item__right
  margin-left auto
  order 2

/*! topdoc
  name: List Item with Chevron
  class: list__item--chevron
  use: List
  markup:
    <ul class="list">
      <li class="list__item list__item--chevron">
        Tappable Item
      </li>
      <li class="list__item list__item--chevron">
        Tappable Item
      </li>
    </ul>
 */

.list__item--chevron
  transition background-color 0.2s linear
  overflow hidden

.list__item--chevron:hover
  transition none

.list__item--chevron:before
  color var-list-item-separator-color
  order 3
  align-self center
  font-size 28px
  font-family FontAwesome
  font-style normal
  font-weight normal
  content "\f105"
  margin-left auto
  width 18px
  text-align right

/*! topdoc
  name: Inset List
  use: List, List Item with Chevron
  markup:
    <ul class="list list--inset">
      <li class="list__item list--inset__item list__item--chevron">
        List Item with Chevron
      </li>
      <li class="list__item list--inset__item list__item--chevron">
        List Item with Chevron
      </li>
    </ul>
 */

.list--inset
  margin-left 8px
  margin-right 8px
  border 1px solid var-list-item-separator-color
  border-radius 4px
  background-image none

.list--inset__item:not(:last-child)
  border-bottom 1px solid var-list-item-separator-color
  background-image none

/*! topdoc
  name: Radio Button in List Item
  modifiers:
  use: Radio Button, List, Tappable List, Switch in List Item
  markup:
    <ul class="list">
      <li class="list__item list__item--tappable">
        <div class="list__item__left">
          <label class="radio-button">
            <input type="radio" id="radio1" class="radio-button__input" name="b" checked="checked">
            <div class="radio-button__checkmark"></div>
          </label>
        </div>
        <label for="radio1" class="list__item__center">
          Radio Button
        </label>
      </li>
      <li class="list__item list__item--tappable">
        <div class="list__item__left">
          <label class="radio-button">
            <input type="radio" id="radio2" class="radio-button__input" name="b" checked="checked">
            <div class="radio-button__checkmark"></div>
          </label>
        </div>
        <label for="radio2" class="list__item__center">
          Radio Button
        </label>
      </li>
    </ul>
*/

/*! topdoc
  name: Checkbox in List Item
  use: Checkbox, List, Tappable List, Switch in List Item
  markup:
    <ul class="list">
      <li class="list__item list__item--tappable">
        <div class="list__item__left">
          <label class="checkbox">
            <input type="radio" id="radio1" class="checkbox__input" name="b" checked="checked">
            <div class="checkbox__checkmark"></div>
          </label>
        </div>
        <label for="radio1" class="list__item__center">
          Radio Button
        </label>
      </li>
      <li class="list__item list__item--tappable">
        <div class="list__item__left">
          <label class="checkbox">
            <input type="radio" id="radio2" class="checkbox__input" name="b" checked="checked">
            <div class="checkbox__checkmark"></div>
          </label>
        </div>
        <label for="radio2" class="list__item__center">
          Radio Button
        </label>
      </li>
    </ul>
*/

/*! topdoc
  name: No border Checkbox in List Item
  use: Checkbox in List Item, No border Checkbox
  markup:
    <ul class="list">
      <li class="list__item list__item--tappable">
        <label class="checkbox checkbox--noborder">
          <input type="checkbox" class="checkbox__input checkbox--noborder__input">
          <div class="checkbox__checkmark checkbox--noborder checkbox--noborder__checkmark"></div>
          Checkbox
        </label>
      </li>
      <li class="list__item list__item--tappable">
        <label class="checkbox checkbox--noborder">
          <input type="checkbox" class="checkbox__input checkbox--noborder__input" checked>
          <div class="checkbox__checkmark checkbox--noborder checkbox--noborder__checkmark"></div>
          Checkbox
        </label>
      </li>
    </ul>
*/

/*! topdoc
  name: Text Input in List Item
  use: List, Transparent Text Input
  markup:
    <ul class="list">
      <li class="list__item">
        <input type="text" class="text-input text-input--transparent" placeholder="Name">
      </li>
      <li class="list__item">
        <input type="text" class="text-input text-input--transparent" placeholder="Email">
      </li>
    </ul>
*/

/*! topdoc
  name: Textarea in List Item
  use: List, Textarea Transparent
  markup:
    <ul class="list">
      <li class="list__item">
        <textarea class="textarea textarea--transparent" placeholder="Text message"></textarea>
      </li>
    </ul>
*/

/*! topdoc
  name: Right Label in List Item
  use: List, Switch in List Item
  class: list__right-label
  markup:
    <ul class="list">
      <li class="list__item">
        <div class="list__item__center">
          Title
        </div>
        <div class="list__item__right">
          <div class="list__item__label">Label</div>
        </div>
      </li>
    </ul>
*/

.list__item__label
  font-size var-font-size--mini
  opacity 0.6

/*! topdoc
  name: List Item with Subtitle
  use: List, Switch in List Item
  class: list__item__subtitle
  markup:
    <ul class="list">
      <li class="list__item">
        <div class="list__item__center">
          <div class="list__item__title">
            Title
          </div>
          <div class="list__item__subtitle">
            Subtitle
          </div>
        </div>
      </li>
    </ul>
*/

.list__item__title
  order 0

.list__item__subtitle
  opacity 0.75
  font-size var-font-size--mini
  order 1
  width 100%

/*! topdoc
  name: List Item with Thumbnail
  use: List, List Item with Subtitle
  class: list__item__thumbnail
  markup:
    <ul class="list">
      <li class="list__item">
        <div class="list__item__left">
          <img class="list__item__thumbnail" src="http://placekitten.com/g/40/40" alt="Cute kitten">
        </div>

        <div class="list__item__center">
          <div class="list__item__title">Lily</div>
          <div class="list__item__subtitle">Very friendly cat</div>
        </div>
      </li>

      <li class="list__item">
        <div class="list__item__left">
          <img class="list__item__thumbnail" src="http://placekitten.com/g/40/40" alt="Cute kitten">
        </div>

        <div class="list__item__center">
          <div class="list__item__title">Molly</div>
          <div class="list__item__subtitle">Loves tuna!</div>
        </div>
      </li>
    </ul>
*/

.list__item__thumbnail
  width 40px
  height 40px
  border-radius 6px
  margin-right 10px
  display block

/*! topdoc
  name: List Item with Icon
  use: List, List Item with Thumbnail
  class: list__item__icon
  markup:
    <ul class="list">
      <li class="list__item">
        <div class="list__item__left">
          <img class="list__item__thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==">
        </div>

        <div class="list__item__center">
          <div class="list__item__title">Alice</div>
        </div>

        <div class="list__item__right">
          <i class="ion-ios-information list__item__icon"></i>
        </div>
      </li>

      <li class="list__item">
        <div class="list__item__left">
          <img class="list__item__thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==">
        </div>

        <div class="list__item__center">
          <div class="list__item__title">Bob</div>
        </div>

        <div class="list__item__right">
          <i class="ion-ios-information list__item__icon"></i>
        </div>
      </li>
    </ul>
*/

.list__item__icon
  font-size 22px

/*! topdoc
  name: Material List
  use: List Item with Subtitle
  class: list--material
  markup:
    <ul class="list list--material">
      <li class="list__item list__item--material">
        <div class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Orange</div>
          <div class="list__item__subtitle list__item--material__subtitle">Sweet fruit that grows on trees.</div>
        </div>
      </li>
      <li class="list__item list__item--material">
        <div class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Pear</div>
          <div class="list__item__subtitle list__item--material__subtitle">Funny-shaped fruit.</div>
        </div>
      </li>
    </ul>
*/

.list--material
  material-font()
  border 0

  +retina-query()
    background initial

.list__item--material
  border 0
  min-height initial
  padding 14px 16px
  line-height normal

.list__item--material__subtitle
  margin-top 4px

.list__item--material:not(:last-child)
  +retina-query()
    background initial

.list__item--material:first-child
  border 0

.list__item--material__left
  min-width 54px
  line-height 1

.list__item--material__right
  line-height 1

/*! topdoc
  name: Material List with Header
  use: Material List
  class: list__header--material
  markup:
    <ul class="list list--material">
      <li class="list__header list__header--material">
        Fruits
      </li>
      <li class="list__item list__item--material">
        <div class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Orange</div>
          <div class="list__item__subtitle list__item--material__subtitle">Sweet fruit that grows on trees.</div>
        </div>
      </li>
    </ul>
*/

.list__header--material
  background none
  font-size 15px
  margin 0
  color #6c6c6c
  font-weight 500
  padding 12px 16px

.list__header--material:not(:first-of-type)
  border-top 1px solid #ececec
  margin-top 16px

/*! topdoc
  name: Material List with Checkboxes
  use: Material List, Material Checkbox
  class: list__header--material
  markup:
    <ul class="list list--material">
      <li class="list__item list__item--material">
        <div class="list__item__left list__item--material__left">
          <label class="checkbox checkbox--material">
            <input type="checkbox" id="checkbox1" class="checkbox__input checkbox--material__input">
            <div class="checkbox__checkmark checkbox--material__checkmark"></div>
          </label>
        </div>

        <label for="checkbox1" class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Notifications</div>
          <div class="list__item__subtitle list__item--material__subtitle">Allow notifications</div>
        </label>
      </li>

      <li class="list__item list__item--material">
        <div class="list__item__left list__item--material__left">
          <label class="checkbox checkbox--material">
            <input type="checkbox" id="checkbox2" class="checkbox__input checkbox--material__input" checked="checked">
            <div class="checkbox__checkmark checkbox--material__checkmark"></div>
          </label>
        </div>

        <label for="checkbox2" class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Sound</div>
          <div class="list__item__subtitle list__item--material__subtitle">Hangouts message</div>
        </label>
      </li>

    </ul>
*/

/*! topdoc
  name: Material List with Thumbnails
  use: Material List, List Item with Thumbnail
  class: list__item--material__thumbnail
  markup:
    <ul class="list list--material">
      <li class="list__item list__item--material">
        <div class="list__item__left list__item--material__left">
          <img class="list__item__thumbnail list__item--material__thumbnail" src="http://placekitten.com/g/42/41" alt="Cute kitten">
        </div>

        <div class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Lily</div>
          <div class="list__item__subtitle list__item--material__subtitle">Very friendly cat</div>
        </div>
      </li>

      <li class="list__item list__item--material">
        <div class="list__item__left list__item--material__left">
          <img class="list__item__thumbnail list__item--material__thumbnail" src="http://placekitten.com/g/40/40" alt="Cute kitten">
        </div>

        <div class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Molly</div>
          <div class="list__item__subtitle list__item--material__subtitle">Loves tuna!</div>
        </div>
      </li>

    </ul>
*/

.list__item--material__thumbnail
  width 40px
  height 40px
  border-radius 100%

/*! topdoc
  name: Material List with Icons
  use: Material List, Material List with Thumbnails
  class: list__item--material__icon
  markup:
    <ul class="list list--material">
      <li class="list__item list__item--material">
        <div class="list__item__left list__item--material__left">
          <img class="list__item__thumbnail list__item--material__thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==">
        </div>

        <div class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Alice</div>
        </div>

        <div class="list__item__right list__item--material__right">
          <i style="color:#4db6ac" class="list__item__icon list__item--material__icon zmdi zmdi-comment"></i>
        </div>
      </li>

      <li class="list__item list__item--material">
        <div class="list__item__left list__item--material__left">
          <img class="list__item__thumbnail list__item--material__thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==">
        </div>

        <div class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Bob</div>
        </div>

        <div class="list__item__right list__item--material__right">
          <i style="color:#4db6ac" class="list__item__icon list__item--material__icon zmdi zmdi-comment"></i>
        </div>
      </li>
    </ul>
*/

.list__item--material__icon
  font-size 20px

/*! topdoc
  name: Material List with Short Dividers
  use: Material List, Material Checkbox
  class: list__item--short-divider
  markup:
    <ul class="list list--material">
      <li class="list__item list__item--material list__item--short-divider">
        <div class="list__item__left list__item--material__left">
          <label class="checkbox checkbox--material">
            <input type="checkbox" id="checkbox1" class="checkbox__input checkbox--material__input">
            <div class="checkbox__checkmark checkbox--material__checkmark"></div>
          </label>
        </div>

        <div class="list__item__center list__item--material__center">
          <label for="checkbox1" class="list__item__center list__item--material__center">
            <div class="list__item__title list__item--material__title">Notifications</div>
            <div class="list__item__subtitle list__item--material__subtitle">Allow notifications</div>
          </label>
        </div>
      </li>

      <li class="list__item list__item--material list__item--short-divider">
        <div class="list__item__left list__item--material__left">
          <label class="checkbox checkbox--material">
            <input type="checkbox" id="checkbox2" class="checkbox__input checkbox--material__input" checked="checked">
            <div class="checkbox__checkmark checkbox--material__checkmark"></div>
          </label>
        </div>

        <div class="list__item__center list__item--material__center">
          <label for="checkbox2" class="list__item__center list__item--material__center">
            <div class="list__item__title list__item--material__title">Sound</div>
            <div class="list__item__subtitle list__item--material__subtitle">Hangouts message</div>
          </label>
        </div>
      </li>
    </ul>
*/

.list__item--material.list__item--short-divider:after
  content ''
  height 1px
  background-color #ececec
  position absolute
  bottom 0px
  left 72px
  right 0px

/*! topdoc
  name: Material List with Long Dividers
  use: Material List, Material Checkbox
  class: list__item--divider
  markup:
    <ul class="list list--material">
      <li class="list__item list__item--material list__item--divider">
        <div class="list__item__left list__item--material__left">
          <label class="checkbox checkbox--material">
            <input type="checkbox" id="checkbox1" class="checkbox__input checkbox--material__input">
            <div class="checkbox__checkmark checkbox--material__checkmark"></div>
          </label>
        </div>

        <div class="list__item__center list__item--material__center">
          <label for="checkbox1" class="list__item__center list__item--material__center">
            <div class="list__item__title list__item--material__title">Notifications</div>
            <div class="list__item__subtitle list__item--material__subtitle">Allow notifications</div>
          </label>
        </div>
      </li>

      <li class="list__item list__item--material list__item--divider">
        <div class="list__item__left list__item--material__left">
          <label class="checkbox checkbox--material">
            <input type="checkbox" id="checkbox2" class="checkbox__input checkbox--material__input" checked="checked">
            <div class="checkbox__checkmark checkbox--material__checkmark"></div>
          </label>
        </div>

        <div class="list__item__center list__item--material__center">
          <label for="checkbox2" class="list__item__center list__item--material__center">
            <div class="list__item__title list__item--material__title">Sound</div>
            <div class="list__item__subtitle list__item--material__subtitle">Hangouts message</div>
          </label>
        </div>
      </li>
    </ul>
*/

.list__item--material.list__item--divider:after
  content ''
  height 1px
  background-color #ececec
  position absolute
  bottom 0px
  left 0px
  right 0px
