// NOTE: You can't use @extend that break component independent and topdoc parsing.

// internal variables
var-progress-bar-color = alpha($highlight-color, 1)
var-progress-bar-secondary-color = alpha($second-highlight-color, 1)

/* Progress Bar */
.progress-bar
  position relative
  height 4px
  display block
  width 100%
  background-color #e0e0e0
  border-radius 2px
  background-clip padding-box
  margin 20px 0
  overflow hidden

.progress-bar--determinate
  .progress-bar__primary
  .progress-bar__secondary
    position absolute
    background-color var-progress-bar-color
    top 0
    bottom 0
    transition width .3s linear
    z-index 100
    
.progress-bar--determinate
  .progress-bar__secondary
    background-color var-progress-bar-secondary-color
    z-index 0

.progress-bar--indeterminate:before
  content ''
  position absolute
  background-color var-progress-bar-color
  top 0
  left 0
  bottom 0
  will-change left, right
  -webkit-animation indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite
  animation indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite

.progress-bar--indeterminate:after
  content ''
  position absolute
  background-color var-progress-bar-color
  top 0
  left 0
  bottom 0
  will-change left, right
  -webkit-animation indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite
  animation indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite
  -webkit-animation-delay 1.15s
  animation-delay 1.15s


@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  } 
}
    
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  } 
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
    
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}


/* Progress Circular */
ons-progress[type='circular']
  display inline-block

.progress-circular
 animation rotate 2s linear infinite
 height 80px
 position relative
 width 80px

.progress-circular__primary
.progress-circular__secondary
  stroke-dasharray 1,200
  stroke-dashoffset 0
  animation dash 1.5s ease-in-out infinite
  stroke var-progress-bar-color
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);

.progress-circular--determinate
  transform rotate(270deg)
  animation none

.progress-circular--determinate
  .progress-circular__primary
    animation none
    
.progress-circular--determinate
  .progress-circular__secondary
    animation none
    stroke #e0e0e0

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1%, 250%;
    stroke-dashoffset: 0%;
  }
  50% {
    stroke-dasharray: 100%, 250%;
    stroke-dashoffset: -48%;
  }
  100% {
    stroke-dasharray: 160%, 250%;
    stroke-dashoffset: -155%;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1%, 250%;
    stroke-dashoffset: 0%;
  }
  50% {
    stroke-dasharray: 100%, 250%;
    stroke-dashoffset: -48%;
  }
  100% {
    stroke-dasharray: 160%, 250%;
    stroke-dashoffset: -155%;
  }
}


