/**
*
* Copyright 2012 Adobe Systems Inc.;
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/

// NOTE: You can't use @extend that break component independent and topdoc parsing.

// internal variables
var-list-background-color = $list-background-color
var-list-header-background-color = $list-header-background-color
var-list-header-color = $text-color
var-list-item-color = $text-color
var-list-item-active-background-color = $list-tap-active-background-color
var-list-item-separator-color = $border-color

var-list-header-font-size = 12px
var-list-border = 1px solid var-list-item-separator-color

var-list-item-margin = 1px 0 -1px 0
var-list-item-padding = 0 0 0 14px
var-list-header-padding = 20px 0 0 15px
var-list-item-min-height = 44px
var-list-header-min-height = 24px
var-list-header-font-weight = var-font-weight--large
var-list-header-text-shadow = none

var-list-border-top = 1px solid var-list-item-separator-color
var-list-border-bottom = 1px solid var-list-item-separator-color

var-material-list-item-padding = 0 0 0 16px

/*! topdoc
  name: List
  class: list
  markup:
    <ul class="list">
      <li class="list__item">
        <div class="list__item__center">Dog</div>
      </li>
      <li class="list__item">
        <div class="list__item__center">Cat</div>
      </li>
      <li class="list__item">
        <div class="list__item__center">Hamster</div>
      </li>
    </ul>
*/

retina-list-item-border(color = var-list-item-separator-color)
  +retina-query()
    border-bottom none
    background-size 100% 1px
    background-repeat no-repeat
    background-position bottom
    background-image linear-gradient(0deg, color, color 50%, transparent 50%)

retina-list-border(color = var-list-item-separator-color)
  +retina-query()
    border none
    background-size 100% 1px, 100% 1px
    background-repeat no-repeat
    background-position bottom, top
    background-image linear-gradient(0deg, color, color 50%, transparent 50%), linear-gradient(180deg, color, color 50%, transparent 50%)

retina-list-header-border(color = var-tab-bar-border-color)
  +retina-query()
    border-top none
    background-size 100% 1px
    background-repeat no-repeat
    background-position top
    background-image linear-gradient(180deg, color, color 50%, transparent 50%)

list()
  reset-base()
  reset-cursor()
  reset-font()
  reset-list()
  overflow auto
  display block
  -webkit-overflow-scrolling touch

list__header()
  margin 0
  padding 0
  list-style none
  text-align left
  display block
  box-sizing border-box

list__item()
  margin 0
  padding 0
  width 100%
  position relative
  list-style none
  box-sizing border-box
  display flex
  flex-direction row
  justify-content flex-start
  align-items center

.list__item__left
  min-height var-list-item-min-height
  display flex
  padding-right 14px
  order 0
  align-items center
  align-self stretch

.list__item__left:empty
  width 0
  min-width 0
  padding 0
  margin 0

.list__item__center
  min-height var-list-item-min-height
  display flex
  flex-grow 1
  flex-wrap wrap
  flex-direction row
  order 1
  margin-right auto
  align-items center
  align-self stretch
  margin-left 0
  border-bottom var-list-border
  retina-list-item-border()

.list__item__right
  min-height var-list-item-min-height
  display flex
  margin-left auto
  padding-right 12px
  order 2
  align-items center
  align-self stretch
  border-bottom var-list-border
  retina-list-item-border()

.list__header
  list__header()
  padding var-list-header-padding
  font-size var-list-header-font-size
  font-weight var-list-header-font-weight
  color var-list-header-color
  text-shadow var-list-header-text-shadow
  border-top none
  border-bottom var-list-border
  box-shadow 0px 1px 0px 0px var-list-background-color;
  min-height var-list-header-min-height
  line-height @min-height
  margin-top -1px
  text-transform uppercase
  position relative

.list__header:not(:first-of-type)
  border-top var-list-border

.list
  list()
  border-bottom var-list-border-bottom
  overflow hidden

.list__item
  list__item()
  padding var-list-item-padding
  margin var-list-item-margin
  color var-list-item-color
  background-color var-list-background-color
  min-height var-list-item-min-height

.list__item:first-child
  box-shadow inset 0px 1px 0px 0px var-list-item-separator-color
  margin-top 0

.list__item_active:active
  background-color var-list-item-active-background-color
  transition none

/*! topdoc
  name: Noborder List
  class: list--noborder
  use: List
  markup:
    <ul class="list list--noborder">
      <li class="list__item">
        <div class="list__item__center">Item</div>
      </li>
      <li class="list__item">
        <div class="list__item__center">Item</div>
      </li>
    </ul>
 */

.list--noborder
  border-top none
  border-bottom none
  background-image none

.list--noborder .list__item:first-child
  box-shadow none

/*! topdoc
  name: List item without divider
  class: list__item--nodivider
  use: List
  markup:
    <ul class="list">
      <li class="list__item list__item--nodivider">
        <div class="list__item__center list__item--nodivider__center">Item</div>
      </li>
      <li class="list__item list__item--nodivider">
        <div class="list__item__center list__item--nodivider__center">Item</div>
      </li>
    </ul>
 */
.list__item--nodivider__center
  border none
  background-image none

.list__item--nodivider__right
  border none
  background-image none

.list__item--nodivider.list__item--chevron:before
  border none
  background-image none

/*! topdoc
  name: List item with long divider
  class: list__item--longdivider
  use: List
  markup:
    <ul class="list">
      <li class="list__item list__item--longdivider">
        <div class="list__item__center list__item--longdivider__center">Item</div>
      </li>
      <li class="list__item list__item--longdivider">
        <div class="list__item__center list__item--longdivider__center">Item</div>
      </li>
    </ul>
 */
.list__item--longdivider
  border-bottom var-list-border
  retina-list-item-border()

.list__item--longdivider:last-of-type
  border none
  background-image none

.list__item--longdivider__center
  border none
  background-image none

.list__item--longdivider__right
  border none
  background-image none

.list__item--longdivider.list__item--chevron:before
  border none
  background-image none

/*! topdoc
  name: Category List Header
  class: list__header
  use: List
  markup:
    <ul class="list">
      <li class="list__header">
        Header
      </li>
      <li class="list__item">
        <div class="list__item__center">Item</div>
      </li>
    </ul>
 */

/*! topdoc
  name: Tappable List
  class: list__item--tappable
  use: List
  markup:
    <ul class="list">
      <li class="list__item list__item--tappable">
        <div class="list__item__center">Tappable Item</div>
      </li>
    </ul>
 */

.list__item--tappable:active
  background-color var-list-item-active-background-color

/*! topdoc
  name: Switch in List Item
  use: Switch, List
  markup:
    <ul class="list">
      <li class="list__item">
        <div class="list__item__center">
          Label
        </div>
        <div class="list__item__right">
          <label class="switch">
            <input type="checkbox" class="switch__input" checked>
            <div class="switch__toggle">
              <div class="switch__handle"></div>
            </div>
          </label>
        </div>
      </li>
      <li class="list__item">
        <div class="list__item__center">
          Label
        </div>
        <div class="list__item__right">
          <label class="switch">
            <input type="checkbox" class="switch__input">
            <div class="switch__toggle">
              <div class="switch__handle"></div>
            </div>
          </label>
        </div>
      </li>
    </ul>
*/

/*! topdoc
  name: List Item with Chevron
  class: list__item--chevron
  use: List
  markup:
    <ul class="list">
      <li class="list__item list__item--chevron">
        <div class="list__item__center">Item A</div>
      </li>
      <li class="list__item list__item--chevron">
        <div class="list__item__center">Item B</div>
      </li>
    </ul>
 */

.list__item--chevron
  transition background-color 0.2s linear
  overflow hidden
.list__item--chevron:hover
  transition none

.list__item--chevron:before
  min-height var-list-item-min-height
  display flex
  align-items center
  color var-list-item-separator-color
  order 3
  align-self stretch
  font-size 28px
  font-family FontAwesome
  font-style normal
  font-weight normal
  content "\f105"
  margin-left auto
  width 18px
  text-align right
  border-bottom var-list-border
  retina-list-item-border()
  width 10px
  padding-right 8px


/*! topdoc
  name: Inset List
  use: List, List Item with Chevron, Tappable List
  markup:
    <ul class="list list--inset">
      <li class="list__item list--inset__item list__item--chevron list__item--tappable">
        <div class="list__item__center">List Item with Chevron</div>
      </li>
      <li class="list__item list--inset__item list__item--chevron list__item--tappable">
        <div class="list__item__center">List Item with Chevron</div>
      </li>
    </ul>
 */

.list--inset
  margin-left 8px
  margin-right 8px
  border 1px solid var-list-item-separator-color
  border-radius 4px
  background-image none

.list--inset__item:first-child
  box-shadow none

/*! topdoc
  name: Radio Button in List Item
  modifiers:
  use: Radio Button, List
  markup:
    <ul class="list">
      <li class="list__item list__item--tappable">
        <div class="list__item__left">
          <label class="radio-button">
            <input type="radio" id="r1" class="radio-button__input" name="r" checked="checked">
            <div class="radio-button__checkmark"></div>
          </label>
        </div>
        <label for="r1" class="list__item__center">
          Radio Button
        </label>
      </li>
      <li class="list__item list__item--tappable">
        <div class="list__item__left">
          <label class="radio-button">
            <input type="radio" id="r2" class="radio-button__input" name="r">
            <div class="radio-button__checkmark"></div>
          </label>
        </div>
        <label for="r2" class="list__item__center">
          Radio Button
        </label>
      </li>
    </ul>
*/

/*! topdoc
  name: Checkbox in List Item
  use: Checkbox, List, Tappable List, Switch in List Item
  markup:
    <ul class="list">
      <li class="list__item list__item--tappable">
        <div class="list__item__left">
          <label class="checkbox">
            <input type="checkbox" id="checkbox1" class="checkbox__input" name="c" checked="checked">
            <div class="checkbox__checkmark"></div>
          </label>
        </div>
        <label for="checkbox1" class="list__item__center">
          Checkbox
        </label>
      </li>
      <li class="list__item list__item--tappable">
        <div class="list__item__left">
          <label class="checkbox">
            <input type="checkbox" id="checkbox2" class="checkbox__input" name="c">
            <div class="checkbox__checkmark"></div>
          </label>
        </div>
        <label for="checkbox2" class="list__item__center">
          Checkbox
        </label>
      </li>
    </ul>
*/

/*! topdoc
  name: No border Checkbox in List Item
  use: Checkbox in List Item, No border Checkbox
  markup:
    <ul class="list">
      <li class="list__item list__item--tappable">
        <div class="list__item__left">
          <label class="checkbox checkbox--noborder">
            <input id="s1" type="checkbox" class="checkbox__input checkbox--noborder__input">
            <div class="checkbox__checkmark checkbox--noborder checkbox--noborder__checkmark"></div>
          </label>
        </div>
        <label for="s1" class="list__item__center">
          Checkbox
        </label>
      </li>
      <li class="list__item list__item--tappable">
        <div class="list__item__left">
          <label class="checkbox checkbox--noborder">
            <input id="s2" type="checkbox" class="checkbox__input checkbox--noborder__input" checked>
            <div class="checkbox__checkmark checkbox--noborder checkbox--noborder__checkmark"></div>
          </label>
        </div>
        <label for="s2" class="list__item__center">
          Checkbox
        </label>
      </li>
    </ul>
*/

/*! topdoc
  name: Text Input in List Item
  use: List
  markup:
    <ul class="list">
      <li class="list__item">
        <div class="list__item__center">
          <input type="text" class="text-input" placeholder="Name">
        </div>
      </li>
      <li class="list__item">
        <div class="list__item__center">
          <input type="text" class="text-input" placeholder="Email">
        </div>
      </li>
    </ul>
*/

/*! topdoc
  name: Textarea in List Item
  use: List, Textarea Transparent
  markup:
    <ul class="list">
      <li class="list__item">
        <div class="list__item__center">
          <textarea class="textarea textarea--transparent" placeholder="Text message"></textarea>
        </div>
      </li>
    </ul>
*/

/*! topdoc
  name: Right Label in List Item
  use: List, Switch in List Item
  class: list__right-label
  markup:
    <ul class="list">
      <li class="list__item">
        <div class="list__item__center">
          Title
        </div>
        <div class="list__item__right">
          <div class="list__item__label">Label</div>
        </div>
      </li>
    </ul>
*/

.list__item__label
  font-size var-font-size--mini
  padding 0 4px
  opacity 0.6

/*! topdoc
  name: List Item with Subtitle
  use: List, Switch in List Item
  class: list__item__subtitle
  markup:
    <ul class="list">
      <li class="list__item">
        <div class="list__item__center">
          <div class="list__item__title">
            Title
          </div>
          <div class="list__item__subtitle">
            Subtitle
          </div>
        </div>
      </li>
    </ul>
*/

.list__item__title
  flex-basis 100%
  order 0

.list__item__subtitle
  opacity 0.75
  font-size var-font-size--mini
  order 1
  flex-basis 100%

/*! topdoc
  name: List Item with Thumbnail
  use: List, List Item with Subtitle
  class: list__item__thumbnail
  markup:
    <ul class="list">
      <li class="list__item">
        <div class="list__item__left">
          <img class="list__item__thumbnail" src="http://placekitten.com/g/40/40" alt="Cute kitten">
        </div>

        <div class="list__item__center">
          <div class="list__item__title">Lily</div>
          <div class="list__item__subtitle">Very friendly cat</div>
        </div>
      </li>

      <li class="list__item">
        <div class="list__item__left">
          <img class="list__item__thumbnail" src="http://placekitten.com/g/40/40" alt="Cute kitten">
        </div>

        <div class="list__item__center">
          <div class="list__item__title">Molly</div>
          <div class="list__item__subtitle">Loves tuna!</div>
        </div>
      </li>
    </ul>
*/

.list__item__thumbnail
  width 40px
  height 40px
  border-radius 6px
  display block
  margin 8px 10px 8px 0px

/*! topdoc
  name: List Item with Icon
  use: List, List Item with Thumbnail
  class: list__item__icon
  markup:
    <ul class="list">
      <li class="list__item">
        <div class="list__item__left">
          <img class="list__item__thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==">
        </div>

        <div class="list__item__center">
          <div class="list__item__title">Alice</div>
        </div>

        <div class="list__item__right">
          <i class="ion-ios-information list__item__icon"></i>
        </div>
      </li>

      <li class="list__item">
        <div class="list__item__left">
          <img class="list__item__thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==">
        </div>

        <div class="list__item__center">
          <div class="list__item__title">Bob</div>
        </div>

        <div class="list__item__right">
          <i class="ion-ios-information list__item__icon"></i>
        </div>
      </li>
    </ul>
*/

.list__item__icon
  font-size 22px
  padding 0 6px

/*! topdoc
  name: Material List
  use: List Item with Subtitle
  class: list--material
  markup:
    <ul class="list list--material">
      <li class="list__item list__item--material">
        <div class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Orange</div>
          <div class="list__item__subtitle list__item--material__subtitle">Sweet fruit that grows on trees.</div>
        </div>
      </li>
      <li class="list__item list__item--material">
        <div class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Pear</div>
          <div class="list__item__subtitle list__item--material__subtitle">Funny-shaped fruit.</div>
        </div>
      </li>
    </ul>
*/

.list--material
  material-font()
  border 0

.list__item--material
  border 0
  min-height 56px
  padding var-material-list-item-padding
  line-height normal

.list__item--material__subtitle
  margin-top 4px

.list__item--material:first-child
  box-shadow none

.list__item--material__left
  padding 16px 0px 16px 0px
  min-width 56px
  line-height 1

.list__item--material__left:empty

.list__item--material__center
  padding 16px 0
  border-color #eee
  retina-list-item-border(#eee)

.list__item--material__right
  padding 16px 16px 16px 0px
  line-height 1
  border-color #eee
  retina-list-item-border(#eee)

.list__item--material.list__item--longdivider
  border-bottom 1px solid #eee
  retina-list-item-border(#eee)

/*! topdoc
  name: Material List with Header
  use: Material List
  class: list__header--material
  markup:
    <ul class="list list--material">
      <li class="list__header list__header--material">
        Fruits
      </li>
      <li class="list__item list__item--material">
        <div class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Orange</div>
          <div class="list__item__subtitle list__item--material__subtitle">Sweet fruit that grows on trees.</div>
        </div>
      </li>
    </ul>
*/

.list__header--material
  background var-list-background-color
  border none
  font-size 14px
  text-transform none
  margin -1px 0 0 0
  color #6c6c6c
  font-weight 500
  padding 8px 16px

.list__header--material:not(:first-of-type)
  border-top 1px solid #eee
  padding-top 16px

/*! topdoc
  name: Material List with Checkboxes
  use: Material List, Material Checkbox
  class: list__header--material
  markup:
    <ul class="list list--material">
      <li class="list__item list__item--material">
        <div class="list__item__left list__item--material__left">
          <label class="checkbox checkbox--material">
            <input type="checkbox" id="checkbox3" class="checkbox__input checkbox--material__input">
            <div class="checkbox__checkmark checkbox--material__checkmark"></div>
          </label>
        </div>

        <label for="checkbox3" class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Notifications</div>
          <div class="list__item__subtitle list__item--material__subtitle">Allow notifications</div>
        </label>
      </li>

      <li class="list__item list__item--material">
        <div class="list__item__left list__item--material__left">
          <label class="checkbox checkbox--material">
            <input type="checkbox" id="checkbox4" class="checkbox__input checkbox--material__input" checked="checked">
            <div class="checkbox__checkmark checkbox--material__checkmark"></div>
          </label>
        </div>

        <label for="checkbox4" class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Sound</div>
          <div class="list__item__subtitle list__item--material__subtitle">Hangouts message</div>
        </label>
      </li>

    </ul>
*/

/*! topdoc
  name: Material List with Thumbnails
  use: Material List, List Item with Thumbnail
  class: list__item--material__thumbnail
  markup:
    <ul class="list list--material">
      <li class="list__item list__item--material">
        <div class="list__item__left list__item--material__left">
          <img class="list__item__thumbnail list__item--material__thumbnail" src="http://placekitten.com/g/42/41" alt="Cute kitten">
        </div>

        <div class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Lily</div>
          <div class="list__item__subtitle list__item--material__subtitle">Very friendly cat</div>
        </div>
      </li>

      <li class="list__item list__item--material">
        <div class="list__item__left list__item--material__left">
          <img class="list__item__thumbnail list__item--material__thumbnail" src="http://placekitten.com/g/40/40" alt="Cute kitten">
        </div>

        <div class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Molly</div>
          <div class="list__item__subtitle list__item--material__subtitle">Loves tuna!</div>
        </div>
      </li>

    </ul>
*/

.list__item--material__thumbnail
  width 40px
  height 40px
  border-radius 100%

/*! topdoc
  name: Material List with Icons
  use: Material List, Material List with Thumbnails
  class: list__item--material__icon
  markup:
    <ul class="list list--material">
      <li class="list__item list__item--material">
        <div class="list__item__left list__item--material__left">
          <img class="list__item__thumbnail list__item--material__thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==">
        </div>

        <div class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Alice</div>
        </div>

        <div class="list__item__right list__item--material__right">
          <i style="color:#4db6ac" class="list__item__icon list__item--material__icon zmdi zmdi-comment"></i>
        </div>
      </li>

      <li class="list__item list__item--material">
        <div class="list__item__left list__item--material__left">
          <img class="list__item__thumbnail list__item--material__thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==">
        </div>

        <div class="list__item__center list__item--material__center">
          <div class="list__item__title list__item--material__title">Bob</div>
        </div>

        <div class="list__item__right list__item--material__right">
          <i style="color:#4db6ac" class="list__item__icon list__item--material__icon zmdi zmdi-comment"></i>
        </div>
      </li>
    </ul>
*/

.list__item--material__icon
  font-size 20px
  padding 0 4px
