/*
Copyright 2012 Adobe Systems Inc.;
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

// NOTE: You can't use @extend that break component independent and topdoc parsing.

// internal variables
var-popover-background-color = $popover-background-color
var-popover-background-color-material = #FAFAFA
var-popover-text-color = $popover-text-color
var-popover-arrow-size = 18px
var-popover-arrow-radius = 4px
var-popover-radius = 8px
var-popover-radius-material = 2px
var-popover-margin = 6px
var-popover-margin-material = 4px

/*! topdoc
  name: Popover
  class: popover
  markup:
    <div class="popover">
      <div class="popover-mask"></div>
      <div class="popover popover--bottom" style="bottom:20px;left:50px;">
        <div class="popover__arrow"></div>
        <div class="popover__content">
          <div style="text-align:center;opacity:0.4;margin-top:40px">Content</div>
        </div>
      </div>
    </div>
*/

.popover
  position absolute
  top var-popover-margin
  right var-popover-margin
  bottom var-popover-margin
  left var-popover-margin
  z-index 20000
  display none

.popover-mask
  left 0
  right 0
  top 0
  bottom 0
  background-color rgba(0, 0, 0, 0.1)
  position fixed

.popover__container
  width 100%
  height 100%
  transform translate3d(0, 0, 0) // ios glitch fix
  pointer-events none

.popover__content
  reset-box-model()
  reset-base()
  reset-cursor()
  reset-font()
  position absolute
  display block
  width 220px
  overflow auto
  min-height 100px
  max-height 100%
  background-color var-popover-background-color
  border-radius var-popover-radius
  color var-popover-text-color
  pointer-events auto

.popover__content > *
  overflow hidden

.popover__content .page,
.popover__content .page__content
  position static

.popover__arrow
  position absolute
  width var-popover-arrow-size
  height var-popover-arrow-size
  transform-origin 50% 50% 0
  background-color transparent
  background-image linear-gradient(45deg, var-popover-background-color, var-popover-background-color 50%, transparent 50%)
  border-radius 0 0 0 var-popover-arrow-radius
  margin (-(var-popover-arrow-size / 2))px

.popover--bottom .popover__arrow
  transform rotate(-45deg)
  bottom 1px

.popover--top .popover__arrow
  transform rotate(135deg)
  top 1px

.popover--left .popover__arrow
  transform rotate(45deg)
  left 1px

.popover--right .popover__arrow
  transform rotate(225deg)
  right 1px

/*! topdoc
  name: Popover(down)
  use: Popover
  markup:
    <div class="popover-mask"></div>
    <div class="popover popover--top" style="top:20px;left:50px;">
      <div class="popover__arrow"></div>
      <div class="popover__content">
        <div style="text-align:center;opacity:0.4;margin-top:40px">Content</div>
      </div>
    </div>
*/

/*! topdoc
  name: Popover(left)
  use: Popover
  markup:
    <div class="popover-mask"></div>
    <div class="popover popover--right" style="top:20px;right:20px;">
      <div class="popover__arrow"></div>
      <div class="popover__content">
        <div style="text-align:center;opacity:0.4;margin-top:40px">Content</div>
      </div>
    </div>
*/

/*! topdoc
  name: Popover(right)
  use: Popover
  markup:
    <div class="popover-mask"></div>
    <div class="popover popover--left" style="top:20px;left:20px;">
      <div class="popover__arrow"></div>
      <div class="popover__content">
        <div style="text-align:center;opacity:0.4;margin-top:40px">Content</div>
      </div>
    </div>
*/

.popover--material
  top var-popover-margin-material
  right var-popover-margin-material
  bottom var-popover-margin-material
  left var-popover-margin-material

.popover-mask--material
  background-color transparent

.popover__container--material
  reset-box-model()
  reset-base()
  reset-cursor()
  reset-font()
  // position absolute
  display inline-block
  max-height 100%
  overflow auto
  /*border-bottom 4px solid transparent*/

.popover__content--material
  background-color var-popover-background-color-material
  border-radius var-popover-radius-material
  color var-popover-text-color
  shadow-1()

.popover__arrow--material
  display none
