$font-family: "PingFang SC","San Fransico","source Han Sans","Roboto",-apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

$font-size: 20px;



$z-index-lv1: 100;
$z-index-lv2: 600;
$z-index-lv3: 1000;
$z-index-lv4: 2000;
$z-index-lv5: 3000;
$z-index-lv6: 4000;
$z-index-lv7: 5000;
$z-index-lv8: 6000;
$z-index-lv9: 7000;
$z-index-lv10: 8000;
$z-index-lv11: 9000;
$z-index-lv12: 9999;
