<ons-page class="center">
    <ons-scroller class="center">
    
    <ons-navigator-toolbar
    	title="Welcome">		
	</ons-navigator-toolbar>

    <h1>Onsen UI 1.0.1 New</h1>
        <ons-button id="get1" ng-click="ons.navigator.pushPage('get/get1/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#get1\')'})">get1</ons-button><br/><br/>
        <ons-button id="get2" ng-click="ons.navigator.pushPage('get/get2/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#get2\')'})">get2</ons-button><br/><br/>        
        <ons-button id="inherit1" ng-click="ons.navigator.pushPage('inheritance/screen/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#inherit1\')'})">Inheritance (screen)</ons-button><br/><br/>
        <ons-button id="inherit2" ng-click="ons.navigator.pushPage('inheritance/navigator/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#inherit2\')'})">Inheritance (navigator)</ons-button><br/><br/>
        <ons-button id="inherit3" ng-click="ons.navigator.pushPage('inheritance/sliding/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#inherit3\')'})">Inheritance (sliding)</ons-button><br/><br/>
        <ons-button id="inherit4"  ng-click="ons.navigator.pushPage('inheritance/split/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#inherit4\')'})">Inheritance (split)</ons-button><br/><br/>
        <ons-button id="hide_tabs"  ng-click="ons.navigator.pushPage('hide_tabs/hide_tabs1/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#hide_tabs\')'})">Hide Tabs</ons-button><br/><br/>
        <ons-button id="swipetargetwidth" ng-click="ons.navigator.pushPage('swipetargetwidth/swipetargetwidth1/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#swipetargetwidth\')'})">swipetargetwidth</ons-button><br/><br/>    
        <ons-button id="fontawesome" ng-click="ons.navigator.pushPage('fontawesome/fontawesome1/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#fontawesome\')'})">Icon</ons-button><br/><br/>            
        <ons-button id="max-slide" ng-click="ons.navigator.pushPage('max-slide-distance/max-slide-distance1/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#max-slide\')'})">max-slide</ons-button><br/><br/>            
    <h2>Old</h2>
        <ons-button id="screen1" ng-click="ons.navigator.pushPage('screen/screen1/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#screen1\')'})">Screen1</ons-button><br/><br/>
        <ons-button id="navigator1"  ng-click="ons.navigator.pushPage('navigator/navigator1/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#navigator1\')'})">Navigator1</ons-button><br/><br/>
        <ons-button id="navigator2"  ng-click="ons.navigator.pushPage('navigator/navigator2/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#navigator2\')'})">Navigator2</ons-button><br/><br/>          
        <ons-button id="navigator3"  ng-click="ons.navigator.pushPage('navigator/navigator3/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#navigator3\')'})">Navigator3</ons-button><br/><br/>          
        <ons-button id="navigator4"  ng-click="ons.navigator.pushPage('navigator/navigator4/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#navigator4\')'})">Navigator4</ons-button><br/><br/>
        <ons-button id="sliding1"    ng-click="ons.navigator.pushPage('sliding/sliding1/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#sliding1\')'})">Sliding1</ons-button><br/><br/>
        <ons-button id="splitview1"  ng-click="ons.navigator.pushPage('splitview/splitview1/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#splitview1\')'})">SplitView1</ons-button><br/><br/>
        <ons-button id="splitview2"  ng-click="ons.navigator.pushPage('splitview/splitview2/index.html', { leftButtonIcon :'fa fa-angle-left', onLeftButtonClick : 'back(\'#splitview2\')'})">SplitView2</ons-button><br/><br/>


        <button class="topcoat-button"><a href="release_test_case_additional/index.html">Additional</a></button>    
        
    
</ons-scroller>
</ons-page>