
:root {
  --card-background-color: white;
  --material-card-background-color: white;
}

/*~
  name: Card
  category: Card
  markup: |
    <div style="background-color: #eee; height: 200px; padding: 1px 0 0 0;">
      <div class="card">
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      </div>
    </div>
*/

.card {
  @apply(--reset-font);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  background-color: var(--card-background-color);
  box-sizing: border-box;
  margin: 8px;
  padding: 16px;
  text-align: left;
}

/*~
  name: Material Card
  category: Card
  markup: |
    <div style="background-color: #eee; height: 200px; padding: 1px 0 0 0;">
      <div class="card card--material">
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      </div>
    </div>
*/

.card--material {
  background-color: var(--material-card-background-color);
  border-radius: 2px;
  @apply(--material-shadow-1);
  @apply(--material-font);
}

