
:root {
  --input-bg-color: var(--background-color);
  --input-border-color: var(--border-color);
  --input-text-color: var(--text-color);
  --input-placeholder-color: var(--sub-text-color);
  --input-invalid-border-color: var(--border-color);
  --input-invalid-text-color: var(--text-color);
  --input-border: 1px solid var(--input-border-color);
  --alpha-lighten: 70%;
  --font-size: 17px;
  --font-weight: 400;
  --material-font-size: 17px;
  --material-font-weight: 400;
  --letter-spacing: 0;
  --font-size--mini: calc(var(--font-size) - 3px);
  --font-size--large: 17px;
  --font-weight--large: 500;
  --background-color--input: transparent;
  --box-shadow--text-input: none;
  --box-shadow--cta: none;
  --thumb-size: 29px;
  --background--body: var(--list-background-color);
  --box-shadow: none;
  --box-shadow--down: none;
  --text-shadow: 0 1px none;
  --round-border: 30px;
  --border-radius: 4px;
  --border-radius--large: 0;
  --border--invalid: 1px solid var(--input-invalid-border-color);
}

html {
  height: 100%;
  width: 100%;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

* { /* stylelint-disable-line selector-no-universal */
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, textarea, select {
  user-select: auto;
  -moz-user-select: text;
}

input:active, input:focus, textarea:active, textarea:focus, select:active, select:focus {
  outline: none;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4, h5, h6 {
  font-size: 18px;
}
