$step-icon-width: 32px;
$step-icon-height: $step-icon-width;

bh-stepping{
  font-size: pxToRem(24px);
  display: block;
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

.bh-stepping-icon{
  position: relative;
  cursor: pointer;
  width: pxToRem($step-icon-width);
  height: pxToRem($step-icon-width);
  line-height: pxToRem($step-icon-width);
  background-color: $gray-lv4;
  text-align: center;

  &.bh-left,
  &.bh-right{
    float: left;
  }

  &.bh-active{
    background-color: $primary-lv1;
  }
}

.bh-stepping-input{
  font-size: pxToRem(24px);
  width: pxToRem(68px);
  height: pxToRem($step-icon-width);
  text-align: center;
  border: none;
  background-color: transparent;
  float: left;
}

