<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../build/css/onsenui.css"/>
    <link rel="stylesheet" href="../../../build/css/onsen-css-components.css"/>

    <script src="../../../build/js/onsenui.js"></script>
    <script src="../../../build/js/angular/angular.js"></script>
    <script src="../../../build/js/angular-onsenui.js"></script>
    <script>
      ons.bootstrap();
    </script>

  </head>
  <body>
    <div style="text-align: center;">
      <ons-button ng-click="alertDialog.show()">Ease in (by attribute)</ons-button>
      <ons-button ng-click="alertDialog.show({animationOptions:{delay: 1, duration: 1, timing: 'ease-out'}})">Ease out (by JS options)</ons-button>
    </div>

    <ons-alert-dialog animation="default" animation-options="{delay: 1, duration: 1, timing: 'ease-in'}" var="alertDialog">
      <div class="alert-dialog-footer">
        <button class="alert-dialog-button" ng-click="alertDialog.hide()">OK</button>
      </div>
    </ons-alert-dialog>
  </body>
</html>
