<div id="pager" class="page" ng-controller="ListController">
	<div id="scroller">
		<div class="topcoat-list__container no-border-top">            
		    <ul id="list" class="topcoat-list no-border-top center">
		    	<li ng-click="change(2)" class="topcoat-list__item"><h3>Yet another</h3></li>
		    	<li ng-click="change(1)" class="topcoat-list__item"><h3>List</h3></li>
		    	<li class="topcoat-list__item"><h3>That</h3></li>
		    	<li class="topcoat-list__item"><h3>You</h3></li>
		    	<li class="topcoat-list__item"><h3>Should see</h3></li>
		    	<li class="topcoat-list__item"><h3>Anything</h3></li>
		    	<li class="topcoat-list__item"><h3>Forval</h3></li>
		    	<li class="topcoat-list__item"><h3>Monaca</h3></li>
		    	<li class="topcoat-list__item"><h3>WWDC</h3></li>
		    	<li class="topcoat-list__item"><h3>Google IO</h3></li>
		    </ul>
		</div>
	</div>
</div>
