ons-col {
  border: 1px solid #ccc;
  background: #fff;
  overflow: hidden;
  padding: 4px;
  color: #999;
}

.page__content {
  background-color: #f6f6f6;
}

.dialog {
  height: 300px !important;
}

h3 {
  color: #666;
  font-size: 17px;
}
