/**
*
* Copyright 2012 Adobe Systems Inc.;
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/
@require utils

input[type="radio"]
  hide-input()

.radio-button
  reset-box-model()
  inline-block()
  reset-cursor()

.radio-button__label
  inline-block()
  reset-cursor()

.radio-button:before,
.radio-button:after
  content ''
  position absolute
  border-radius 100%

.radio-button:after
  top 50%
  left 50%
  transform translate(-50%, -50%)

.radio-button:before
  reset-box-model()

.radio-button--disabled
  disabled()
