/*! topdoc
  name: List
  description: Topcoat default list skin
  markup:
    <div class="page">
      <br>
      <div class="topcoat-list">
        <ul class="topcoat-list__container">
          <li class="topcoat-list__item">
            <span class="topcoat-list__item__line-height">Item</span>
          </li>
          <li class="topcoat-list__item">
            <span class="topcoat-list__item__line-height">Item</span>
          </li>
        </ul>
      </div>
      <br>
    </div>

  showcase:
    <div class="topcoat-navigation-bar">
      <div class="topcoat-navigation-bar__item center full">
          <h1 class="topcoat-navigation-bar__title">List</h1>
      </div>
    </div>
    <br>
    <div class="topcoat-list">
      <h3 class="topcoat-list__header">Category</h3>
      <ul class="topcoat-list__container">
        <li class="topcoat-list__item">
          <span class="topcoat-list__item__line-height">Item</span>
        </li>
        <li class="topcoat-list__item">
          <span class="topcoat-list__item__line-height">Item</span>
        </li>
        <li class="topcoat-list__item">
          <span class="topcoat-list__item__line-height">Item</span>
        </li>
      </ul>

      <h3 class="topcoat-list__header">Category</h3>
      <ul class="topcoat-list__container">
        <li class="topcoat-list__item topcoat-list__item--tappable">
          <span class="topcoat-list__item__line-height">Tappable Item</span>
        </li>
        <li class="topcoat-list__item topcoat-list__item--tappable">
          <span class="topcoat-list__item__line-height">Tappable Item</span>
        </li>
      </ul>
    </div>
*/

/*! topdoc
  name: List:Noborder List
  markup:
    <div class="page">
      <br>
      <div class="topcoat-list topcoat-list--noborder">
        <ul class="topcoat-list__container">
          <li class="topcoat-list__item">
            <span class="topcoat-list__item__line-height">Item</span>
          </li>
          <li class="topcoat-list__item">
            <span class="topcoat-list__item__line-height">Item</span>
          </li>
          <li class="topcoat-list__item">
            <span class="topcoat-list__item__line-height">Item</span>
          </li>
        </ul>
      </div>
      <br>
    </div>
 */

/*! topdoc
  name: List:Category Header
  markup:
    <div class="topcoat-list topcoat-list--noborder">
      <h3 class="topcoat-list__header">Category</h3>
      <ul class="topcoat-list__container">
        <li class="topcoat-list__item topcoat-list__item__line-height">
          Item
        </li>
        <li class="topcoat-list__item topcoat-list__item__line-height">
          Item
        </li>
      </ul>
      <h3 class="topcoat-list__header">Category</h3>
      <ul class="topcoat-list__container">
        <li class="topcoat-list__item topcoat-list__item__line-height">
          Item
        </li>
        <li class="topcoat-list__item topcoat-list__item__line-height">
          Item
        </li>
      </ul>
    </div>
 */

/*! topdoc
  name: List:Tappable List Item
  markup:
    <div class="page">
      <br>
      <div class="topcoat-list topcoat-list">
        <ul class="topcoat-list__container">
          <li class="topcoat-list__item topcoat-list__item--tappable">
            <span class="topcoat-list__item__line-height">Tappable Item</span>
          </li>
          <li class="topcoat-list__item topcoat-list__item--tappable">
            <span class="topcoat-list__item__line-height">Tappable Item</span>
          </li>
        </ul>
      </div>
      <br>
    </div>
 */
