/*! topdoc
  name: Checkbox
  description: Default skin for Topcoat checkbox
  modifiers:
    :focus: Focus state
    :disabled: Disabled state
  markup:
    <p>Checkbox</p>
    <label class="topcoat-checkbox">
      <input type="checkbox">
      <div class="topcoat-checkbox__checkmark"></div>
      OFF
    </label>
    <br><br>
    <label class="topcoat-checkbox">
      <input type="checkbox" checked="checked">
      <div class="topcoat-checkbox__checkmark"></div>
      ON
    </label>
    <br><br>
    <label class="topcoat-checkbox">
      <input type="checkbox" disabled>
      <div class="topcoat-checkbox__checkmark"></div>
      Disabled
    </label>

    <p>Nonborder Checkbox</p>
    <label class="topcoat-checkbox--noborder">
      <input type="checkbox">
      <div class="topcoat-checkbox--noborder__checkmark"></div>
      OFF
    </label>
    <br><br>
    <label class="topcoat-checkbox--noborder">
      <input type="checkbox" checked="checked">
      <div class="topcoat-checkbox--noborder__checkmark"></div>
      ON
    </label>
    <br><br>
    <label class="topcoat-checkbox">
      <input type="checkbox" disabled checked="checked">
      <div class="topcoat-checkbox--noborder__checkmark"></div>
      Disabled
    </label>
*/
