/*! topdoc
  name: Textarea
  description: A whole area, just for text.
  modifiers:
    :disabled: Disabled state
  markup:
    <p>Textarea(border)</p>
    <textarea class="topcoat-textarea" rows="3" placeholder="Textarea"></textarea>
    <br>
    <textarea class="topcoat-textarea" rows="3" placeholder="Textarea" disabled></textarea>
    <br>
    <p>Textarea(transparent)</p>
    <textarea class="topcoat-textarea--transparent" rows="3" placeholder="Textarea"></textarea>
    <br>
    <textarea class="topcoat-textarea--transparent" rows="3" placeholder="Textarea" disabled></textarea>
*/
