/*! topdoc
  name: Navigation Bar
  description: A place where navigation goes to drink
  markup:
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Navigation Bar</h1>
        </div>
    </div>

    <br><br><br>

    <div class="topcoat-navigation-bar topcoat-navigation-bar--bottom">
        <div class="topcoat-navigation-bar__line-height" style="text-align:center">Bottom Toolbar</div>
    </div>

  showcase:
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Navigation Bar</h1>
        </div>
    </div>

    <div class="topcoat-navigation-bar topcoat-navigation-bar--bottom" style="position:absolute;left:0px;right:0px;bottom:0px">
        <div class="topcoat-navigation-bar__line-height" style="text-align:center">Bottom Toolbar</div>
    </div>
*/

/*! topdoc
  name: Navigation Bar:Bottom Bar
  markup:
    <div class="topcoat-navigation-bar topcoat-navigation-bar--bottom">
        <div class="topcoat-navigation-bar__line-height" style="text-align:center">Bottom Toolbar</div>
    </div>
 */
