/*! topdoc
  name: Tab Bar
  description: Component of tab buttons
  modifiers:
    :disabled: Disabled state
  markup:
    <div class="topcoat-tab-bar">
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-a" checked="checked">
        <button class="topcoat-tab-bar__button">
          <div class="onsen_tab-bar__label">One</div>
        </button>
      </label>
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-a">
        <button class="topcoat-tab-bar__button">
          <div class="onsen_tab-bar__label">Two</div>
        </button>
      </label>
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-a">
        <button class="topcoat-tab-bar__button">
          <div class="onsen_tab-bar__label">Three</div>
        </button>
      </label>
    </div>

  showcase:
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Tab Bar</h1>
        </div>
    </div>
    <div class="topcoat-tab-bar" style="position:absolute;left:0px;right:0px;bottom:0px">
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-bb">
        <button class="topcoat-tab-bar__button">
          <i class="fa fa-2x fa-folder"></i>
          <div class="onsen_tab-bar__label">One</div>
        </button>
      </label> 
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-bb">
        <button class="topcoat-tab-bar__button">
          <i class="fa fa-2x fa-heart"></i>
          <div class="onsen_tab-bar__label">Two</div>
        </button>
      </label> 
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-bb" checked="checked">
        <button class="topcoat-tab-bar__button">
          <i class="fa fa-2x fa-stop"></i>
          <div class="onsen_tab-bar__label">Three</div>
        </button>
      </label> 
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-bb">
        <button class="topcoat-tab-bar__button">
          <i class="fa fa-2x fa-circle"></i>
          <div class="onsen_tab-bar__label">Four</div>
        </button>
      </label> 
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-bb">
        <button class="topcoat-tab-bar__button">
          <i class="fa fa-2x fa-cloud"></i>
          <div class="onsen_tab-bar__label">Five</div>
        </button>
      </label> 
    </div>
*/

/*! topdoc
  name: Tab Bar:Icon + Label Tab Item
  markup:
    <div class="topcoat-tab-bar">
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-b" checked="checked">
        <button class="topcoat-tab-bar__button">
          <i class="fa fa-2x fa-comment"></i>
          <div class="onsen_tab-bar__label">Comments</div>
        </button>
      </label> 
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-b">
        <button class="topcoat-tab-bar__button">
          <i class="fa fa-2x fa-video-camera"></i>
          <div class="onsen_tab-bar__label">Videos</div>
        </button>
      </label> 
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-b">
        <button class="topcoat-tab-bar__button">
          <i class="fa fa-2x fa-gear"></i>
          <div class="onsen_tab-bar__label">Settings</div>
        </button>
      </label> 
    </div>
 */

/*! topdoc
  name: Tab Bar:Icon Only Tab Item
  markup:
    <div class="topcoat-tab-bar">
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-c">
        <button class="topcoat-tab-bar__button">
          <i class="fa fa-2x fa-star"></i>
        </button>
      </label> 
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-c">
        <button class="topcoat-tab-bar__button">
          <i class="fa fa-2x fa-comment"></i>
        </button>
      </label> 
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-c">
        <button class="topcoat-tab-bar__button">
          <i class="fa fa-2x fa-circle"></i>
        </button>
      </label> 
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-c">
        <button class="topcoat-tab-bar__button">
          <i class="fa fa-2x fa-play fa-rotate-270"></i>
        </button>
      </label> 
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-c" checked="checked">
        <button class="topcoat-tab-bar__button">
          <i class="fa fa-2x fa-gear"></i>
        </button>
      </label> 
    </div>
 */
