/*! topdoc
  name: Switch
  description: Default skin for Topcoat switch
  modifiers:
    :focus: Focus state
    :disabled: Disabled state
  markup:
    <label class="topcoat-switch">
      <input type="checkbox" class="topcoat-switch__input">
      <div class="topcoat-switch__toggle"></div>
    </label>
    <label class="topcoat-switch">
      <input type="checkbox" class="topcoat-switch__input" checked>
      <div class="topcoat-switch__toggle"></div>
    </label>
    <label class="topcoat-switch">
      <input type="checkbox" class="topcoat-switch__input" disabled>
      <div class="topcoat-switch__toggle"></div>
    </label>

  showcase:
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Switch</h1>
        </div>
    </div>
    <br>
    <div class="topcoat-list">
      <ul class="topcoat-list__container">
        <li class="topcoat-list__item">
          <label class="topcoat-switch" style="float:right;margin-right:8px">
            <input type="checkbox" class="topcoat-switch__input">
            <div class="topcoat-switch__toggle"></div>
          </label>
          <span class="topcoat-list__item__line-height">Label</span>
        </li>

        <li class="topcoat-list__item">
          <label class="topcoat-switch" style="float:right;margin-right:8px">
            <input type="checkbox" class="topcoat-switch__input" checked>
            <div class="topcoat-switch__toggle"></div>
          </label>
          <span class="topcoat-list__item__line-height">Label</span>
        </li>
      </ul>
    </div>
*/
