/*! topdoc
  name: Button
  description: A simple button
  modifiers:
    :active: Active state
    :disabled: Disabled state
    :focus: Focused
  markup: 
    <button class="topcoat-button">Button</button>
    <button class="topcoat-button" disabled>Button</button>
  showcase:
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Button</h1>
        </div>
    </div>
    <div style="padding:8px">
        <button class="topcoat-button">Button</button>
        <button class="topcoat-button--cta">Button</button>
        <button class="topcoat-button--quiet">Button</button>

        <br>
        <br>

        <div style="padding:4px 0px">
            <button class="topcoat-button--large">Button</button>
        </div>
        <div style="padding:4px 0px">
            <button class="topcoat-button--large--cta">Button</button>
        </div>
        <div style="padding:4px 0px">
            <button class="topcoat-button--large--quiet">Button</button>
        </div>
    </div>
*/

/*! topdoc
  name: Button:Call To Action Button
  markup:
    <button class="topcoat-button--cta" >Button</button>
    <button class="topcoat-button--cta" disabled>Button</button>
*/

/*! topdoc
  name: Button:Quiet Button
  markup:
    <button class="topcoat-button--quiet">Button</button>
    <button class="topcoat-button--quiet" disabled>Button</button>
*/

/*! topdoc
  name: Button:Large Button
  markup:
    <button class="topcoat-button--large" >Button</button><br>
    <button class="topcoat-button--large" disabled>Button</button>
*/

/*! topdoc
  name: Button:Large Quiet Button
  markup:
    <button class="topcoat-button--large--quiet">Button</button>
    <button class="topcoat-button--large--quiet" disabled>Button</button>
*/

/*! topdoc
  name: Button:Large Call To Action Button
  markup:
    <button class="topcoat-button--large--cta" >Button</button><br>
    <button class="topcoat-button--large--cta" disabled>Button</button>
*/
