/*! topdoc
  name: Search Input
  description: A text input designed for searching.
  modifiers:
    :disabled: Disabled state
  markup:
    <input type="search" value="" placeholder="Search" class="topcoat-search-input">
    <br>
    <input type="search" value="" placeholder="Search" class="topcoat-search-input" disabled>
  showcase:
    <div class="topcoat-navigation-bar">
      <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Search Input</h1>
      </div>
    </div>
    <div style="padding:4px">
    <input type="search" value="" placeholder="Search" class="topcoat-search-input">
    </div>
    <div class="topcoat-list">
      <ul class="topcoat-list__container">
        <li class="topcoat-list__item topcoat-list__item__line-height">Label</li>
        <li class="topcoat-list__item topcoat-list__item__line-height">Label</li>
        <li class="topcoat-list__item topcoat-list__item__line-height">Label</li>
        <li class="topcoat-list__item topcoat-list__item__line-height">Label</li>
      </ul>
    </div>
*/
