/*! topdoc
  name: Range
  description: Range input
  modifiers:
    :active: Active state
    :disabled: Disabled state
    :focus: Focused
  markup:
    <input type="range" class="topcoat-range">
    <input type="range" class="topcoat-range" disabled>
  showcase:
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Range</h1>
        </div>
    </div>

    <div style="padding:8px">
      <input type="range" class="topcoat-range" style="width:100%" value="0">
    </div>

    <div style="padding:8px">
      <input type="range" class="topcoat-range" style="width:100%" value="30">
    </div>

    <div style="padding:8px">
      <input type="range" class="topcoat-range" style="width:100%" value="60">
    </div>

    <div style="padding:8px">
      <input type="range" class="topcoat-range" style="width:100%" value="90">
    </div>
*/
