/*! topdoc
  name: Checkbox
  description: Default skin for Topcoat checkbox
  modifiers:
    :focus: Focus state
    :disabled: Disabled state
  markup:
    <label class="topcoat-checkbox">
      <input type="checkbox">
      <div class="topcoat-checkbox__checkmark"></div>
      OFF
    </label>
    <br>
    <label class="topcoat-checkbox">
      <input type="checkbox" checked="checked">
      <div class="topcoat-checkbox__checkmark"></div>
      ON
    </label>
    <br>
    <label class="topcoat-checkbox">
      <input type="checkbox" disabled>
      <div class="topcoat-checkbox__checkmark"></div>
      Disabled
    </label>
  showcase:
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Checkbox</h1>
        </div>
    </div>
    <br>
    <div class="topcoat-list">
      <ul class="topcoat-list__container">
        <li class="topcoat-list__item topcoat-list__item__line-height">
          <label class="topcoat-checkbox">
            <input type="checkbox" checked="checked">
            <div class="topcoat-checkbox__checkmark"></div>
            ON
          </label>
        </li>
        <li class="topcoat-list__item topcoat-list__item__line-height">
          <label class="topcoat-checkbox">
            <input type="checkbox">
            <div class="topcoat-checkbox__checkmark"></div>
            OFF
          </label>
        </li>
        <li class="topcoat-list__item topcoat-list__item__line-height">
          <label class="topcoat-checkbox--noborder">
            <input type="checkbox" checked="checked">
            <div class="topcoat-checkbox__checkmark"></div>
            ON
          </label>
        </li>
        <li class="topcoat-list__item topcoat-list__item__line-height">
          <label class="topcoat-checkbox--noborder">
            <input type="checkbox">
            <div class="topcoat-checkbox__checkmark"></div>
            OFF
          </label>
        </li>
      </ul>
    </div>
*/

/*! topdoc
  name: Checkbox:Noborder Checkbox
  markup:
    <label class="topcoat-checkbox--noborder">
      <input type="checkbox">
      <div class="topcoat-checkbox__checkmark"></div>
      OFF
    </label>
    <br>
    <label class="topcoat-checkbox--noborder">
      <input type="checkbox" checked="checked">
      <div class="topcoat-checkbox__checkmark"></div>
      ON
    </label>
    <br>
    <label class="topcoat-checkbox--noborder">
      <input type="checkbox" disabled checked="checked">
      <div class="topcoat-checkbox__checkmark"></div>
      Disabled
    </label>
 */
