/*! topdoc
  name: List
  description: Topcoat default list skin
  markup:
    <div class="topcoat-list">
      <h3 class="topcoat-list__header">Category</h3>
      <ul class="topcoat-list__container">
        <li class="topcoat-list__item">
          Item
        </li>
        <li class="topcoat-list__item">
          Item
        </li>
        <li class="topcoat-list__item">
          Item
        </li>
      </ul>
    </div>
*/
