/*! topdoc
  name: Icon Button
  description: Like button, but it has an icon.
  modifiers:
    :active: Active state
    :disabled: Disabled state
    :focus: Focused
  markup:
    <p>Icon Button</p>
    <button class="topcoat-icon-button">
      <i class="fa fa-bell" style="font-size:17px"></i> Label
    </button>
    <button class="topcoat-icon-button" disabled>
      <i class="fa fa-bell" style="font-size:17px"></i> Label
    </button>

    <p>Quiet Icon Button</p>
    <button class="topcoat-icon-button--quiet">
      <i class="fa fa-bell" style="font-size:17px"></i> Label
    </button>
    <button class="topcoat-icon-button--quiet" disabled>
      <i class="fa fa-bell" style="font-size:17px"></i> Label
    </button>
*/
