/*! topdoc
  name: Search Input
  description: A text input designed for searching.
  modifiers:
    :disabled: Disabled state
  markup:
    <div style="padding:7px 6px;">
      <input type="search" value="" placeholder="Search" class="topcoat-search-input">
    </div>
    <div style="padding:7px 6px;">
      <input type="search" value="" placeholder="Search" class="topcoat-search-input" disabled>
    </div>
    <div style="padding:7px 6px; background-color:#C9C9CE">
      <input type="search" value="" placeholder="Search" class="topcoat-search-input">
    </div>
*/
