/*! topdoc
  name: Textarea
  description: A whole area, just for text.
  modifiers:
    :disabled: Disabled state
  markup:
    <textarea class="topcoat-textarea" rows="3" placeholder="Textarea"></textarea>
    <br>
    <textarea class="topcoat-textarea" rows="3" placeholder="Textarea" disabled></textarea>

  showcase:
    <div class="topcoat-navigation-bar">
      <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Textarea</h1>
      </div>
    </div>
    <div style="padding:8px">
      <textarea class="topcoat-textarea" style="width:100%; height:80px; margin-bottom:8px" placeholder="Textarea"></textarea><br>
      <button class="topcoat-button--large">Submit</button>
    </div>

    <br><br><br><br>

    <div class="topcoat-list">
      <ul class="topcoat-list__container">
        <li class="topcoat-list__item">
          <textarea class="topcoat-textarea--transparent" style="width:100%; height:80px; margin-bottom:4px" placeholder="Textarea"></textarea>
        </li>
      </ul>
    </div>
    <div style="padding:8px">
      <button class="topcoat-button--large">Submit</button>
    </div>
*/

/*! topdoc
  name: Textarea:Transparent Textarea
  markup:
    <textarea class="topcoat-textarea--transparent" rows="3" placeholder="Textarea"></textarea>
    <br>
    <textarea class="topcoat-textarea--transparent" rows="3" placeholder="Textarea" disabled></textarea>
*/
