/*! topdoc
  name: Button Bar
  description: Component of grouped buttons
  modifiers:
    :disabled: Disabled state
  markup:
    <div class="topcoat-button-bar" style="width:280px">
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button-bar__button">One</button>
      </div>
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button-bar__button">Two</button>
      </div>
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button-bar__button">Three</button>
      </div>
    </div>

    <br>

    <div class="topcoat-button-bar" style="width:280px">
      <div class="topcoat-button-bar__item active">
        <button class="topcoat-button-bar__button">One</button>
      </div>
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button-bar__button">Two</button>
      </div>
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button-bar__button">Three</button>
      </div>
    </div>

  showcase:
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Button Bar</h1>
        </div>
    </div>
    <div style="padding:8px">
      <div class="topcoat-button-bar" style="width:100%">
        <div class="topcoat-button-bar__item active">
          <button class="topcoat-button-bar__button">One</button>
        </div>
        <div class="topcoat-button-bar__item">
          <button class="topcoat-button-bar__button">Two</button>
        </div>
        <div class="topcoat-button-bar__item">
          <button class="topcoat-button-bar__button">Three</button>
        </div>
      </div>
    </div>
    <div style="padding:8px">
      <div class="topcoat-button-bar" style="width:100%">
        <div class="topcoat-button-bar__item">
          <button class="topcoat-button-bar__button">One</button>
        </div>
        <div class="topcoat-button-bar__item active">
          <button class="topcoat-button-bar__button">Two</button>
        </div>
        <div class="topcoat-button-bar__item">
          <button class="topcoat-button-bar__button">Three</button>
        </div>
      </div>
    </div>
    <div style="padding:8px">
      <div class="topcoat-button-bar" style="width:100%">
        <div class="topcoat-button-bar__item">
          <button class="topcoat-button-bar__button">One</button>
        </div>
        <div class="topcoat-button-bar__item">
          <button class="topcoat-button-bar__button">Two</button>
        </div>
        <div class="topcoat-button-bar__item active">
          <button class="topcoat-button-bar__button">Three</button>
        </div>
      </div>
    </div>
*/
