/*! topdoc
  name: Radio Button
  description: A button that can play music, but usually just plays ads.
  modifiers:
  markup:
    <label class="topcoat-radio-button">
      <input type="radio" name="topcoat" checked="checked">
      <div class="topcoat-radio-button__checkmark"></div>
      Label
    </label>
    <br>
    <label class="topcoat-radio-button">
      <input type="radio" name="topcoat">
      <div class="topcoat-radio-button__checkmark"></div>
      Label
    </label>
    <br>
    <label class="topcoat-radio-button">
      <input type="radio" name="topcoat">
      <div class="topcoat-radio-button__checkmark"></div>
      Label
    </label>

  showcase:
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Radio Button</h1>
        </div>
    </div>
    <br>
    <div class="topcoat-list">
      <ul class="topcoat-list__container">
        <li class="topcoat-list__item">
          <label class="topcoat-radio-button" style="float:right; margin-right:8px;">
            <input type="radio" name="example" checked="checked">
            <div class="topcoat-radio-button__checkmark"></div>
          </label>
          <span class="topcoat-list__item__line-height">Label</span>
        </li>

        <li class="topcoat-list__item">
          <label class="topcoat-radio-button" style="float:right; margin-right:8px;">
            <input type="radio" name="example">
            <div class="topcoat-radio-button__checkmark"></div>
          </label>
          <span class="topcoat-list__item__line-height">Label</span>
        </li>
      </ul>
    </div>

*/
