/*! topdoc
  name: Range
  description: Range input
  modifiers:
    :active: Active state
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup:
    <p>Range</p>
    <input type="range" class="topcoat-range">
    <input type="range" class="topcoat-range" disabled>
    <br>
    <p>Mini Range</p>
    <input type="range" class="topcoat-range--mini">
    <input type="range" class="topcoat-range--mini" disabled>
*/
