/*! topdoc
  name: Text input
  description: Topdoc text input
  modifiers:
    :disabled: Disabled state
    :focus: Focused
    :invalid: Hover state
  markup:
    <p>Text Input(border)</p>
    <input type="text" class="topcoat-text-input" placeholder="text" value="">
    <br>
    <br>
    <input type="text" class="topcoat-text-input" placeholder="text" value="" disabled>
    <br>
    <br>
    <input type="text" class="topcoat-text-input" placeholder="text" value="fail" pattern="not-fail">

    <p>Text Input(transparent)</p>
    <input type="text" class="topcoat-text-input topcoat-text-input--transparent" placeholder="text" value="">
    <br>
    <br>
    <input type="text" class="topcoat-text-input topcoat-text-input--transparent" placeholder="text" value="" disabled>
    <br>
    <br>
    <input type="text" class="topcoat-text-input topcoat-text-input--transparent" placeholder="text" value="fail" pattern="not-fail">

    <p>Text Input(underbar)</p>
    <input type="text" class="topcoat-text-input topcoat-text-input--underbar" placeholder="text" value="">
    <br>
    <br>
    <input type="text" class="topcoat-text-input topcoat-text-input--underbar" placeholder="text" value="" disabled>
    <br>
    <br>
    <input type="text" class="topcoat-text-input topcoat-text-input--underbar" placeholder="text" value="fail" pattern="not-fail">
*/
