/*! topdoc
  name: Notification
  description: Notification badge
  markup:
    <span class="topcoat-notification">1</span>
    <br><br>
    <span class="topcoat-notification">10</span>
    <br><br>
    <span class="topcoat-notification">999</span>
    <br><br>
    <span class="topcoat-notification">9999</span>
*/
