/*! topdoc
  name: Search Input
  description: A text input designed for searching.
  modifiers:
    :disabled: Disabled state
  markup:
    <input type="search" value="" placeholder="Search" class="topcoat-search-input">

    <br>

    <input type="search" value="" placeholder="Search" class="topcoat-search-input" disabled>
*/
