/*! topdoc
  name: Textarea
  description: A whole area, just for text.
  modifiers:
    :disabled: Disabled state
  markup:
    <textarea class="topcoat-textarea" rows="6" cols="36" placeholder="Textarea"></textarea>
    <br>
    <textarea class="topcoat-textarea" rows="6" cols="36" placeholder="Textarea" disabled></textarea>
*/
