/*! topdoc
  name: Navigation Bar
  description: A place where navigation goes to drink
  markup:
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Header</h1>
        </div>
    </div>
*/
