<ons-page style="background-color: white">

  <ons-list>

    <ons-list-item
      modifier="chevron"
      ng-click="ons.slidingMenu.toggleMenu(); 
      ons.slidingMenu.setAbovePage('navigator1.html')">
      <i class="fa fa-home fa-lg" style="color: #666"></i>
      &nbsp; Page 1
    </ons-list-item>

    <ons-list-item 
      modifier="chevron"
      ng-click="ons.slidingMenu.toggleMenu(); 
      ons.slidingMenu.setAbovePage('navigator2.html')">
      <i class="fa fa-gear fa-lg" style="color: #666"></i>
      &nbsp; Page 2
    </ons-list-item>

  </ons-list>

</ons-page>
