<ons-navigator page="page2.html">
  <ons-page class="center">
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="ons.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Page 2</div>
    </ons-toolbar>

    <h1>Page 2</h1>

    <ons-button ng-click="ons.slidingMenu.toggleMenu()">
      Toggle Menu
    </ons-button>

    <p>
      <ons-button ng-click="ons.navigator.pushPage('page.html', {})">
        Push Page
      </ons-button>
    </p>
  </ons-page>
</ons-navigator>
