ons-input {
  display: inline-block;
  position: relative;
}

ons-input .text-input__container,
ons-input .text-input__container input {
  width: 100%;
  display: inline-block;
}

ons-input .text-input__label:not(.text-input--material__label) {
  display: none;
}

ons-input:not([float]) .text-input--material__label--active {
  display: none;
}

ons-input[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

ons-input input.text-input--material::-webkit-input-placeholder {
  color: transparent;
}

ons-input input.text-input--material::-moz-placeholder {
  color: transparent;
}

ons-input input.text-input--material:-ms-input-placeholder {
  color: transparent;
}
