
@require '../../common/utils'

* 
  font-family 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif
  -webkit-font-smoothing antialiased

// Layout

.quarter 
  width 25%

.half 
  width 50%

.three-quarters 
  width 75%

.third 
  width 33.333%

.two-thirds 
  width 66.666%

.full 
  width 100%

// Position

.left 
  text-align left

.center 
  text-align center

.right 
  text-align right


.reset-ui 
  reset-box-model()
  inline-block()
  reset-base()
  reset-cursor()
  ellipsis()

