/**
 * Brackets theme
 *
 * @author Garth Braithwaite
 * @version 0.0.1
 */
pre {
    word-wrap: break-word;
    padding: 6px 10px;
    line-height: 19px;
    margin-bottom: 20px;
}

pre, code {
    font-family: source-code-pro, 'Source Code Pro', Courier, monospace;
    color: #535353;
}

pre, pre code {
    font-size: 13px;
}

pre .comment {
    color: #A2A2A2;
}

pre .support {
    color: #0086B3;
}

pre .tag, pre .tag-name {
    color: #446FBD;
}

pre .css-property {
    color: #8757AD;
}

pre .css-value, pre .support.namespace {
    color: #F18900;
}
pre .vendor-prefix {
    color: #535353;
}
pre .constant.numeric, pre .keyword.unit {
    color: #738D00;
}
pre .hex-color {
    color: #F18900;
}
pre .entity.class {
    color: #5585C4;
}

pre .entity.id, pre .entity.function {
    color: #900;
}

pre .attribute, pre .variable {
    color: #738D00;
}

pre .string, pre .support.value  {
    color: #8757AD;
}

pre .regexp {
    color: #535353;
}