<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Theme Roller - Easily Customize CSS Components & Patterns  | Onsen</title>
    <meta name="description" content="Develop awesome looking and high performance HTML5 mobile apps with Onsen framework and UI components. Provides AngularJS and jQuery bindings.">
    <meta name="viewport" content="width=1400,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <!-- build:css /styles/minified.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/bower_components/jquery-minicolors/jquery.minicolors.css">
    <link rel="stylesheet" href="/vendor/codemirror-4.0/lib/codemirror.css">
    <link rel="stylesheet" href="/styles/codemirror.css">
    <!-- endbuild -->

    <link rel="stylesheet" href="/patterns/lib/font_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/patterns/lib/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/patterns/lib/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/onsen-css-components-default.css" id="generated-css-placeholder">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300italic,300,100italic,400italic,500,700,500italic,700italic,900,900italic" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="//use.typekit.net/rrt2vbp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body ng-controller="AppController">

    <div id="loading"><div id="loading-message"><img src="/images/loading.gif" width="24" height="24"> Loading...</div></div>

    <!--
    <div id="header-monaca">
      <div id="header-monaca-inner">
        <a href="http://monaca.io"><img src="/images/header-monaca-logo.png"></a>

        <ul id="header-monaca-navi">
          <li><a href="#">Products</a>
            <ul class="header-monaca-navi-sub-menu">
              <li><a href="http://en.monaca.io/cloud.html">Monaca Cloud</a></li>
              <li><a href="http://en.monaca.io/enterprise.html">Monaca Enterprise</a></li>
              <li><a href="http://en.monaca.io/debugger.html">Monaca Debugger</a></li>
              <li><a href="http://en.monaca.io/localkit.html">Monaca Localkit</a></li>
              <li><a href="http://monaca.mobi/en/academic/">Monaca Academic Plan</a></li>
              <li><a href="http://en.monaca.io/kidozen.html">KidoZen</a></li>
            </ul>
          </li>
          <li>
            <a href="http://monaca.mobi/en/support/index">Support</a>
            <!--
            <ul class="header-monaca-navi-sub-menu">
              <li><a href="http://en.monaca.io/support.html">Support Plan</a></li>
              <li><a href="http://monaca.mobi/en/training/index">Training</a></li>
              <li><a href="http://monaca.mobi/en/support/index">Support Index</a></li>
            </ul>
          </li>
          <li>
            <a href="http://monaca.mobi/en/showcase">Showcase</a>
            <!--
            <ul class="header-monaca-navi-sub-menu">
              <li><a href="http://monaca.mobi/en/showcase">Showcase</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    -->

    <div id="content-container" ng-cloak>

      <header class="global-header">
        <div>
          <h1><a href="http://onsen.io"><img src="/images/header-logo.png" class="logo-mark" width="167" height="38"></a></h1>
        </div>

        <!--
        <ul class="gnav">
          <li><a href="http://onsen.io/guide/getting_started.html">GETTING STARTED</a></li>
          <li><a href="http://onsen.io/docs.html">DOCS</a></li>
          <li><a href="http://onsen.io/forum.html">FORUM</a></li>
          <li><a href="http://onsen.io/blog/">BLOG</a></li>
        </ul>
        -->
        <ul class="gnav">
          <li><a href="//onsen.io/">Back to Onsen UI Website</a></li>
        </ul>

      </header>

      <!-- customizer panel -->
      <div id="customizer-panel">
        <header>
          <h2 translate>Theme Roller</h2>
        </header>

        <section>
          <div class="customizer-section">
            <a class="get-css-button" ng-click="thankyouDialog.show()"><img src="/images/download-icon.png" alt=""  style="margin-bottom: -2px;"> Download Theme</a>
          </div>
          <div class="customizer-section">
            <h3 translate>Predefined Color Scheme</h3>
            <ul class="color-scheme-switcher">
              <li
                ng-class="{current: scheme == colorSchemeSwitcher.current}"
                ng-repeat="scheme in colorSchemeSwitcher.schemes"
                ng-click="colorSchemeSwitcher.current = scheme; setColorScheme(scheme)">
                <div class="color-scheme-icon" ng-style="{'border-color': scheme.getColor('background-color')}">
                  <div ng-style="{'background-color': scheme.getColor('background-color')}"></div>
                  <div ng-style="{'background-color': scheme.getColor('text-color')}"></div>
                  <div ng-style="{'background-color': scheme.getColor('sub-text-color')}"></div>

                  <div ng-style="{'background-color': scheme.getColor('highlight-color')}"></div>
                  <div ng-style="{'background-color': scheme.getColor('second-highlight-color')}"></div>
                  <div ng-style="{'background-color': scheme.getColor('border-color')}"></div>

                </div>
              </li>
            </ul>
          </div>

          <div class="customizer-section" ng-repeat="group in colorCustomizer.itemGroups">
            <h3>{{group.name|translate}}</h3>
            <ul class="customize-item-list">
              <li ng-repeat="item in group.items track by item.name + item.value" ng-style="{opacity: colorCustomizer.shouldHighlight(item.name) ? 1 : 0.3}">{{item.displayName|translate}}
                <div class="color-picker-container">
                  <div class="color-picker" data-variable-name="{{item.name}}" style="background-color: {{item.value}}" ng-click="colorPicker.show($event);"></div>
                </div>

                <span class="color-picker-label">{{colorSchemeSwitcher.current.getColor(item.name)}}</span>
              </li>
            </ul>
          </div>
        </section>
      </div>
      <!-- /customizer panel -->

      <div id="main-panel">
        <ul id="main-panel-tabbar">
          <li ng-class="{current : location.path() === '/'}" ng-click="location.path('/')" translate>CSS Components</li>
          <li ng-class="{current : location.path() === '/patterns'}" ng-click="location.path('/patterns')" translate>Patterns</li>
        </ul>
        <div id="main-panel-view">
          <ng-view ></ng-view>
        </div>
        <footer>
          <a ng-click="newsletterPopup.show()" translate>Keep Me Updated</a>
        </footer>
      </div>

      <!-- for inspect mode -->
      <div class="inspector-background-mask" ng-show="inspector.isShown" ng-click="inspector.isShown = false"></div>

      <!-- color picker -->
      <color-picker-popup target="colorPicker.target" show="colorPicker.isShown" on-color-changed="colorChanged($color)">
      </color-picker-popup>

      <!-- dialog -->
      <div ng-include="'views/componentDialog.html'"></div>
      <div ng-include="'views/htmlDialog.html'"></div>
      <div ng-include="'views/thankyouDialog.html'"></div>
      <div ng-include="'views/welcomeDialog.html'" ng-init="welcomeDialog = createDialog()"></div>
      <div ng-include="'views/shareDialog.html'" ng-init="shareDialog = createDialog()"></div>

      <!-- guide -->
      <div ng-include="'views/guidePopup.html'"></div>

      <!-- popup -->
      <div ng-include="'views/newsletterPopup.html'"></div>
    </div>

    <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-526750-31');
       ga('send', 'pageview');
    </script>

    <!-- build:js /scripts/minified.js -->

    <!-- color schemas -->
    <script src="/theme.js"></script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js /scripts/minified.js -->

    <!-- vendor lib -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/vendor/ZeroClipboard.min.js"></script>
    <script src="/vendor/woothee.js"></script>

    <!-- color picker -->
    <script src="/bower_components/jquery-minicolors/jquery.minicolors.js"></script>

    <!-- color parser and css parser -->
    <script src="/vendor/csscolorparser.js"></script>

    <!-- angular -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>

    <!-- codemirror -->
    <script src="/vendor/codemirror-4.0/lib/codemirror.js"></script>
    <script src="/vendor/codemirror-4.0/mode/css/css.js"></script>
    <script src="/vendor/codemirror-4.0/mode/xml/xml.js"></script>
    <script src="/vendor/codemirror-4.0/mode/htmlmixed/htmlmixed.js"></script>

    <!-- i18n -->
    <script src="/bower_components/angular-translate/angular-translate.js"></script>

    <!-- app code -->
    <script src="/scripts/app.js"></script>

    <script src="/scripts/template.generated.js"></script>
    <script src="/scripts/cssComponentParser.js"></script>

    <script src="/scripts/colorScheme.js"></script>
    <script src="/scripts/colorSchemeFactory.js"></script>
    <script src="/scripts/component.js"></script>
    <script src="/scripts/componentCollection.js"></script>
    <script src="/scripts/screenPattern.js"></script>
    <script src="/scripts/screenPatternCollection.js"></script>
    <script src="/scripts/generatedCSS.js"></script>
    <script src="/scripts/colors2URL.js"></script>
    <script src="/scripts/clipboardClients.js"></script>

    <script src="/scripts/directives/componentIframe.js"></script>
    <script src="/scripts/directives/componentElement.js"></script>
    <script src="/scripts/directives/colorPickerPopup.js"></script>
    <script src="/scripts/directives/tooltip.js"></script>
    <script src="/scripts/directives/patternIframe.js"></script>
    <script src="/scripts/directives/patternInspector.js"></script>

    <script src="/scripts/viewmodels/colorCustomizer.js"></script>
    <script src="/scripts/viewmodels/simpleColorCustomizer.js"></script>
    <script src="/scripts/viewmodels/dialog.js"></script>
    <script src="/scripts/viewmodels/componentDialog.js"></script>

    <script src="/scripts/controllers/app.js"></script>
    <script src="/scripts/controllers/components.js"></script>

    <!-- endbuild -->

    <script src="/vendor/topdoc_parser.js"></script>
    <script src="/scripts/css.generated.js"></script>

    <script>
      window.IS_DEV = !location.host.match('onsen.io');

      $(function() {
        var browser = woothee.parse(navigator.userAgent);
        if (!(browser.name === 'Opera' || browser.name === 'Chrome' || browser.name === 'Safari' || browser.name === 'Firefox')) {
          alert(
            'Your browser is not supported by Onsen CSS Components.\n' +
            'Please install the latest version of Google Chrome, Safari, Opera or Firefox.'
          );
        }
      });

      $(function() {
        $('.uninitialized').removeClass('uninitialized');

        angular.bootstrap(document, ['app']);

        setTimeout(function() {
          var loading = $('#loading');
          loading.addClass('hide');

          setTimeout(function() {
            loading.css('display', 'none');
          }, 200);
        }, 200);
      });
    </script>

    <!-- heatmap -->
    <script type="text/javascript">
      setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName("script")[0];
        a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0022/7441.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>

  </body>
</html>
