// NOTE: You can't use @extend for component independent and topdoc parsing.

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
}

input {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

textarea {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

select {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

