/**
*
* Copyright 2012 Adobe Systems Inc.;
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/

// NOTE: You can't use @extend that break component independent and topdoc parsing.

/*! topdoc
  name: Icon Button
  class: icon-button
  modifiers:
    :active: Active state
    :disabled: Disabled state
    :focus: Focused
  markup:
    <button class="icon-button">
      <i class="fa fa-bell" style="font-size:17px"></i> Label
    </button>

    <button class="icon-button--quiet">
      <i class="fa fa-bell" style="font-size:17px"></i> Label
    </button>
*/

.icon-button
  reset-font()
  padding var-padding--icon-button
  letter-spacing var-letter-spacing
  color var-color--icon-button
  text-shadow var-text-shadow
  vertical-align baseline
  background-color var-background-color--icon-button
  box-shadow var-box-shadow
  border var-border--icon-button
  border-radius var-icon-button-border-radius
  font-weight var-font-weight
  font-size var-font-size
  transition opacity 0.2s linear
  vertical-align middle

.icon-button:active
  background-color var-background-color--icon-button--active
  transition none
  opacity 0.6

.icon-button:disabled
  disabled()

.icon-button:focus
  outline 0

.icon-button--quiet
  @extend .icon-button
  button--quiet()
  background-color var-background-color--icon-button--quiet
  border var-border--icon-button--quiet
  color var-color--icon-button--quiet

.icon-button--quiet:active
  @extend .icon-button:active
  color var-color--icon-button--quiet--active
  text-shadow var-text-shadow
  background-color var-background-color--icon-button-quiet--down
  border var-border--icon-button--quite--active
  box-shadow var-box-shadow--icon-button-quiet--down

.icon-button--quiet:disabled
  @extend .icon-button:disabled

.icon-button--quiet:focus
  @extend .icon-button:focus

.icon
  inline-block()
  overflow hidden
  width var-size--icon
  height var-size--icon
  vertical-align middle
  top var-icon-top

.icon--large
  @extend .icon
  width var-size--icon--large
  height var-size--icon--large
  top var-icon-top--large

