
body {
  margin: 0;
  padding: 0;
  position: static;
  background-color: white;
  overflow: visible;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

* {
  user-select: auto !important;
}

a,
a:link,
a:visited {
  color: #999;
  font-family: 'Helvetica Neue', 'Helevetica', sans-serif;
}

a:hover {
  text-decoration: none;
}

.content {
  margin-left: 140px;
}

.content__header {
  font-size: 22px;
  font-weight: 400;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  color: #444;
}

.components {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 50vh -10px;
}

.component-preview {
  display: inline-block;
  width: 350px;
  box-sizing: border-box;
  margin: 0px 10px 0 10px;
}

.component-preview__link,
.component-preview__link:link,
.component-preview__link:visited {
  color: #333;
  text-decoration: none;
}

.component-preview__link:hover {
  text-decoration: underline;
}

.component-example {
  height: 201px;
  text-align: center;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 3px;
}

.component-example {
  width: 350px;
}

.title-label,
.title-label:link,
.title-label:visited,
.title-label:hover {
  font-size: 12px;
  color: #444;
  font-weight: 500;
  line-height: 1.4;
  text-decoration: none;
  margin: 24px 0 4px 0;
  display: block;
}

.component-markup {
  font-family: 'Menlo', monospace;
  font-size: 13px;
  line-height: 1.6;
  color: #F4F9FF;
  background-color: #1F2833;
  padding: 22px;
  width: 100%;
  margin: 0;
  user-select: text;
}

.side-navi {
  float: left; 
  position: fixed;
  top: 0;
  bottom: 0;
  width: 140px;
  box-sizing: border-box;
  padding: 18px 0 18px 18px;
  overflow-y: auto;
}

.side-navi::-webkit-scrollbar { 
  display: none; 
}

.side-navi__title,
.side-navi__title:link,
.side-navi__title:visited {
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: 500;
  display: block;
  color: #444;
  text-decoration: none;
}

.side-navi__title:hover {
  color: #FF3726;
}

.category-list {
}

.category-list__header {
  font-size: 13px;
  font-weight: 500;
  color: #444;
  line-height: 23px;
}

.category-list__item {
  height: 23px;
  line-height: 22px;
  margin-left: 13px;
}

.category-list__item-link,
.category-list__item-link:link,
.category-list__item-link:visited {
  font-size: 12px;
  color: #444;
  text-decoration: none;
}

.platform-filter {
  float: right;
  margin: 0 18px 0 0;
  display: flex;
}

.platform-filter__link,
.platform-filter__link:link,
.platform-filter__link:visited,
.platform-filter__link:hover {
  font-family: 'Helvetica Neue', 'Helevetica', sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #999;
  box-sizing: border-box;
  padding: 2px 5px;
  font-weight: 400;
  margin: 0 1px;
  border-radius: 3px;
}

.platform-filter__link--active,
.platform-filter__link--active:link,
.platform-filter__link--active:visited {
  color: #444;
  background-color: #eee;
}
