
<div id="components-container" ng-controller="ComponentsController">

  <style class="generated-css"></style>

  <ul id="components">
    <li ng-repeat="component in components">
      <h3><label>
          <input type="checkbox" name="component-varname-highlight" ng-model="component.checked" ng-change="updateVarNamesHighlight()">{{component.name}}
      </label></h3>
      <div class="component-preview" ng-click="componentDialog.show(component)">
        <div class="component-preview-mask"></div>
        <component-element html="component.html"></component-element>
      </div>
    </li>
  </ul>

</div>
