<div class="popup-dialog-mask uninitialized" ng-show="htmlDialog.isShown" ng-click="htmlDialog.hide()"></div>
<div class="dialog-container uninitialized html-dialog-container" ng-show="htmlDialog.isShown">
  <div class="popup-dialog html-dialog" ng-show="htmlDialog.isShown">
    <img src="/images/close.png" class="close" ng-click="htmlDialog.hide()">

    <h2>HTML &amp; CSS <a ng-click="htmlDialog.popup()" translate>T_SHOW_IN_SEPARATE_WINDOW</a></h2>

    <div class="html-container">
      <div class="codemirror-container" data-lang="html" data-name="htmlDialogEditor"></div>
    </div>

    <div class="css-container">
      <div class="codemirror-container" data-lang="css" data-name="cssDialogEditor"></div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.uninitialized').removeClass('uninitialized');
  });
</script>
