/* This file should include color and image variables corresponding to the onsen theme */

var-font-weight = 400
var-font-weight--large = 500
var-letter-spacing = 0

/* Theme variables: Color */

var-theme-ios7-blue = #1284ff
var-theme-ios7-text-black = #1F1F21
var-theme-ios7-border = #ddd

/* --------- colors --------- */

var-text-grey = #6F6F74
var-titlebar-background = #F8F8F8
var-view-background = #fff
var-list-background-color = var-view-background
var-list-header-background-color = #f0eff4
var-switch-color = #4CD964
var-list-text-color = var-theme-ios7-text-black
var-tab-bar-background-color = var-titlebar-background
var-tab-bar-border-color = var-theme-ios7-border
var-key-color = #25b5c2
var-secondary-color = var-list-background-color
var-auxilary-color = #b3b3b3
var-notification-color = #fff
var-cta-background-color = #4a9cd2
var-list-item-active-color = #b6dedd
var-text-input-color = #b3b3b3
var-search-input-background-color--focus = #e7e3e0

/* ---------- darken ---------- */
var-dark    = 5
var-darker  = 5.5
var-darkest = 25.9

/* ---------- lighten ---------- */
var-light    = 6
var-lighter  = 20
var-lightest = 32

/* ---------- alphas ---------- */
var-alpha--high = 0.5
var-alpha--med  = 0.23
var-alpha--low  = 0.1


var-thumb-size = 29px
var-background--body = var-secondary-color
var-background-color--down = var-theme-ios7-blue
var-border = 1px solid var-theme-ios7-blue
var-box-shadow = none
var-box-shadow--down = none
var-text-shadow = 0 1px none
var-color-invalid = #f00
var-border--invalid = 1px solid #f00
var-round-border = 30px
var-border-radius = 4px
var-border-radius--large = 0

/* Button */
var-background-color__button = var-theme-ios7-blue
var-background-color--hover__button = var-background-color__button
var-background-color--down__button = lighten(var-background-color__button, 20)
var-color__button = white
var-color--button--hover = white
var-color--button--active = white
var-border--button = none

/* Button Quiet*/
var-quiet-button-color = var-theme-ios7-blue
var-background-color--quiet-active = transparent
var-background-color--quiet-hover = transparent
var-color--active__button--quiet = lighten(var-theme-ios7-blue, var-lighter)
var-border--hover__button--quiet = none
var-border--active__button--quiet = none
var-border__button--quiet = none

/* Call To Action */
var-border--cta = none
var-box-shadow--cta = none
var-box-shadow--cta--down = none
var-background-color--cta = #4CDA64
var-background-color--cta--hover = var-background-color--cta
var-background-color--cta--down = lighten(var-background-color--cta, 10)
var-color--cta = white
var-color--cta--down = white

/* Page */
var-background-color--page = #EFEFF4 

/* Icon-Button */
var-color--icon-button = var-theme-ios7-blue
var-background-color--icon-button = transparent
var-background-color--icon-button--active = lighten(var-theme-ios7-blue, var-lightest)
var-border--icon-button = 1px solid var-theme-ios7-blue

var-color--icon-button--quiet = var-theme-ios7-blue
var-color--icon-button--quiet--active = lighten(var-theme-ios7-blue, var-lighter)
var-background-color--icon-button--quiet = transparent
var-background-color--icon-button-quiet--down = transparent
var-border--icon-button--quiet = none
var-border--icon-button--quite--hover = none
var-border--icon-button--quite--active = none

/* Icons */
var-menu-stack-icon = url("../img/hamburger_dark.svg")

/* Navigation Bar */
var-height--navigation-bar = 44px
var-color--navigation-bar = var-theme-ios7-text-black
var-navigation-bar-background-color = var-titlebar-background
var-border-bottom--navigation-bar = 1px solid var-theme-ios7-border
var-box-shadow--navigation-bar = none
var-padding--navigation-bar = 0
var-padding--navigation-bar = 0

/* Text Input */
var-color--text-input = var-theme-ios7-text-black
var-color--text-input--focus = var-text-grey
var-color--placeholder = lighten(var-text-grey, var-lighter)
var-color--focus = var-theme-ios7-text-black
var-border--text-input = 1px solid var-theme-ios7-border
var-border-color--text-input = var-theme-ios7-border
var-background-color--text-input = var-view-background
var-background-color--text-input--focus = var-view-background
var-font-size--text-input = 15px
var-line-height--text-input = 31px
var-padding--text-input = 5px 5px 5px 5px
var-height--text-input = 31px

/* Text Area */
var-color--textarea = var-theme-ios7-text-black
var-border--textarea = 1px solid var-theme-ios7-border
var-border-color--textarea = var-theme-ios7-border
var-padding--textarea = 5px 5px 5px 5px
var-box-shadow--textarea = none

/* List */
var-margin--list-item = 0 0 0 0
var-padding--list-item = 0 0 0 10px
var-padding--list-header = 0 0 0 10px
var-padding-left--list-item--first = 10px
var-padding-left--list-item--last = 10px
var-margin--list-item--first = 0
var-margin--list-item--last = 0
var-min-height--list-item = 44px
var-min-height--list-header = 24px
var-border-top--list-container = 1px solid var-theme-ios7-border
var-border-top--list = none
var-border-bottom--list-container = 1px solid var-theme-ios7-border
var-border-top--list-item--2 = 1px solid var-theme-ios7-border
var-border-bottom--list-item--first = none
var-border-top--list-item--last = none
var-border-top--list-item--first = none
var-border-top--list-item = none
var-border-bottom--list-item = 1px solid var-theme-ios7-border
var-border-bottom--list-item--last = none
var-border-top--list-header = none
var-border-bottom--list-header = none
var-text-shadow--list-header = none
var-color--list-item = var-list-text-color
var-color--list-header = var-list-text-color
var-font-weight--list-header = var-font-weight--large
var-background-color--list-header = var-list-header-background-color
var-background-color--list-item = var-view-background
var-background-color--list-item--active = #D9D9D9
var-background-color--list = var-list-header-background-color
var-background-color--list-container = var-view-background

/* Overlay */
var-modal-bg-color = #e5e9e8
var-overlay__header-border = 1px solid #d3d7d7

/* Progress bar */
var-bar-bg-color = var-view-background
var-progress-bg-color = var-theme-ios7-blue

/* Checkbox */
var-width--checkmark__tail = 12px
var-border-width--checkmark = 3px
var-top--checkmark = 5px
var-left--checkmark = 4px
var-size--checkbox = 24px
var-size--checkmark = 16px
var-border--checkbox = 1px solid var-theme-ios7-blue
var-border--checkbox--active = 1px solid var-theme-ios7-blue
var-border--checkbox--focus = 1px solid var-theme-ios7-blue
var-border--checkmark = 3px solid var-view-background
var-border--checkmark--noborder = 3px solid var-theme-ios7-blue
var-border-radius--checkbox = 16px
var-border-radius--checkmark = 0px
var-background-color--checkmark = var-view-background
var-background-color--down--checkbox =  var-view-background
var-background-color-checked--checkbox = var-theme-ios7-blue
var-background-color--before--checkbox = var-theme-ios7-blue

/* Range input */
var-width--range__thumb = 20px
var-border--range = none
var-background-color--range = var-theme-ios7-blue
var-background-color--range-background = #ccc
var-background-color--range__thumb = var-view-background
var-range-border = 1px solid var-theme-ios7-border
var-border--range__thumb--focus = 1px solid var-theme-ios7-border
var-height--range__track = 2px
var-range-background = var-background-color--down
var-range__slider-border = 1px solid rgba(0, 0, 0, .36)
var-range__slider-background = url("../img/light-grips.png") center center no-repeat #e5e9e8
var-range__slider-bg-size    = 7px 18px
var-range__slider-box-shadow = inset 0 1px 0 rgba(255, 255, 255, .12)
var-width--range__thumb  = var-thumb-size

/* Radio Button */
var-position--radio-button--checked = 4px
var-size--radio-button = 24px
var-size--radio-button--checked = 14px
var-color--radio-button = var-theme-ios7-text-black
var-border--radio-button = 1px solid var-theme-ios7-blue
var-border--radio-button--before = 1px solid var-theme-ios7-blue
var-border--radio-button--active = 1px solid var-theme-ios7-blue
var-border--radio-button--focus = 1px solid var-theme-ios7-blue
var-background--radio-button--before = var-view-background
var-background--radio-button = var-theme-ios7-blue
var-background-color--down--radio-button = transparent
var-box-shadow--radio-button = 0 1px rgba(255,255,255,0.50)

/* Tab bar */
var-height--tab-bar = 49px
var-line-height--tab-bar__button = 49px
var-border-top--tab-bar = 1px solid var-tab-bar-border-color
var-background-color--tab-bar = var-tab-bar-background-color
var-border--tab-bar__button = none
var-color--tab-bar__button = #888
var-color--tab-bar--active = var-theme-ios7-blue
var-background-color--tab-bar__button = transparent
var-background-color--tab-bar--active = transparent
var-box-shadow--tab-bar--active = none
var-box-shadow--tab-bar__button--focus = none

/* Switch */
var-border--switch__label = 0px solid var-theme-ios7-border
var-height--switch = 32px
var-width--switch = 51px
var-width--switch__label = 56px
var-width--switch__toggle = 48px
var-top--switch__label--left = 0
var-top--switch__label--right = 0
var-color--switch__label--left = #4CD964
var-height--switch__label--left = 32px
var-height--switch__label--right = 32px
var-height--switch__toggle = 30px
var-width--switch__toggle = 30px
var-line-height--switch__toggle = var-thumb-size
var-background-color--switch__label--left = var-switch-color
var-background-color--switch__label--right = var-theme-ios7-border
var-background-color--switch__toggle = var-view-background
var-border--switch__toggle = 1px solid var-theme-ios7-border
var-border--switch__toggle--focus = 1px solid var-theme-ios7-border
var-switch--border-radius = 30px
var-border-radius--switch__toggle = 30px
var-margin-left--switch__toggle = -19px
var-margin-bottom--switch__toggle = 0
var-margin-top--switch__toggle = 1px
var-margin-left--switch__toggle--checked = -1px
var-margin--switch__label = -2px 0 0 0
var-background-color--switch__label--checked = #4CD964
var-background-color--switch__label = var-theme-ios7-border
var-background-color--switch__toggle--checked = white
var-transition--switch__label = background-color 0.5s cubic-bezier(0.5,1.3,0.5,1)
var-transition--switch__label--checked = background-color 0.5s cubic-bezier(0.5,1.6,0.5,1)
var-transition--switch__toggle = margin-left 0.35s cubic-bezier(0.5,1.6,0.5,1)
var-box-shadow--switch__label--after--checked = inset 0 0 0 0px rgba(0,0,0,0.4)
var-box-shadow--switch__label--after = inset 0 0 0 0px rgba(0,0,0,0.4)

/* Bar button */
var-border-top--button-bar__button = 1px solid var-theme-ios7-blue
var-border-bottom--button-bar__button = 1px solid var-theme-ios7-blue
var-border--button-bar = 0px solid var-theme-ios7-blue
var-border--button-bar__button = 0px solid var-theme-ios7-blue
var-border--button-bar__button--active = 0px solid var-theme-ios7-blue
var-border-right--button-bar__button = 1px solid var-theme-ios7-blue
var-border-right--button-bar__button--active = 1px solid var-theme-ios7-blue
var-border-right--button-bar__button--focus = 1px solid var-theme-ios7-blue
var-border-left--button-bar__button__first = 1px solid var-theme-ios7-blue
var-border-right--button-bar__button__first = 1px solid var-theme-ios7-blue
var-border-right--button-bar__button__last = 1px solid var-theme-ios7-blue
var-background-color--button-bar = transparent
var-background-color--button-bar--button--active = lighten(var-theme-ios7-blue, var-lightest)
var-background-color--button-bar--button--hover = white 
var-background-color--button-bar--button--on-state = var-theme-ios7-blue
var-color--button-bar--button = var-theme-ios7-blue
var-color--button-bar__button--active = var-theme-ios7-blue
var-color--button-bar__button--hover = var-theme-ios7-blue
//var-border-right--button-bar__button--z-index = inherit

/* Notification */
var-notification-border-radius = 19px
var-notification-width = auto
var-notification-height = 19px
var-min-width--notification = 19px
var-notification-bg-color = #dc5236
var-notification-padding = 0 4px
var-notification-color = white
var-font-size--notification = 16px

/* Search-Input */
var-color--search-input = lighten(var-text-grey, var-lighter)
var-color--search-input--focus = var-text-grey
var-margin-right--search-decoration = 0px
var-background-color--search-input = var-view-background //lighten(var-secondary-color, 3)
var-background-color--search-input--focus = var-view-background //var-search-input-background-color--focus
var-search-input--border-radius = 4px
var-background-position--search-input = 8px center
var-border--search-input = 1px solid var-theme-ios7-border
var-border--search-input--focus = 1px solid var-theme-ios7-border
var-padding--search-input = 5px 0 5px 28px
var-height--search-input = 31px
var-line-height--search-input = 31px
var-font-size--search-input = 15px

