<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <title>My App</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">  
  <link rel="stylesheet" href="styles/app.css"/>

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    
  
  <script src="js/app.js"></script>  
</head>

<body>    

  <ons-navigator>
    <ons-toolbar>
      <div class="center">Page 1</div>
    </ons-toolbar>

    <ons-list ng-controller="MasterController">
      <ons-list-item
        modifier="chevron" 
        ng-repeat="item in items" 
        ng-click="showDetail($index)">
        <ons-row>
          <ons-col width="38px"> 
            <ons-icon 
                icon="{{item.icon}}"
                fixed-width="true" style="color: #999">
            </ons-icon>
          </ons-col>
          <ons-col class="left">
            {{item.title}}
          </ons-col>
        </ons-row>                          
      </ons-list-item>
    </ons-list>
  </ons-navigator>

  <script type="text/ons-template" id="detail.html">
    <ons-page ng-controller="DetailController">
      <ons-toolbar>
        <div class="left"><ons-back-button>Page 1</ons-back-button></div>
        <div class="center">Page 2</div>
      </ons-toolbar>
      <h2>{{item.title}}</h2>
      <p>{{item.description}}</p>
    </ons-page>
  </script>
</body>  
</html>
