<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../build/css/onsenui.css"/>
    <link rel="stylesheet" href="../../../build/css/onsen-css-components.css"/>

    <script src="../../../build/js/onsenui.js"></script>
    <script src="../../../build/js/angular/angular.js"></script>
    <script src="../../../build/js/angular-onsenui.js"></script>
    <script>
      ons.bootstrap();
    </script>
  </head>
  <body>

    <ons-sliding-menu ng-init="showClose = open = false" ons-preopen="open = true" ons-postopen="showClose = true"	 ons-preclose="open = false" max-slide-distance="200px" main-page="page1.html" menu-page="menu.html" side="right" var="menu"></ons-sliding-menu>

    <script type="text/ons-template" id="page1.html">
      <ons-page>
        <p style="text-align: center;">
          <ons-button ng-show="!open" ng-click="menu.openMenu()"id="open-menu">Open menu</ons-button>
        </p>
      </ons-page>
    </script>

    <script type="text/ons-template" id="menu.html">
      <ons-page>
        <ons-button ng-show="showClose" id="close-menu" ng-click="menu.closeMenu()">Close menu</ons-button>
      </ons-page>
    </script>

  </body>
</html>
