<div class="dark-container" style="height: 100%">
	
	<ons-list-item style="border-bottom: 1px solid #535353; color: lightgray; list-style: none;" ng-click="ons.slidingMenu.toggleMenu(); ons.slidingMenu.setAbovePage('navigator1.html')">
		<i class="fa fa-cutlery"></i> <strong class="space-left">Food</strong>
	</ons-list-item>

	<ons-list-item style="border-bottom: 1px solid #535353; color: lightgray; list-style: none;" ng-click="ons.slidingMenu.toggleMenu(); ons.slidingMenu.setAbovePage('navigator2.html')">
		<i class="fa fa-coffee"></i> <strong class="space-left">Coffee</strong>
	</ons-list-item>
	
</div>