<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>My App</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">  
  <link rel="stylesheet" href="styles/app.css"/>

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    

  <script src="cordova.js"></script>
  <script src="js/app.js"></script> 
  
</head>

<body>    
  
  <ons-sliding-menu
    menu-page="menu.html" main-page="page1.html" side="left"
    type="reveal" max-slide-distance="300px" swipable="true">
  </ons-sliding-menu>

  <ons-template id="menu.html">
    <ons-page style="background-color: white">

      <ons-list>
        <ons-list-item
          modifier="chevron"
          ng-click="ons.slidingMenu.setMainPage('page1.html', {closeMenu: true})">

          <i class="fa fa-home fa-lg" style="color: #666"></i> &nbsp; Page 1
        </ons-list-item>

        <ons-list-item 
          modifier="chevron"
          ng-click="ons.slidingMenu.setMainPage('page2.html', {closeMenu: true})">

          <i class="fa fa-gear fa-lg" style="color: #666"></i> &nbsp; Page 2
        </ons-list-item>
      </ons-list>

    </ons-page>

  </ons-template>

  <ons-template id="page1.html">
    <ons-page>
      <ons-toolbar>
        <div class="center">Page 1</div>
      </ons-toolbar>

      <ons-row style="margin-top: 100px;">
        <ons-col align="center">
          <ons-button modifier="light" ng-click="ons.slidingMenu.toggleMenu()">
            Toggle Menu
          </ons-button>
          <p style="color: #999">Click "Toggle Menu" to close/open menu, You can also swipe the page left/right.</p>
        </ons-col>
      </ons-row>
    </ons-page>
  </ons-template>

  <ons-template id="page2.html">
    <ons-page>
      <ons-toolbar>
        <div class="center">Page 2</div>
      </ons-toolbar>


      <ons-row style="margin-top: 100px;">
        <ons-col align="center">
          <ons-button modifier="light" ng-click="ons.slidingMenu.toggleMenu()">
            Toggle Menu
          </ons-button>
        </ons-col>
      </ons-row>

    </ons-page>
  </ons-template>
 
</body>
</html>
