<ons-page>
	<ul class="fa-ul">

		<ons-list-item 
			class="topcoat-list__item_active"
			ng-click="ons.splitView.toggle();
				ons.splitView.setMainPage('pages/screen_split_view/page1.html');">
			<i class="fa-li fa fa-home fa-lg" style="top: 25%"></i>
			Page 1
		</ons-list-item>

		<ons-list-item 
			class="topcoat-list__item_active"
			ng-click="ons.splitView.toggle();
				ons.splitView.setMainPage('pages/screen_split_view/page2.html');">
			<i class="fa-li fa fa-gear fa-lg" style="top: 25%"></i>
			Page 2
		</ons-list-item>

	</ul>

</ons-page>