/**
*
* Copyright 2012 Adobe Systems Inc.;
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/
@require textarea
/*! topdoc
  name: Textarea
  description: A whole area, just for text.
  modifiers:
    :disabled: Disabled state
  markup:
    <textarea class="topcoat-textarea" rows="6" cols="36" placeholder="Textarea"></textarea>
    <br>
    <br>
    <textarea class="topcoat-textarea" rows="6" cols="36" placeholder="Textarea" disabled></textarea>
  tags:
    - desktop
    - light
    - mobile
    - form
    - input
    - textarea
*/
.topcoat-textarea
  @extend .textarea
  padding var-padding--container
  font-size var-font-size--textarea
  font-weight var-font-weight
  border-radius var-border-radius
  line-height var-line-height
  border var-border
  border var-border--textarea
  background-color var-background-color--text-input
  box-shadow var-box-shadow--text-input
  color var-color
  color var-color--textarea
  letter-spacing var-letter-spacing

.topcoat-textarea:focus
  background-color var-background-color--text-input--focus
  color var-color--focus
  color var-color--textarea--focus
  border var-border--focus
  border var-border--focus--textarea
  box-shadow var-box-shadow--text-input, var-box-shadow--focus

.topcoat-textarea:disabled
  @extend .textarea:disabled

.topcoat-textarea:disabled::-webkit-input-placeholder
  color var-color--focus

.topcoat-textarea:disabled::-moz-placeholder
  color var-color--focus

.topcoat-textarea:disabled:-ms-input-placeholder
  color var-color--focus


/*! topdoc
  name: Large Textarea
  description: A whole area, just for text; now available in large.
  modifiers:
    :disabled: Disabled state
  markup:
    <textarea class="topcoat-textarea--large" rows="6" cols="36" placeholder="Textarea"></textarea>
    <br>
    <br>
    <textarea class="topcoat-textarea--large" rows="6" cols="36" placeholder="Textarea" disabled></textarea>
  tags:
    - desktop
    - light
    - mobile
    - form
    - input
    - textarea
*/

.topcoat-textarea--large
  @extends .topcoat-textarea
  font-size var-font-size--textarea--large
  line-height var-line-height--large

.topcoat-textarea--large:focus
  @extend .topcoat-textarea:focus

.topcoat-textarea--large:disabled
  @extend .textarea:disabled
  color var-color--focus

.topcoat-textarea--large:disabled::-webkit-input-placeholder
  color var-color--focus

.topcoat-textarea--large:disabled::-moz-placeholder
  color var-color--focus

.topcoat-textarea--large:disabled:-ms-input-placeholder
  color var-color--focus
