/**
*
* Copyright 2012 Adobe Systems Inc.;
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/

@import '../../common/topdoc-switch'
@require '../../common/switch'

.topcoat-switch
  @extend .switch
  font-size var-font-size
  padding 0 20px
  border var-border
  border var-border--switch
  overflow visible
  width var-width--switch
  height var-height--switch
  border-radius var-switch--border-radius
  z-index 1
  text-align left

.topcoat-switch__input
  @extend .switch__input
  width var-width--switch
  height 44px
  margin-top -((44px-(var-height--switch))/2px)
  top 0px
  left 0px

// switch toggle circle
.topcoat-switch__toggle:before
  position absolute
  content ''
  border-radius 28px
  height 28px
  width 28px
  background-color white
  border 1px solid #ddd
  left 0
  top 1px
  transition var-transition--switch__toggle

// switch toggle background
.topcoat-switch__toggle
  background-color #ddd
  width 50px
  position absolute
  top 0px
  left 0px
  border-radius 30px
  height 32px

.topcoat-switch__input + .topcoat-switch__toggle:before
  margin-left 0px

.topcoat-switch__input:checked + .topcoat-switch__toggle:before
  margin-left 0px

.topcoat-switch__input:active + .topcoat-switch__toggle
  box-shadow var-box-shadow
  border none

.topcoat-switch__input:focus + .topcoat-switch__toggle
  box-shadow var-box-shadow--focus
  border none

.topcoat-switch__input:disabled + .topcoat-switch__toggle
  @extend .switch--disabled

.topcoat-switch__input:checked + .topcoat-switch__toggle
  background-color var-background-color--switch__label--checked
  box-shadow var-box-shadow--switch__label--before--checked
  transition var-transition--switch__label--checked

.topcoat-switch__input:not(:checked) + .topcoat-switch__toggle
  box-shadow var-box-shadow--switch__label--before
  transition var-transition--switch__label

.topcoat-switch__input:checked + .topcoat-switch__toggle:before
  transform translate3d(19px, 0px, 0px)
  border-color var-background-color--switch__label--checked

.topcoat-switch__input:not(:checked) + .topcoat-switch__toggle:before
  transform translate3d(1px, 0px, 0px)

