<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../build/css/onsenui.css"/>
    <link rel="stylesheet" href="../../../build/css/onsen-css-components.css"/>

    <script src="../../../build/js/onsenui.js"></script>
    <script src="../../../build/js/angular/angular.js"></script>
    <script src="../../../build/js/angular-onsenui.js"></script>
    <script src="../vendor/jquery.js"></script>    
    <script>
      var app = ons.bootstrap();

      app.controller('MyCtrl', function($scope) {
        $scope.setPage = function(page) {
          menu.setMainPage(page, {closeMenu: true});
        };

      });
    </script>
  </head>
  <body>

    <ons-navigator page="hoge.html">
    </ons-navigator>

    <script type="text/ons-template" id="hoge.html">
      <ons-page>
      <ons-sliding-menu main-page="page1.html" menu-page="menu.html" side="left" var="menu">
      </ons-sliding-menu>
      </ons-page>
    </script>

    <script type="text/ons-template" id="page1.html">
      <ons-page>
        <ons-toolbar>
          <div class="center">Page 1</div>
          <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
          </div>
        </ons-toolbar>

        <h1 style="text-align: center">Navigator+SlidingMenu Test</h1>
      </ons-page>
    </script>


    <script type="text/ons-template" id="page2.html">
      <ons-page>
        <ons-toolbar>
          <div class="center">Page 2</div>
          <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
          </div>
        </ons-toolbar>

        <h1 style="text-align: center">Navigator+SlidingMenu Test</h1>
      </ons-page>
    </script>

    <script type="text/ons-template" id="menu.html">
      <ons-list ng-controller="MyCtrl">
        <ons-list-item modifier="chevron" ng-click="setPage('page1.html')">
          page1.html
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-click="setPage('page2.html')">
          page2.html
        </ons-list-item>
      </ons-list>
    </script>

  </body>
</html>
