var-color = #c6c8c8
var-background-color = transparent
var-background-color--hover = transparent
var-font-size = 16px
var-font-size--large = var-font-size
var-font-weight = 200
var-font-weight--large = 500
var-letter-spacing = 1px
var-border-radius = 6px
var-border-radius--large = 30px
var-border-radius--huge = 40px
var-padding = 0 20px
var-padding--large = var-padding
var-height = 36px
var-height--large = 54px
var-line-height = var-height
var-line-height--large = var-height--large
var-vertical-align = top
var-border-radius--none = none

/* Containers */
var-padding--container = 32px

/* Button */
var-border--focus = none
var-box-shadow--focus = none
var-text-shadow--cta = none
var-background-color--icon-button-quiet--hover = transparent

/* Bar Button */
var-button-bar-margin = inherit
var-border-right--button-bar = none
var-border-right--button-bar__button--z-index = 1

/* Button Quiet*/
var-border__button--quiet = none
var-quiet-button-background = transparent
var-color--quiet-active = inherit

/* Icon Button */
var-icon-button-border-radius = 3px
var-size--icon = var-height * 0.54 // 25px
var-size--icon--large = var-height--large * 0.571428571
var-padding--icon-button = 0 var-height / 4
var-icon-top = -1px
var-icon-top--large = -2px
var-box-shadow--icon-button-quiet--hover = none
var-box-shadow--icon-button-quiet--down = none

/* Navigation bar */
var-height--navigation-bar = 44px
var-line-height--navigation-bar--item = 44px
var-padding--navigation-bar = 0px
var-border-bottom--navigation-bar = 1px solid #8B8B8B

/* List */
var-padding--list-container = 0
var-padding--list-header = 4px 11px
var-padding--list-item = 11px
var-font-size--list-header = 15px
var-font-weight--list-header = 400

/* Notification */
var-notification-width = 19px
var-notification-height = 19px
var-notification-padding = 0 6px 0

/* Input */
var-background-color--input = transparent
var-box-shadow--text-input = none

/* Search Input */
var-search-icon = url("../img/search.svg")
var-background-image--search-input = var-search-icon
/* Text Area */
var-font-size--textarea = var-font-size
/* Checkbox */
var-size--checkbox = 32px
var-border-radius--checkbox = 3px
var-top--checkmark = 7px
var-left--checkmark = 4px
var-width--checkmark__tail = 18px
var-height--checkmark__foot = 6px
var-border-radius--checkmark = 2px
var-border-width--checkmark = 6px
var-transform--checkmark = rotate(-50deg)

/* Radio */
var-size--radio-button = 30px
var-size--radio-button--checked = 14px
var-position--radio-button--checked = 7px

/* Range input */
var-width--range__thumb  = 32px
var-height--range__track = 16px
var-border-radius--range = 3px
/* Search Input */
var-padding--search-input = 0 0 0 35px
var-padding--search-input--large = 0 0 0 46px
/* Switch */
var-content--switch__label--left = ''
var-content--switch__label--right = ''
var-border--switch = none
var-width--switch = 64px
var-width--switch__label = 64px
var-right--switch__label--left = -1px
var-padding-left--switch__label--left = 24px
var-width--switch__toggle = 32px
var-margin-left--switch__toggle = -20px
var-left--switch__label--right = -1px
var-padding-left--switch__label--right = 32px
var-margin-left--switch__toggle--checked = 12px
var-height--switch__label--right = 24px
var-top--switch__label--right = 3px
var-border-radius--switch__label--right = 15px
var-height--switch__label--left = 24px
var-top--switch__label--left = 3px
var-border-radius--switch__label--left = 15px
var-box-shadow--switch__label--after--checked = none
var-background-color--switch__toggle--checked = white

/* Tab-bar */
var-line-height--tab-bar__button = 48px
var-border-top--tab-bar--active = none
var-border-top--tab-bar--focus = none
