// Transform user passed variables to actual css components variables.

////////////////////////////////////////
// Global
////////////////////////////////////////
var-background-color = $background-color
var-text-color = $text-color

////////////////////////////////////////
// Page
////////////////////////////////////////
var-background-color--page = $background-color

////////////////////////////////////////
// Navigation bar
////////////////////////////////////////
var-navigation-bar-background-color = $toolbar-background-color
var-color--navigation-bar = $text-color
var-navigation-bar-separator-color = $toolbar-border-color
var-color--navigation-bar = $toolbar-text-color

////////////////////////////////////////
// Tab bar
////////////////////////////////////////
var-background-color--tab-bar = $tabbar-background-color // Background color
var-background-color--tab-bar__button = $tabbar-background-color // Background color
var-background-color--tab-bar--active = $tabbar-background-color // Background color active
var-tab-bar-border-color = $tabbar-border-color // Separator
var-color--tab-bar__button = $tabbar-text-color // Text color
var-color--tab-bar--active = $tabbar-highlight-text-color // Text color active


////////////////////////////////////////
// List
////////////////////////////////////////
var-background-color--list = $list-background-color
var-background-color--list-container = $list-background-color

var-background-color--list-header = $list-header-background-color
var-color--list-header = $text-color

var-color--list-item = $text-color
var-background-color--list-item = $list-background-color
var-background-color--list-item--active = $list-tap-active-background-color
var-list-item-separator-color = $border-color

////////////////////////////////////////
// Checkbox, Radio button
////////////////////////////////////////
var-background-color-checked--checkbox = $highlight-color // background color active
var-checkbox-border-color = $highlight-color // boder color
var-checkbox-border-color-active = $highlight-color // boder color active
var-checkmark-color = #fff // indicator color

////////////////////////////////////////
// Radio Button
////////////////////////////////////////
var-radio-button-background-active = rgba(0, 0, 0, 0)
var-radio-button-indicator-color = $highlight-color

////////////////////////////////////////
// Switch
////////////////////////////////////////
var-switch-background-color = $border-color
var-background-color--switch__label--checked = $switch-highlight-color // background color active

var-switch-thumb-background-color = white

var-swtich-thumb-border-color = $border-color
var-swtich-thumb-border-color-active = $switch-highlight-color


////////////////////////////////////////
// Range
////////////////////////////////////////
var-range-track-background-color = $border-color
var-range-track-background-color-active = $highlight-color

var-range-thumb-background-color = #fff
var-range-thumb-border-color = $border-color


////////////////////////////////////////
// Notification
////////////////////////////////////////
var-notification-bg-color = $notification-background-color
var-notification-color = white

////////////////////////////////////////
// Input
////////////////////////////////////////
var-input-bg-color = $background-color
var-input-border-color = $border-color
var-input-text-color = $text-color
var-input-placeholder-color = $sub-text-color

var-input-invalid-border-colr = $border-color
var-input-invalid-text-color = $text-color


////////////////////////////////////////
// Button
////////////////////////////////////////
var-background-color__button = $highlight-color
var-border--button-color = rgba(0, 0, 0, 0)
var-color__button = white
var-background-color--cta = $second-highlight-color

////////////////////////////////////////
// Button Quiet
////////////////////////////////////////
var-quiet-button-color = $highlight-color

////////////////////////////////////////
// Bar Button
////////////////////////////////////////
var-buttonbar-color = $buttonbar-color
var-color--button-bar__button--active = $buttonbar-active-text-color

////////////////////////////////////////
// Icon Button
////////////////////////////////////////
var-color--icon-button = $toolbar-button-color
var-background-color--icon-button = rgba(0, 0, 0, 0)
var-icon-button-border-color = $toolbar-button-color

////////////////////////////////////////
// Modal
////////////////////////////////////////
var-modal-background-color = $modal-background-color
var-modal-color = $modal-text-color
