// Default variables

////////////////////////////////////////
// Input
////////////////////////////////////////
var-input-bg-color := #fff
var-input-border-color := #ddd
var-input-text-color := #1F1F21
var-input-placeholder-color := #ccc
var-input-invalid-border-colr := #f00
var-input-invalid-text-color := #f00

