// Default variables

////////////////////////////////////////
// Page
////////////////////////////////////////
var-background-color--page = #EFEFF4

////////////////////////////////////////
// Navigation bar
////////////////////////////////////////
var-navigation-bar-background-color = #F8F8F8
var-color--navigation-bar = #1F1F21
var-navigation-bar-separator-color = #ddd

////////////////////////////////////////
// Tab bar
////////////////////////////////////////
var-background-color--tab-bar__button = #F8F8F8 // Background color
var-background-color--tab-bar--active = #F8F8F8 // Background color active
var-tab-bar-border-color = #ddd // Separator
var-color--tab-bar__button = #888 // Text color
var-color--tab-bar--active = #1284ff // Text color active


////////////////////////////////////////
// List
////////////////////////////////////////
var-background-color--list = #F0EFF4
var-background-color--list-container = #fff

var-background-color--list-header = #f0eff4
var-color--list-header = #1F1F21

var-color--list-item = #1F1F21
var-background-color--list-item = #fff
var-background-color--list-item--active = #D9D9D9
var-list-item-separator-color = #ddd

////////////////////////////////////////
// Checkbox, Radio button
////////////////////////////////////////
var-background-color-checked--checkbox = #1284ff // background color active
var-checkbox-border-color = #1284ff // boder color
var-checkbox-border-color-active = #1284ff // boder color active
var-checkmark-color = #fff // indicator color

////////////////////////////////////////
// Radio Button
////////////////////////////////////////
var-radio-button-background-active = rgba(0, 0, 0, 0)
var-radio-button-indicator-color = #1284ff

////////////////////////////////////////
// Switch
////////////////////////////////////////
var-switch-background-color = #ddd
var-background-color--switch__label--checked = #4CD964 // background color active
var-switch-thumb-background-color = #fff
var-swtich-thumb-border-color = #ddd
var-swtich-thumb-border-color-active = #4CD964



////////////////////////////////////////
// Notification
////////////////////////////////////////
var-notification-bg-color = #dc5236
var-notification-color = white

////////////////////////////////////////
// Input
////////////////////////////////////////
var-input-bg-color = #fff
var-input-border-color = #ddd
var-input-text-color = #1F1F21
var-input-placeholder-color = #ccc
var-input-invalid-border-colr = #f00
var-input-invalid-text-color = #f00


////////////////////////////////////////
// Button
////////////////////////////////////////
var-background-color__button = #1284ff
var-border--button-color = rgba(0, 0, 0, 0)
var-color__button = white
var-background-color--cta = #4CDA64


////////////////////////////////////////
// Button Quiet
////////////////////////////////////////
var-quiet-button-color = #1284ff

////////////////////////////////////////
// Bar Button
////////////////////////////////////////
var-buttonbar-color = #1284ff
var-color--button-bar__button--active = white


////////////////////////////////////////
// Icon Button
////////////////////////////////////////
var-color--icon-button = #1284ff
var-background-color--icon-button = rgba(0, 0, 0, 0)
var-icon-button-border-color = #1284ff

