// variables-onsen.styl

// NOTE: You can't use @import or @require for compiling stylus on client side.

////////////////////////////////////////
// Basis
////////////////////////////////////////
var-color = #c6c8c8
var-background-color = transparent
var-background-color--hover = transparent
var-font-size = 16px
var-font-size--large = var-font-size
var-font-weight = 200
var-font-weight--large = 500
var-letter-spacing = 1px
var-border-radius = 6px
var-border-radius--large = 30px
var-border-radius--huge = 40px
var-padding = 4px 20px
var-padding--large = var-padding
var-height = 36px
var-height--large = 36px
var-line-height = var-height
var-line-height--large = var-height
var-vertical-align = top
var-border-radius--none = none

////////////////////////////////////////
// Container
////////////////////////////////////////
var-padding--container = 32px

////////////////////////////////////////
// Input
////////////////////////////////////////
var-background-color--input = transparent
var-box-shadow--text-input = none

