// variables-onsen-ios7.styl


// This file should include color and image variables corresponding to the onsen theme 

var-font-weight = 400
var-font-weight--large = 500
var-letter-spacing = 0

// Theme variables: Color 

var-theme-ios7-blue = #1284ff
var-theme-ios7-text-black = #1F1F21
var-theme-ios7-border = #ddd

////////////////////////////////////////
// Colors
////////////////////////////////////////

var-text-grey = #6F6F74
var-titlebar-background = #F8F8F8
var-view-background = #fff
var-list-background-color = var-view-background

var-list-text-color = var-theme-ios7-text-black
var-tab-bar-background-color = var-titlebar-background
var-key-color = #25b5c2
var-secondary-color = var-list-background-color
var-auxilary-color = #b3b3b3
var-cta-background-color = #4a9cd2
var-list-item-active-color = #b6dedd
var-text-input-color = #b3b3b3
var-search-input-background-color--focus = #e7e3e0

var-thumb-size = 29px
var-background--body = var-secondary-color
var-background-color--down = var-theme-ios7-blue
var-border = 1px solid var-theme-ios7-blue
var-box-shadow = none
var-box-shadow--down = none
var-text-shadow = 0 1px none
var-round-border = 30px
var-border-radius = 4px
var-border-radius--large = 0

////////////////////////////////////////
// Button 
////////////////////////////////////////
var-border--button = 1px solid var-border--button-color
var-color--button--active = var-color__button
var-color--button--hover = var-color__button
var-background-color--hover__button = var-background-color__button
var-background-color--down__button = var-background-color__button

////////////////////////////////////////
// Button Quiet 
////////////////////////////////////////
var-background-color--quiet-active = transparent
var-background-color--quiet-hover = transparent
var-color--active__button--quiet = var-theme-ios7-blue
var-border--hover__button--quiet = none
var-border--active__button--quiet = none
var-border__button--quiet = none

////////////////////////////////////////
// Call To Action 
////////////////////////////////////////
var-border--cta = none
var-box-shadow--cta = none
var-box-shadow--cta--down = none
var-background-color--cta--hover = var-background-color--cta
var-background-color--cta--down = var-background-color--cta
var-color--cta = white
var-color--cta--down = white

////////////////////////////////////////
// Page 
////////////////////////////////////////

////////////////////////////////////////
// Icons 
////////////////////////////////////////
var-menu-stack-icon = url("../img/hamburger_dark.svg")

////////////////////////////////////////
// Input 
////////////////////////////////////////
var-color-invalid = var-input-invalid-text-color
var-border--invalid = 1px solid var-input-invalid-border-colr
var-input-border = 1px solid var-input-border-color

////////////////////////////////////////
// Text Input 
////////////////////////////////////////
var-font-size--text-input = 15px
var-line-height--text-input = 31px
var-padding--text-input = 5px 5px 5px 5px
var-height--text-input = 31px
var-border-color--text-input = var-input-border-color

////////////////////////////////////////
// Text Area 
////////////////////////////////////////
var-color--textarea = var-input-text-color
var-border--textarea = 1px solid var-input-border-color
var-border-color--textarea = var-input-border-color

var-padding--textarea = 5px 5px 5px 5px
var-box-shadow--textarea = none

////////////////////////////////////////
// List 
////////////////////////////////////////
var-border-top--list-container = 1px solid var-list-item-separator-color
var-border-bottom--list-container = 1px solid var-list-item-separator-color
var-border-top--list-item--2 = 1px solid var-list-item-separator-color
var-border-bottom--list-item = 1px solid var-list-item-separator-color

var-margin--list-item = 0 0 0 0
var-padding--list-item = 0 0 0 10px
var-padding--list-header = 0 0 0 10px
var-padding-left--list-item--first = 10px
var-padding-left--list-item--last = 10px
var-margin--list-item--first = 0
var-margin--list-item--last = 0
var-min-height--list-item = 44px
var-min-height--list-header = 24px
var-border-top--list = none
var-border-bottom--list-item--first = none
var-border-top--list-item--last = none
var-border-top--list-item--first = none
var-border-top--list-item = none
var-border-bottom--list-item--last = none
var-border-top--list-header = none
var-border-bottom--list-header = none
var-text-shadow--list-header = none
var-font-weight--list-header = var-font-weight--large

////////////////////////////////////////
// Overlay 
////////////////////////////////////////
var-modal-bg-color = #e5e9e8
var-overlay__header-border = 1px solid #d3d7d7

////////////////////////////////////////
// Progress bar 
////////////////////////////////////////
var-bar-bg-color = var-view-background
var-progress-bg-color = var-theme-ios7-blue

////////////////////////////////////////
// Checkbox 
////////////////////////////////////////
var-background-color--checkmark = var-background-color;
var-border--checkbox = 1px solid var-checkbox-border-color
var-border--checkbox--active = 1px solid var-checkbox-border-color-active
var-border--checkbox--focus = 1px solid var-checkbox-border-color-active
var-background-color--down--checkbox = var-background-color--checkmark
var-background-color--before--checkbox = var-background-color-checked--checkbox
var-border--checkmark = 3px solid var-checkmark-color
var-border--checkmark--active = 3px solid var-checkmark-color

var-width--checkmark__tail = 12px
var-border-width--checkmark = 3px
var-top--checkmark = 5px
var-left--checkmark = 4px
var-size--checkbox = 24px
var-size--checkmark = 16px
var-border--checkmark--noborder = 3px solid var-checkbox-border-color
var-border-radius--checkbox = 16px
var-border-radius--checkmark = 0px


////////////////////////////////////////
// Radio Button
////////////////////////////////////////
var-radio-button-background = var-background-color
var-radio-button-border = 3px solid var-radio-button-indicator-color
var-background-color--down--radio-button = transparent

var-position--radio-button--checked = 4px
var-size--radio-button = 24px
var-size--radio-button--checked = 14px
var-color--radio-button = var-theme-ios7-text-black
var-border--radio-button = 1px solid var-theme-ios7-blue
var-border--radio-button--before = 1px solid var-theme-ios7-blue
var-border--radio-button--active = 1px solid var-theme-ios7-blue
var-border--radio-button--focus = 1px solid var-theme-ios7-blue
var-box-shadow--radio-button = 0 1px rgba(255,255,255,0.50)

////////////////////////////////////////
// Tab-bar
////////////////////////////////////////
var-height--tab-bar = 49px
var-line-height--tab-bar__button = 49px
var-border--tab-bar__button = none
var-box-shadow--tab-bar--active = none
var-box-shadow--tab-bar__button--focus = none
var-border-top--tab-bar = 1px solid var-tab-bar-border-color
var-background-color--tab-bar = transparent;


////////////////////////////////////////
// Bar button
////////////////////////////////////////
var-border-top--button-bar__button = 1px solid var-buttonbar-color
var-border-bottom--button-bar__button = 1px solid var-buttonbar-color
var-border--button-bar = 0px solid var-buttonbar-color
var-border--button-bar__button = 0px solid var-buttonbar-color
var-border--button-bar__button--active = 0px solid var-buttonbar-color
var-border-right--button-bar__button = 1px solid var-buttonbar-color
var-border-right--button-bar__button--active = 1px solid var-buttonbar-color
var-border-right--button-bar__button--focus = 1px solid var-buttonbar-color
var-border-left--button-bar__button__first = 1px solid var-buttonbar-color
var-border-right--button-bar__button__first = 1px solid var-buttonbar-color
var-border-right--button-bar__button__last = 1px solid var-buttonbar-color
var-background-color--button-bar = transparent
var-background-color--button-bar--button--active = mylighten(var-buttonbar-color)
var-background-color--button-bar--button--hover = white
var-background-color--button-bar--button--on-state = var-buttonbar-color
var-color--button-bar--button = var-buttonbar-color
var-color--button-bar__button--hover = var-buttonbar-color
//var-border-right--button-bar__button--z-index = inherit

////////////////////////////////////////
// Search Input
////////////////////////////////////////
var-background-color--search-input = var-input-bg-color
var-background-color--search-input--focus = var-input-bg-color

var-color--search-input = var-input-text-color
var-color--search-input--focus = var-input-text-color
var-placeholder-color--input = var-input-placeholder-color
var-border--search-input = 1px solid var-input-border-color
var-border--search-input--focus = 1px solid var-input-border-color

var-margin-right--search-decoration = 0px
var-search-input--border-radius = 4px
var-background-position--search-input = 8px center
var-padding--search-input = 5px 0 5px 28px
var-height--search-input = 31px
var-line-height--search-input = 31px
var-font-size--search-input = 15px
