////////////////////////////////////////
// Basis
////////////////////////////////////////
var-color = #c6c8c8
var-background-color = transparent
var-background-color--hover = transparent
var-padding = 4px 20px
var-padding--large = var-padding
var-height = 36px
var-height--large = 36px
var-line-height = 36px
var-line-height--large = 36px
var-vertical-align = top
var-border-radius--none = none
var-font-weight = 400
var-font-weight--large = 500
var-letter-spacing = 0
var-font-size = 16px
var-font-size--large = var-font-size

////////////////////////////////////////
// Input
////////////////////////////////////////
var-background-color--input = transparent
var-box-shadow--text-input = none
var-thumb-size = 29px
var-background--body = var-secondary-color
var-box-shadow = none
var-box-shadow--down = none
var-text-shadow = 0 1px none
var-round-border = 30px
var-border-radius = 4px
var-border-radius--large = 0
var-color-invalid = var-input-invalid-text-color
var-border--invalid = 1px solid var-input-invalid-border-colr
var-input-border = 1px solid var-input-border-color

////////////////////////////////////////
// Text Input 
////////////////////////////////////////
var-font-size--text-input = 15px
var-line-height--text-input = 31px
var-padding--text-input = 5px 5px 5px 5px
var-height--text-input = 31px
var-border-color--text-input = var-input-border-color

