/**
*
* Copyright 2012 Adobe Systems Inc.;
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/

@import '../../common/topdoc-textarea'
@require '../../common/textarea'

.topcoat-textarea
  @extend .textarea
  padding var-padding--textarea
  font-size var-font-size--textarea
  font-weight var-font-weight
  border-radius var-border-radius
  line-height var-line-height
  border var-border
  border var-border--textarea
  background-color var-background-color--text-input
  box-shadow var-box-shadow--text-input
  color var-color
  color var-color--textarea
  letter-spacing var-letter-spacing

.topcoat-textarea:focus
  background-color var-background-color--text-input--focus
  color var-color--focus
  color var-color--textarea--focus
  border var-border--focus
  border var-border--focus--textarea
  box-shadow var-box-shadow--text-input, var-box-shadow--focus

.topcoat-textarea:disabled
  @extend .textarea:disabled

.topcoat-textarea:disabled::-webkit-input-placeholder
  color var-color--focus

.topcoat-textarea:disabled::-moz-placeholder
  color var-color--focus

.topcoat-textarea:disabled:-ms-input-placeholder
  color var-color--focus

// transparent

.topcoat-textarea--transparent
  @extend .topcoat-textarea
  border none
  background transparent
  padding-left 0
  padding-right 0

.topcoat-textarea--transparent:focus
  @extend .topcoat-textarea:focus
  border none
  background transparent

.topcoat-textarea--transparent:disabled
  @extend .topcoat-textarea:disabled
  border none
  background transparent

.topcoat-textarea:disabled::-webkit-input-placeholder
  @extend .topcoat-textarea:disabled::-webkit-input-placeholder

.topcoat-textarea:disabled::-moz-placeholder
  @extend .topcoat-textarea:disabled::-moz-placeholder

.topcoat-textarea:disabled:-ms-input-placeholder
  @extend .topcoat-textarea:disabled:-ms-input-placeholder
