<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Text Input Demo</title>
  <link rel="stylesheet" href="../styles/app.css"/>
  <link rel="stylesheet" href="../../../../build/css/onsenui.css">
  <link rel="stylesheet" href="../../../../build/css/onsen-css-components.css">

  <script src="../../../../build/js/onsenui.js"></script>
  <script src="../../../../build/js/angular/angular.js"></script>
  <script src="../../../../build/js/angular-onsenui.js"></script>
  <script src="../app.js"></script>
  <script>
    ons.bootstrap();
  </script>

</head>

<body>
  <ons-page>
    <ons-toolbar>
      <div class="center">Text Input</div>
    </ons-toolbar>

    <section style="padding: 8px">
      <p>
        <ons-input ng-model="input" placeholder="Type here" float></ons-input>
        <input ng-model="input" placeholder="Type here">
      </p>

      <p>
        {{ input }}
      </p>

      <br>
      <br>
      <ons-button modifier="large--cta" style="display: block; width: 100%; margin-top: 8px;">Submit</ons-button>
    </section>
  </ons-page>
</body>
</html>
