/* This file should include color and image variables corresponding to the onsen theme */

/* --------- colors --------- */
var-key-color = #25b5c2
var-secondary-color = #f5f0e8
var-auxilary-color = #b3b3b3
var-notification-color = #fff
var-cta-background-color = #4a9cd2
var-list-text-color = #666
var-list-item-active-color = #b6dedd
var-list-header-background-color = #e2dcd5
var-text-input-color = #b3b3b3
var-tab-bar-background-color = #eae5e3
var-tab-bar-border-color = #b5b0aa
var-search-input-background-color--focus = #e7e3e0

/* ---------- darken ---------- */
var-dark    = 5
var-darker  = 5.5
var-darkest = 25.9

/* ---------- lighten ---------- */
var-light    = 6
var-lighter  = 15
var-lightest = 24

/* ---------- alphas ---------- */
var-alpha--high = 0.5
var-alpha--med  = 0.23
var-alpha--low  = 0.1



// var-background-color = var-secondary-color
var-background--body = var-secondary-color
var-background-color--down = var-key-color
// var-background-color--hover = transparent
var-border = 1px solid var-key-color
var-box-shadow = none
var-box-shadow--down = none
// var-color = var-key-color
var-text-shadow = 0 1px none
var-color-invalid = #f00
var-border--invalid = 1px solid #f00
// var-background-color--input = #d3d7d7
var-round-border = 50%
var-width--range__thumb = 16px
var-border-radius = 4px
var-border-radius--large = 0

/* Page */
var-background-color--page = var-secondary-color

/* Call To Action */
var-border--cta = none
var-box-shadow--cta = none
var-box-shadow--cta--down = none
var-background-color--cta = var-cta-background-color
var-background-color--cta--down = lighten(var-cta-background-color, var-lighter) //#77bfee
var-background-color--cta--hover = lighten(var-cta-background-color, var-light) //#54ACE5

/*Icon-Button*/
var-border--icon-button = none
var-border--icon-button--quiet = none
var-color--icon-button--quiet = #fff
var-color--icon-button--quiet--active = #b3b3b3
var-background-color--icon-button-quiet--down = transparent
var-border--icon-button--quite--hover = none
var-border--icon-button--quite--active = none
var-background-color__icon-button = #fff

/* Icons */
var-menu-stack-icon = url("../img/hamburger_dark.svg")

/* Navigation Bar */
var-color--navigation-bar = #ffffff
var-navigation-bar-background-color = var-key-color
var-box-shadow--navigation-bar = none

/* Text Input */
var-color--text-input = #000
var-color--placeholder = #C6C8C8
var-color--focus = #000
var-border--text-input = 1px solid var-auxilary-color
var-border--text-input--focus = 1px solid var-auxilary-color
var-background-color--text-input = #fff
var-background-color--text-input--focus = #ececec

/* Text Area */
var-color--textarea = var-auxilary-color
var-border--textarea = 1px solid var-auxilary-color
var-border--focus--textarea = 1px solid var-auxilary-color

/* List */
var-margin--list-item = 0
var-color--list-item = var-list-text-color
var-background-color--list-item = transparent
var-background-color--list-item--active = var-list-item-active-color
var-background-color--list = var-secondary-color
var-border-top--list-container = none
var-border-top--list = none
var-border-bottom--list = none
var-border-top--list-item--first = none
var-border-top--list-item = none
var-border-bottom--list-item = 1px solid var-auxilary-color
var-border-bottom--list-item--last = 1px solid var-auxilary-color
var-color--list-header = var-list-text-color
var-text-shadow--list-header = none
var-border-top--list-header = none
var-border-bottom--list-header = none
var-background-color--list-header = var-list-header-background-color
/* Overlay */
var-modal-bg-color = #e5e9e8
var-overlay__header-border = 1px solid #d3d7d7
/* Progress bar */
var-bar-bg-color = var-background-color--down
var-progress-bg-color = #e0f0fa

/* Checkbox */
var-border-checkbox = 1px solid var-auxilary-color
var-border--checkbox--active = 1px solid var-key-color
var-border--checkbox--focus = 1px solid var-key-color
var-border--checkmark = 7px solid var-key-color
var-background-color--checkmark = #fff
var-background-color--down--checkbox = transparent

/* Range input */
var-border--range = none
var-background-color--range = var-key-color
var-background-color--range__thumb = #fff
var-range-border = 1px solid #8a8a8a
var-border--range__thumb--focus = 1px solid #8a8a8a
var-height--range__track = 5px 
var-range-background = var-background-color--down
var-range__slider-border = 1px solid rgba(0, 0, 0, .36)
var-range__slider-background = url("../img/light-grips.png") center center no-repeat #e5e9e8
var-range__slider-bg-size    = 7px 18px
var-range__slider-box-shadow = inset 0 1px 0 rgba(255, 255, 255, .12)

/* Radio Button */
var-color--radio-button = var-list-text-color
var-border--radio-button = 1px solid transparent
var-border--radio-button--before = 1px solid var-auxilary-color
var-border--radio-button--active = 1px solid var-key-color
var-border--radio-button--focus = 1px solid var-key-color
var-background--radio-button--before = #fff
var-background--radio-button = var-key-color
var-background-color--down--radio-button = transparent
var-box-shadow--radio-button = 0 1px rgba(255,255,255,0.50)

/* Tab bar */
var-border-top--tab-bar = 1px solid var-tab-bar-border-color
var-background-color--tab-bar = var-tab-bar-background-color
var-border--tab-bar__button = none
var-color--tab-bar__button = var-auxilary-color
var-color--tab-bar--active = var-key-color
var-background-color--tab-bar__button = transparent
var-background-color--tab-bar--active = transparent
var-box-shadow--tab-bar--active = none
var-box-shadow--tab-bar__button--focus = none

/* Switch */
var-color--switch__label--left = #0083e8
var-background-color--switch__label--left = var-key-color
var-background-color--switch__label--right = var-auxilary-color
var-background-color--switch__toggle = #fff
var-border--switch__toggle = 1px solid var-auxilary-color
var-border--switch__toggle--focus = 1px solid var-auxilary-color
var-switch--border-radius = 30px
var-height--switch__toggle = 32px
var-line-height--switch__toggle = 32px
var-border-radius--switch__toggle = 50%
var-margin-left--switch__toggle = -20px
var-margin-bottom--switch__toggle = 0
var-margin-top--switch__toggle = 0

/* Bar button */
var-border-right--button-bar__button--active = 1px solid var-key-color
var-border-right--button-bar__button--focus = 1px solid var-key-color
var-border--button-bar__button = none
var-border-right--button-bar__button__first = 1px solid var-key-color
var-border-right--button-bar__button = 1px solid var-key-color
var-border-right--button-bar__button__last = none
var-background-color--button-bar = darken(var-key-color, var-dark)
var-background-color--button-bar--button--active = var-secondary-color !important
var-background-color--button-bar--button--hover = lighten(var-key-color, var-light)
var-color--button-bar__button = #fff
var-color--button-bar__button--active = var-key-color

/* Button */
var-color__button = #fff
var-color--button--active = #fff
var-quiet-button-color = var-key-color
var-border--button = none
var-background-color__button = var-key-color
var-background-color--hover__button = lighten(var-key-color, var-light)
var-background-color--down__button = lighten(var-key-color, var-lighter)

/* Button Quiet*/
var-background-color--quiet-active = transparent
var-background-color--quiet-hover = transparent
var-color--active__button--quiet = lighten(var-key-color, var-lighter)
var-border--hover__button--quiet = none
var-border--active__button--quiet = none

/* Notification */
var-notification-border-radius = 50%

/* Search-Input */
var-background-color--search-input = lighten(var-secondary-color, 3)
var-background-color--search-input--focus = var-search-input-background-color--focus
var-search-input--border-radius = 4px
var-border--search-input = none
var-border--search-input--focus = none
