/* Your css content here */
.itune {
    background-image: url(http://i1-news.softpedia-static.com/images/news2/Download-iTunes-11-0-1-2.jpg?1355472871);
    background-size: 90%;
    background-repeat : no-repeat;
    width: 40px;
    height: 40px;
}

.itune-active {
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRQyzS821C3RG4angjvPZOGTeLMMQC1fsA31FU7zhVeyLdfIWFr);
    background-size: 90%;
    background-repeat : no-repeat;
    width: 40px;
    height: 40px;
}