
:root {
  /* variables for iOS components */
  --background-color: #0d0d0d;
  --text-color: #fff;
  --sub-text-color: #999;
  --highlight-color: #ffa101;
  --second-highlight-color: #da5926;
  --border-color: #242424;
  --button-background-color: var(--highlight-color);
  --button-cta-background-color: var(--second-highlight-color);
  --button-light-color: white;
  --toolbar-background-color: #181818;
  --toolbar-button-color: var(--highlight-color);
  --toolbar-text-color: #fff;
  --toolbar-border-color: #242424;
  --button-bar-color: var(--highlight-color);
  --button-bar-active-text-color: #fff;
  --button-bar-active-background-color: color(var(--button-bar-color) b(80%));
  --segment-color: var(--highlight-color);
  --segment-active-text-color: #fff;
  --segment-active-background-color: color(var(--segment-color) b(80%));
  --list-background-color: #181818;
  --list-header-background-color: #111;
  --list-tap-active-background-color: #262626;
  --list-item-chevron-color: #383833;
  --progress-bar-color: var(--highlight-color);
  --progress-bar-secondary-color: color(var(--progress-bar-color) tint(50%));
  --progress-bar-background-color: transparent;
  --progress-circle-primary-color: var(--highlight-color);
  --progress-circle-secondary-color: color(var(--progress-circle-primary-color) tint(50%));
  --progress-circle-background-color: transparent;
  --tabbar-background-color: #212121;
  --tabbar-text-color: #aaa;
  --tabbar-highlight-text-color: var(--highlight-color);
  --tabbar-border-color: #0d0d0d;
  --switch-highlight-color: #44db5e;
  --switch-border-color: #666;
  --switch-background-color: var(--background-color);
  --range-track-background-color: #6b6f74;
  --range-track-background-color-active: #bbb;
  --range-thumb-background-color: #fff;
  --modal-background-color: rgba(0, 0, 0, 0.7);
  --modal-text-color: #fff;
  --alert-dialog-background-color: #f4f4f4;
  --alert-dialog-text-color: #1f1f21;
  --alert-dialog-button-color: var(--highlight-color);
  --alert-dialog-separator-color: #ddd;
  --dialog-background-color: #f4f4f4;
  --dialog-text-color: #1f1f21;
  --popover-background-color: #242424;
  --popover-text-color: var(--text-color);
  --notification-background-color: #00c0e3;
  --search-input-background-color: color(white a(9%));
  --fab-text-color: #ffffff;
  --fab-background-color: var(--highlight-color);
  --fab-active-background-color: color(var(--fab-background-color) a(70%));
  --card-background-color: var(--border-color);
  --card-text-color: var(--text-color);
  --toast-background-color: #ccc;
  --toast-text-color: #000;
  --toast-button-text-color: #000;

  /* variables for Material Design components */
  --material-background-color: var(--background-color);
  --material-text-color: var(--text-color);
  --material-notification-background-color: #e91e63;
  --material-switch-active-thumb-color: #68ccff;
  --material-switch-active-background-color: rgba(104, 204, 255, .5);
  --material-switch-inactive-thumb-color: #f1f1f1;
  --material-switch-inactive-background-color: #b0afaf;
  --material-range-track-color: #bdbdbd;
  --material-range-thumb-color: #31313a;
  --material-toolbar-background-color: #212121;
  --material-toolbar-text-color: #ffffff;
  --material-toolbar-button-color: var(--toolbar-button-color);
  --material-segment-background-color: #292929;
  --material-segment-active-background-color: #404040;
  --material-segment-text-color: color(#fff a(62%));
  --material-segment-active-text-color: #cacaca;
  --material-button-background-color: #2979ff;
  --material-button-text-color: #ffffff;
  --material-list-item-separator-color: #242424;
  --material-list-header-text-color: #8a8a8a;
  --material-checkbox-active-color: #fff;
  --material-checkbox-inactive-color: #717171;
  --material-checkbox-checkmark-color: #000;
  --material-radio-button-active-color: #37474f;
  --material-radio-button-inactive-color: #717171;
  --material-text-input-text-color: #fff;
  --material-text-input-active-color: #fff;
  --material-text-input-inactive-color: #fff;
  --material-dialog-background-color: #424242;
  --material-dialog-text-color: var(--material-text-color);
  --material-alert-dialog-background-color: #ffffff;
  --material-alert-dialog-title-color: #31313a;
  --material-alert-dialog-content-color: rgba(49, 49, 58, 0.85);
  --material-alert-dialog-button-color: #37474f;
  --material-progress-bar-primary-color: #37474f;
  --material-progress-bar-secondary-color: #548ba7;
  --material-progress-bar-background-color: transparent;
  --material-progress-circle-primary-color: #37474f;
  --material-progress-circle-secondary-color: #548ba7;
  --material-progress-circle-background-color: transparent;
  --material-tabbar-background-color: var(--material-toolbar-background-color);
  --material-tabbar-text-color: color(var(--material-toolbar-text-color) a(50%));
  --material-tabbar-highlight-text-color: var(--material-toolbar-text-color);
  --material-tabbar-highlight-color: color(var(--material-toolbar-background-color) tint(7%));
  --material-fab-text-color: #31313a;
  --material-fab-background-color: #ffffff;
  --material-fab-active-background-color: color(white a(75%));
  --material-card-background-color: #242424;
  --material-card-text-color: color(white a(46%));
  --material-toast-background-color: #ccc;
  --material-toast-text-color: #000;
  --material-toast-button-text-color: #583905;
}
