ons-input, ons-radio, ons-checkbox, ons-search-input {
  display: inline-block;
  position: relative;
}

ons-input .text-input,
ons-search-input .search-input {
  width: 100%;
  display: inline-block;
}

ons-input .text-input__label:not(.text-input--material__label) {
  display: none;
}

ons-input:not([float]) .text-input--material__label--active {
  display: none;
}

ons-input[disabled],
ons-radio[disabled],
ons-checkbox[disabled],
ons-segment[disabled],
ons-search-input[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

ons-input input.text-input--material::-webkit-input-placeholder {
  color: transparent;
}

ons-input input.text-input--material::-moz-placeholder {
  color: transparent;
}

ons-input input.text-input--material:-ms-input-placeholder {
  color: transparent;
}
