<div>	
	<div id="navigation" class="topcoat-navigation-bar">
	    <div class="topcoat-navigation-bar__item left quarter">
	        <span ng-click="subPage='partials/subpage2.htm'" id="left-button" class="topcoat-icon-button--quiet">
	          <span id="left-button-icon" class="topcoat-icon topcoat-icon--back"></span>
	        </span>
	    </div> 
	    <div id="center" class="topcoat-navigation-bar__item center half">
	        <span ng-click="subPage='partials/subpage3.htm'" id="title" class="topcoat-navigation-bar__title">Talks</span>        
	    </div> 
	    <div class="topcoat-navigation-bar__item right quarter">
	        <span ng-click="subPage='partials/subpage2.htm'" id="right-button" class="topcoat-icon-button--quiet">
	          <span id="right-button-icon" class="topcoat-icon"></span>
	        </span>
	    </div>
	</div>    
	<ng-include id="content-region" class="content" src="source" ng-animate=" {enter: 'animate-enter', leave: 'animate-leave'} "></ng-include>
</div>