$background-color = #242424
$material-background-color = #333333
$text-color = #fff
$sub-text-color = #87888f
$highlight-color = #3d74ff
$second-highlight-color = #5494d1
$border-color = #424242
$toolbar-background-color = #1a1a1a
$toolbar-button-color = #aaa
$toolbar-text-color = #fff
$toolbar-border-color = rgba(0,0,0,.0)
$buttonbar-color = #ddd
$buttonbar-active-text-color = #2e2f33
$list-background-color = rgba(0,0,0,.0)
$list-header-background-color = #3e3f42
$list-tap-active-background-color = #47484d
$tabbar-background-color = #1a1a1a
$tabbar-text-color = #bdbdbd
$tabbar-highlight-text-color = #549eff
$tabbar-border-color = rgba(0,0,0,.0)
$switch-highlight-color = #3385ff
$modal-background-color = rgba(0, 0, 0, 0.7)
$modal-text-color = #fff
$alert-dialog-background-color = #f4f4f4
$alert-dialog-text-color = #1f1f21
$alert-dialog-button-color = #3d74ff
$alert-dialog-separator-color = #ddd
$dialog-background-color = #f4f4f4
$popover-background-color = black
$popover-text-color = white
$notification-background-color = #3385ff
$material-switch-active-thumb-color = #80cbc4
$material-switch-inactive-thumb-color = #bdbdbd
$material-switch-active-background-color = #5a7f7c
$material-switch-inactive-background-color = #707070
$material-range-track-color = #707070
$material-range-thumb-color = #80cbc4
$material-toolbar-background-color = #009688
$material-toolbar-text-color = #ffffff
$material-toolbar-button-color = #ffffff
$material-toolbar-button-active-color = #26a69a
$material-button-background-color = #80cbc4
$material-button-text-color = #ffffff
$material-checkbox-active-color = #009688
$material-checkbox-inactive-color = #f5f5f5
$material-checkbox-checkmark-color = #333333
$material-radio-button-active-color = #009688
$material-radio-button-inactive-color = #f5f5f5
$material-text-input-text-color = #ffffff
$material-text-input-active-color = #009688
$material-text-input-inactive-color = #4c4c4c
$material-dialog-background-color = #333333
$material-alert-dialog-background-color = #333333
$material-alert-dialog-title-color = #ffffff
$material-alert-dialog-content-color = #afafaf
$material-alert-dialog-button-color = #80cbc4
$material-progress-bar-primary-color = #009688
$material-progress-bar-secondary-color = #80cbc4
$material-progress-bar-background-color = #333333
$material-progress-circle-primary-color = #009688
$material-progress-circle-secondary-color = #80cbc4
$material-tabbar-background-color = #009688
$material-tabbar-text-color = rgba(255, 255, 255, 0.6)
$material-tabbar-highlight-text-color = #ffffff
$material-tabbar-highlight-color = #26a69a
$fab-text-color = #ffffff
$fab-background-color = #80cbc4

@import 'components'