/**
*
* Copyright 2012 Adobe Systems Inc.;
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/


// NOTE: You can't use @extend that break component independent and topdoc parsing.

// internal variables
var-switch-background-color = $border-color
var-switch-checked-background-color = $switch-highlight-color // background color active
var-switch-thumb-background-color = white
var-switch-thumb-border-color = $border-color
var-switch-thumb-border-color-active = $switch-highlight-color
var-switch-height = 32px
var-switch-width = 51px

var-material-switch-active-thumb-color = $material-switch-active-thumb-color
var-material-switch-active-background-color = $material-switch-active-background-color
var-material-switch-inactive-thumb-color = $material-switch-inactive-thumb-color
var-material-switch-inactive-background-color = $material-switch-inactive-background-color

/*! topdoc
  name: Switch
  class: switch
  modifiers:
    :focus: Focus state
    :disabled: Disabled state
  markup:
    <label class="switch">
      <input type="checkbox" class="switch__input">
      <div class="switch__toggle"></div>
    </label>
    <label class="switch">
      <input type="checkbox" class="switch__input" checked>
      <div class="switch__toggle"></div>
    </label>
    <label class="switch">
      <input type="checkbox" class="switch__input" disabled>
      <div class="switch__toggle"></div>
    </label>
*/

switch()
  inline-block()
  reset-box-model()
  hide-input-parent()

switch__toggle()
  inline-block()
  reset-box-model()
  reset-base()
  reset-cursor()

.switch
  switch()
  font-size var-font-size
  padding 0 20px
  border none
  overflow visible
  width var-switch-width
  height var-switch-height
  z-index 0
  text-align left

.switch__input
  hide-input()
  width var-switch-width
  height 44px
  margin-top -((44px-(var-switch-height))/2px)
  top 0px
  left 0px
  transition all 0.2s linear

// switch toggle background
.switch__toggle
  background-color #fff
  position absolute
  top 0px
  left 0px
  right 0px
  bottom 0px
  border-radius 30px
  transition-property all
  transition-duration 0.35s
  transition-timing-function ease-out
  box-shadow inset 0 0 0 2px #e5e5e5

// switch toggle circle
.switch__toggle:before
  reset-box-model()
  position absolute
  content ''
  border-radius 28px
  height 28px
  width 28px
  background-color var-switch-thumb-background-color
  left 2px
  top 2px
  transition-property all
  transition-duration 0.35s
  transition-timing-function cubic-bezier(.59,.01,.5,.99)
  box-shadow 0 0 0 1px #E4E4E4, 0 3px 2px rgba(0,0,0,0.25)

.switch__input:checked + .switch__toggle
  box-shadow inset 0 0 0 2px var-switch-checked-background-color
  background-color var-switch-checked-background-color

.switch__input:checked + .switch__toggle:before
  transform translateX(20px)
  box-shadow 0 3px 2px rgba(0,0,0,0.25)

.switch__input:not(:checked) + .switch__toggle:before
  transform translateX(-1px)

.switch__input:disabled + .switch__toggle
  disabled()

/*! topdoc
  name: Material Switch
  use: Switch
  modifiers:
    :focus: Focus state
    :disabled: Disabled state
  markup:
    <label class="switch switch--material">
      <input type="checkbox" class="switch__input switch--material__input">
      <div class="switch__toggle switch--material__toggle"></div>
    </label>
    <label class="switch switch--material">
      <input type="checkbox" class="switch__input switch--material__input" checked>
      <div class="switch__toggle switch--material__toggle"></div>
    </label>
    <label class="switch switch--material">
      <input type="checkbox" class="switch__input switch--material__input" disabled>
      <div class="switch__toggle switch--material__toggle"></div>
    </label>
*/

.switch--material
  width 36px
  height 20px
  padding 0 10px

.switch--material__toggle
  background-color var-material-switch-inactive-background-color
  margin-top 5px
  height 14px
  box-shadow none

.switch--material__input
  hide-input()

.switch--material__input:checked + .switch--material__toggle:before
  transform translateX(16px)

// switch toggle circle
.switch--material__toggle:before
  background-color var-material-switch-active-thumb-color
  left 0px
  margin-top -5px
  width 20px
  height 20px
  shadow-2()

.switch--material__input:checked + .switch--material__toggle
  background-color var-material-switch-active-background-color
  box-shadow none

.switch--material__input:not(:checked) + .switch--material__toggle:before
  background-color var-material-switch-inactive-thumb-color
  shadow-1()
  transform translateX(0px)

.switch--material__input:disabled + .switch--material__toggle
  disabled()
